<a href="/" class="no_border">
    <svg class="beeldmerk" width="269px" height="595px" viewBox="0 0 269 595" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
        <linearGradient x1="49.9973468%" y1="100.030675%" x2="49.9973468%" y2="0.0160429448%" id="linearGradient-1">
        <stop offset="0%"></stop>
        <stop offset="100%"></stop>
        </linearGradient>
        <linearGradient x1="49.9973468%" y1="100.030675%" x2="49.9973468%" y2="0.0160429448%" id="linearGradient-2">
            <stop offset="0%"></stop>
            <stop offset="100%"></stop>
        </linearGradient>
        </defs>

        <path d="M268.5,214.6 C260.6,214.6 257.2,218.6 248.6,229.2 C239.3,241.1 226.7,257 201.6,257 C176.5,257 163.8,241.1 154.6,229.2 C146,218.6 142.7,214.6 134.7,214.6 C126.8,214.6 123.4,218.6 114.8,229.2 C105.5,241.1 92.9,257 67.8,257 C42.6,257 30,241.1 20.8,229.2 C12.2,218.6 8.9,214.6 0.9,214.6 L0.9,179.5 C26.1,179.5 38.7,195.4 47.9,207.3 C56.5,217.9 59.8,221.9 67.8,221.9 C75.7,221.9 79.1,217.9 87.7,207.3 C97,195.4 109.6,179.5 134.7,179.5 C159.9,179.5 172.5,195.4 181.7,207.3 C190.3,217.9 193.6,221.9 201.6,221.9 C209.5,221.9 212.9,217.9 221.5,207.3 C230.8,195.4 243.4,179.5 268.5,179.5 L268.5,214.6 Z"
              id="wave_bottom">
        </path>
        <path d="M268.5,125.2 C260.6,125.2 257.2,129.2 248.6,139.8 C239.3,151.7 226.7,167.6 201.6,167.6 C176.5,167.6 163.8,151.7 154.6,139.8 C146,129.2 142.7,125.2 134.7,125.2 C126.8,125.2 123.4,129.2 114.8,139.8 C105.5,151.7 92.9,167.6 67.8,167.6 C42.6,167.6 30,151.7 20.8,139.8 C12.2,129.2 8.9,125.2 0.9,125.2 L0.9,90.1 C26.1,90.1 38.7,106 47.9,117.9 C56.5,128.5 59.8,132.5 67.8,132.5 C75.7,132.5 79.1,128.5 87.7,117.9 C97,106 109.6,90.1 134.7,90.1 C159.9,90.1 172.5,106 181.7,117.9 C190.3,128.5 193.6,132.5 201.6,132.5 C209.5,132.5 212.9,128.5 221.5,117.9 C230.8,106 243.4,90.1 268.5,90.1 L268.5,125.2 Z"
              id="wave_middle" fill="url(#linearGradient-2)">
        </path>
        <path d="M268.5,35.1 C260.6,35.1 257.2,39.1 248.6,49.7 C239.3,61.6 226.7,77.5 201.6,77.5 C176.5,77.5 163.8,61.6 154.6,49.7 C146,39.1 142.7,35.1 134.7,35.1 C126.8,35.1 123.4,39.1 114.8,49.7 C105.5,61.6 92.9,77.5 67.8,77.5 C42.6,77.5 30,61.6 20.8,49.7 C12.2,39.1 8.9,35.1 0.9,35.1 L0.9,0 C26.1,0 38.7,15.9 47.9,27.8 C56.5,38.4 59.8,42.4 67.8,42.4 C75.7,42.4 79.1,38.4 87.7,27.8 C97,15.9 109.6,1.42108547e-14 134.7,1.42108547e-14 C159.9,1.42108547e-14 172.5,15.9 181.7,27.8 C190.3,38.4 193.6,42.4 201.6,42.4 C209.5,42.4 212.9,38.4 221.5,27.8 C230.8,15.9 243.4,1.42108547e-14 268.5,0 L268.5,35.1 Z"
              id="wave_top" >
        </path>
        <path d="M268.5,269 C260.6,269 257.2,273 248.6,283.6 C239.9,294.7 228.4,309.3 206.4,311.2 L206.4,456.9 C206.4,505.5 184.3,538.7 134.7,538.7 C85.1,538.7 63,505.5 63,456.9 L63,311.1 C41,309.2 29.4,294.6 20.8,283.5 C12.2,272.9 8.9,268.9 0.9,268.9 L0.9,457.7 C0.9,539.1 46.6,594.9 134.7,594.9 C222.8,594.9 268.5,539.1 268.5,457.7 L268.5,269 Z"
              id="U" fill="url(#linearGradient-1)">
        </path>
    </svg>
</a>