

    <div id='{{../id}}' class="img-container {{../image.alignment}}">

        <img src="https://ucarecdn.com/{{../image.external_id}}/-/resize/34x/{{../image.filename}}"
             data-src="https://ucarecdn.com/{{../image.external_id}}/-/resize/1700x/{{../image.filename}}"
             data-srcset="
        https://ucarecdn.com/{{../image.external_id}}/-/resize/760x/{{../image.filename}} 760w,
        https://ucarecdn.com/{{../image.external_id}}/-/resize/900x/{{../image.filename}} 900w,
        https://ucarecdn.com/{{../image.external_id}}/-/resize/1300x/{{../image.filename}} 1300w,
        https://ucarecdn.com/{{../image.external_id}}/-/resize/1700x/{{../image.filename}} 1700w,
        https://ucarecdn.com/{{../image.external_id}}/-/resize/2500x/{{../image.filename}} 2500w"

        {{#ifEquals size 'half'}}
             sizes="(min-width: 900px) 50vw, 100vw"
        {{/ifEquals}}
        {{#ifEquals size 'third'}}
            sizes="(min-width: 900px) 33vw, 100vw"
        {{/ifEquals}}
        {{#ifEquals size 'fourth'}}
             sizes="(min-width: 900px) 25vw, 100vw"
        {{/ifEquals}}

         alt="{{../image.alttext}}"
         title="{{../image.caption}}"
         class="lazyload {{../class}} "

         {{#ifEquals ../class 'rellax'}}data-rellax-speed="{{../rellax-speed}}"{{/ifEquals}}

         data-sizes="auto"/>



    </div>
