class="blending-background"
style="background:
linear-gradient(to right, rgba(222,220,0,.35) 0%, rgba(230,0,126,.35)100%),
linear-gradient(to right, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0)100%),
url('https://ucarecdn.com/{{image.external_id}}/-/resize/760x/{{image.filename}}') 0px"