{{#ifEquals type 'page' }}

    <a class="article block" href="{{../post.url}}" style="background-image:
            url('https://ucarecdn.com/{{ ../post.main_image.external_id}}/-/scale_crop/600x400/{{../post.main_image.filename}}'),
            linear-gradient(to right, rgba(0,0,0,.6), rgba(230,0,126,0))">

        <div class="gradient" style="background-image:

            linear-gradient(to right, rgb(222,220,0), rgb(230,0,126))">
        </div>

        <div class="gradient-IE">
        </div>

        <div class="text">

            <h3>{{{ ../post.title }}}

                {{#if ../post.subtitle}}: {{{../post.subtitle}}}{{/if}}

                {{> icon-arrow}}

            </h3>
        </div>


        <div class="text-aside">
            <h3>{{{ ../post.title }}}


                {{#if ../post.subtitle}}: {{{../post.subtitle}}}{{/if}}
                {{> icon-arrow}}
            </h3>
        </div>
    </a>


{{/ifEquals}}

{{#ifEquals type 'post' }}

    <a class="article block" href="{{../post.url}}" style="background-image:
            url('https://ucarecdn.com/{{ ../post.main_image.external_id}}/-/scale_crop/600x400/{{../post.main_image.filename}}'),
            linear-gradient(to right, rgba(0,0,0,.6), rgba(230,0,126,0))">

        <div class="gradient" style="background-image:

            linear-gradient(to right, rgb(222,220,0), rgb(230,0,126))">
        </div>

        <div class="gradient-IE">
        </div>

        <div class="text">
            <span class="date">{{formatDate ../post.date 'D MMMM YYYY'}}</span>
            <h3>{{#if ../post.interviewee.name }}<span class="underline">{{../post.interviewee.name}}</span>: {{/if}}{{{ ../post.title }}} {{> icon-arrow}}</h3>
        </div>


        <div class="text-aside">
            <span class="date">{{formatDate ../post.date 'D MMMM YYYY'}}</span>
            <h3>{{#if ../post.interviewee.name }}<span class="underline">{{../post.interviewee.name}}</span>: {{/if}}{{{ ../post.title }}} {{> icon-arrow}}</h3>
        </div>

    </a>

{{/ifEquals}}

{{#ifEquals source 'twitter' }}


    <a class="twitter block" href="https://twitter.com/{{../post.authorId}}/status/{{../post.objectID}}" target="_blank">

        <div class="text">
            <span class="date">{{formatDate ../post.date 'D MMMM YYYY'}}</span>
            <h3>{{#if ../post.authorName }}<span class="underline">{{../post.authorName}}</span>: {{/if}}

                {{{ trim ../post.text 120 }}}

            </h3>



        </div>

        {{> icon-twitter }}


    </a>
{{/ifEquals}}

{{#ifEquals post.[0].type 'comment' }}

    <a class="thread block" href="{{../post.[0].link}}#{{../post.[0].id}}">

        <div class="text">

            <div>
                <span class="date">{{formatDate ../post.[0].date 'D MMMM YYYY'}}</span>
            {{#if ../post.[0].name}}<b>{{../post.[0].name}}</b>:{{/if}}{{{stripHTML (trim ../post.[0].content 70) }}}
            </div>

            <div>
                {{#if ../post.[1].name}}<b>{{../post.[1].name}}</b>:{{/if}}{{{stripHTML (trim ../post.[1].content 70) }}} {{> icon-arrow}}
            </div>

        </div>

        {{> icon-comment }}
    </a>

{{/ifEquals}}





