<article class="block contact">

        <div class="flex-column">

            <div class="flex-row">

                <div>
                    {{> responsive-image image=contact.main_image }}
                </div>
                <div>
                    <h3>{{contact.title}}</h3>

                        <span class="contact_info functie">{{contact.contact.function}}</span>

                    <a href="mailto:manon.raats@warmtebron.nu" class="contact_info email">{{contact.contact.email}}</a>
                    <span class="contact_info phone">{{contact.contact.phone}}</span>
                </div>

            </div>

            <div id="subscribe">
                <p>
                {{#ifEquals format 'short' }}

                    {{../contact.contact.introduction }}

                {{ else }}

                    {{{../contact.content }}}

                {{/ifEquals}}

                </p>
            </div>

        </div>

</article>