<div class="block partner" href="{{partner.partner_url}}" target="_blank">

    <div class="partner_logo" style="background-image:url({{partner.main_image.wp_url }})">

    </div>

    <a href="{{ partner.partner_url}}" target="_blank">
        <h3>{{partner.title}}</h3>
        <p>{{ stripHTML partner.content}}
            {{> icon-arrow}}
        </p>
    </a>
</div>