<div id="blog-rating">

    <h2>
        Hoeveel sterren geef je dit artikel?
    </h2>

    <div id="appreciation-row">

        {{> icon-star }}
        {{> icon-star }}
        {{> icon-star }}
        {{> icon-star }}
        {{> icon-star }}

        <span class="score"></span>

    </div>

    <button>Bevestig</button>

    <div class="message"></div>

</div>