<section id="comment-section">

        {{#ifEquals body.slug 'wat-weten-we-al'}}

            <div id="search-form">
                <input id="archive-search-box" type="text"/><button>zoeken</button>
            </div>

            <div id="result-count-container" style="display:none";><span></span> resultaten</div>


        {{else ifEquals ../body.slug 'risico-en-maatregelen'}}

                    <div id="search-form">
                        <input id="archive-search-box" type="text"/><button>zoeken</button>
                    </div>

                    <div id="result-count-container" style="display:none";><span></span> resultaten</div>

        {{ else }}
            <h2>
             Heb je vragen?
            </h2>
        {{/ifEquals}}

</section>

<section id="commenting">

    {{#ifEquals body.slug 'wat-weten-we-al'}}

        <div id="search-content-container"></div>

        <div id="respondcontainer">
            {{> respond-form language=language body=../body}}
        </div>

    {{else ifEquals ../body.slug 'risico-en-maatregelen'}}

        <div id="search-content-container"></div>

        <div id="respondcontainer">
            {{> respond-form language=language body=../body}}
        </div>

    {{ else }}

        <div id="respondcontainer">
            {{> respond-form language=language body=../body}}
        </div>

        <div id="comments-wrapper">
            {{> comment-list comments=../body.interaction.nested_comments}}
        </div>

{{/ifEquals}}






</section>
