<!-- page specific script -->
<script src="{{baseUrl}}/assets/scripts/{{{body.type}}}.js"></script>


{{#ifEquals body.type 'post' }}

    <script>
        var starRating = new StarRating();
        starRating.init({{../body._id}});
        var pageviews = new PageViews();
        pageviews.init('{{../body.url}}');
    </script>

{{/ifEquals}}

{{#ifEquals body.type 'page' }}

    <script>
        var starRating = new StarRating();
        starRating.init({{../body._id}});
        <!--var pageviews = new PageViews();-->
        <!--pageviews.init('{{../body.url}}');-->
    </script>

{{/ifEquals}}



{{#ifEquals body.type 'homepage' }}

{{/ifEquals}}

{{#ifEquals body.type 'search' }}
    <script src='{{baseUrl}}/assets/vendorjs/algoliasearchLite.min.js'></script>
    <script src="{{baseUrl}}/assets/scripts/archive.js"></script>
    <script src="{{baseUrl}}/assets/scripts/search.js"></script>
    <script>
        var search = Search('nl');
    </script>
{{/ifEquals}}

{{#ifEquals body.slug 'wat-weten-we-al' }}

    <script src='{{baseUrl}}/assets/vendorjs/algoliasearchLite.min.js'></script>
    <script src="{{baseUrl}}/assets/scripts/faq.js"></script>
    <script>
        var search = Search('nl','faq');
    </script>

{{/ifEquals}}

{{#ifEquals body.slug 'risico-en-maatregelen' }}

    <script src='{{baseUrl}}/assets/vendorjs/algoliasearchLite.min.js'></script>
    <script src="{{baseUrl}}/assets/scripts/faq.js"></script>
    <script>
        var search = Search('nl','risico');
    </script>

{{/ifEquals}}













