{{! Lazyloading images }}
<script src="{{baseUrl}}/assets/scripts/lazysizes.min.js"></script>
<noscript><style type="text/css">img { opacity: 1; }</style></noscript>

<script type="text/javascript" src="{{baseUrl}}/assets/scripts/moment.min.js"></script>
<script type="text/javascript" src="{{baseUrl}}/assets/scripts/axios.min.js"></script>
<script type="text/javascript" src="{{baseUrl}}/assets/scripts/noframework.waypoints.min.js"></script>
<!--<script src="{{baseUrl}}/assets/scripts/anime.min.js" charset="utf-8"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.min.js"></script>-->
<!--<script type="text/javascript" src="{{baseUrl}}/assets/vendorjs/animation.anime.min.js"></script>-->
<!--<script type="text/javascript" src="{{baseUrl}}/assets/scripts/algoliasearchLite.min.js"></script>-->
<!--<script type="text/javascript" src="{{baseUrl}}/assets/scripts/es6-promise.auto.min.js">-->
<!--<script type="text/javascript" src="{{baseUrl}}/assets/scripts/web3.min.js"></script>-->


<script>
const WP_URL = '{{wordpressUrl}}';
const BASE_URL = '{{baseUrl}}';
</script>

<!--<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7060374/7799392/css/fonts.css" />-->
<link rel="stylesheet" href="{{baseUrl}}/assets/css/main.css?v=3">
