<head>

    <base href="">
    <title>Warmtebron Utrecht - {{or body.title 'Op zoek naar aardwarmte'}}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{or (excerpt body.content) 'Warmte Utrecht onderzoekt of aardwarmte (geothermie) een veilig, haalbaar en betaalbaar alternatief is voor het gebruik van gas en elektriciteit in de provincie.'}}">

    <meta property="og:url"content="{{or body.url 'https://warmtebron.nu/'}}" />
    <meta property="og:title"content="Warmtebron Utrecht - {{or body.title 'Op zoek naar nieuwe bronnen voor warmte en electriciteit'}}" />
    <meta property="og:image"content="https://ucarecdn.com/{{or body.main_image.external_id 'f483fc8b-a574-4b1d-b277-ed0b28a3a80a'}}/-/resize/600x/{{or body.main_image.filename 'MG_8224.jpg'}}" />
    <meta property="og:description" content="{{or (excerpt body.content) 'Aardwarmte (of geothermie) levert duurzame energie. Warmtebron Utrecht onderzoekt of het een
rendabel, veilig en verantwoord alternatief is voor gas en stroom.'}}" />
    <meta property="og:type" content="article" />

    <meta name="twitter:card" content="summary_large_image">
    <!--<meta name="twitter:site" content="@blockdam">-->
    <!--<meta name="twitter:creator" content="@blockdam">-->
    <meta name="twitter:title" content="{{or body.title 'Warmtebron Utrecht'}}">
    <meta name="twitter:description" content="{{or (excerpt body.content) (excerpt body.page.content)}}">
    <meta name="twitter:image" content="https://ucarecdn.com/{{or body.main_image.external_id body.homeContent.main_image.external_id}}/-/resize/600x/{{or body.main_image.filename body.homeContent.main_image.filename}}">

    <link rel="icon" href="https://warmtebron.nu/assets/img/favicon.ico">

    {{> head-scripts }}


    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KPMZSBZ');</script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150294671-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-150294671-1');
    </script>

    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
        (function(f, a, t, h, o, m){
            a[h]=a[h]||function(){
                (a[h].q=a[h].q||[]).push(arguments)
            };
            o=f.createElement('script'),
                    m=f.getElementsByTagName('script')[0];
            o.async=1; o.src=t; o.id='fathom-script';
            m.parentNode.insertBefore(o,m)
        })(document, window, '//warmtebron.nu/stats/tracker.js', 'fathom');
        fathom('set', 'siteId', 'JOXTV');
        fathom('trackPageview');
    </script>
    <!-- / Fathom -->

</head>
