<svg width="241px" height="240px" viewBox="0 0 241 240" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path d="M120.4,0 C54.1,0 0.4,53.7 0.4,120 C0.4,143.6 7.3,165.6 19.1,184.2 L0.4,240 L56.2,221.3 C74.8,233.1 96.8,240 120.4,240 C186.7,240 240.4,186.3 240.4,120 C240.4,53.7 186.7,0 120.4,0 Z" id="Shape"></path>
</svg>