<svg class="icon-arrow" width="255px" height="220px" viewBox="0 0 255 220" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <polygon id="Shape" points="144.6 220 128 202.7 208.9 122.5 0 122.5 0 97.6 208.9 97.6 128 17.3 144.6 0 254.9 110"></polygon>
</svg>