<svg class="icon-hamburger" width="16px" height="12px" viewBox="0 0 16 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="noun_Hamburger_1734938-(1)" transform="translate(-4.000000, -6.000000)">
        <rect id="Rectangle-path" x="0" y="0" width="24" height="24"></rect>
        <path d="M4.5,17.5 L19.5,17.5" id="Shape" stroke-linecap="square"></path>
        <path d="M4.5,6.5 L19.5,6.5" id="Shape" stroke-linecap="square"></path>
        <path d="M4.5,12 L19.5,12" id="Shape" stroke-linecap="square"></path>
    </g>
</svg>