<svg width="68px" height="86px" viewBox="0 0 68 86" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M0.7,77.2 L1.1,8.6 C1.2,2.1 8.3,-2 14,1.3 L63,36 C68.7,39.3 68.6,47.6 62.9,50.8 L13.5,84.7 C7.8,88 0.7,83.8 0.7,77.2 Z" id="Shape"></path>
</svg>