<svg onclick="menu.searchBarOpen()" id="icon-search"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" style="enable-background:new 0 0 100 100;" xml:space="preserve"><g><path d="M44,79.6c7.7,0,14.7-2.4,20.6-6.6l18.6,18.6l8.5-8.5L73,64.5c4.1-5.8,6.6-12.9,6.6-20.6c0-19.6-16-35.6-35.6-35.6   S8.4,24.3,8.4,44S24.3,79.6,44,79.6z M44,20.4C57,20.4,67.6,31,67.6,44S57,67.6,44,67.6C31,67.6,20.4,57,20.4,44S31,20.4,44,20.4z"/></svg>

