<svg width="86px" height="86px" viewBox="0 0 86 86" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="noun_Star_796312" transform="translate(2.000000, 1.000000)" fill-rule="nonzero" stroke-width="4.00204833">
            <g id="Group" transform="translate(0.000000, 0.637820)">
                <polygon id="Shape" points="67.0712252 81.5570553 41.5295583 68.0211105 16.3924386 82.3621811 20.803414 52.7630655 -7.42747261e-07 32.180984 28.2677967 27.4236699 40.5477022 0.362176712 53.6071857 27.021107 81.9999992 30.8782641 61.8034097 52.1117056"></polygon>
            </g>
        </g>
    </g>
</svg>