<div id="menu">
    <div class="background-helper"></div>
    <div class="beeldmerk-background"></div>
    {{> icon-hamburger }}
    {{> woordmerk }}
    <nav>

        <ul id="website">
            <li><a href="/">Home</a></li>
            <li><a href="/wat-weten-we-al/">Wat weten we al</a></li>
            <li><a href="/risico-en-maatregelen/">Risico's</a></li>
            <li><a href="/onderzoek-lean/">Onderzoek Lean</a></li>
            <li><a href="/onderzoek-goud/">Onderzoek Goud</a></li>
            <li><a href="/projectteam/">Projectteam</a></li>
            <li><a href="/nieuws/?filter[type]=post&page=1">Nieuws</a></li>

        </ul>

        {{> subscription-form }}



        <div id="search">
            <!--<h3>Zoek</h3>-->
            <input id="search-bar" type="text" onkeyup="menu.onEnterSearch(event)"></input>
            <span>{{> icon-search}}</span>
        </div>

        <ul id="social_networks">
            <li><a href="https://twitter.com/WarmtebronU" target="_blank">{{> icon-twitter}}</a></li>
            <!--<li><a href="https://twitter.com" target="_blank">{{> icon-facebook}}</a></li>-->
            <li><a href="https://www.linkedin.com/company/warmtebronutrecht" target="_blank">{{> icon-linkedin}}</a></li>
        </ul>

    </nav>
</div>