<div class="newsletter-settings-container">
    <div class="newsletter-settings">
        <div class="newsletter-settings-header">
            <h1>E-mailvoorkeuren</h1>
            <div class="newsletter-settings-email-unsubscribe"></div>
            <div class="newsletter-settings-email"></div>
            <ul class="language-switch">
                <li data-attr="nl">NL</li>
                <li data-attr="en">EN</li>
            </ul>
        </div>
        <div class="newsletter-settings-content">
            <!--<div class="newsletter-settings-content-column">-->
                <!--<p>Hoe vaak wil je van ons horen?</p>-->
                <!--<form>-->
                    <!--<div><label for="subscription-direct"><input type="radio" name="subscription" id="subscription-direct" value="direct"><span>Bij ieder nieuw artikel</span></label></div>-->
                    <!--<div><label for="subscription-direct"><input type="radio" name="subscription" id="subscription-weekly" value="weekly"><span>Wekelijks</span></label></div>-->
                    <!--<div><label for="subscription-direct"><input type="radio" name="subscription" id="subscription-monthly" value="monthly"><span>Maandelijks</span></label></div>-->
                    <!--<div><label style="display: none" for="subscription-direct"><input type="radio" name="subscription" id="subscription-none" value="none"><span>Geen nieuwsbrief ontvangen</span></label></div>-->
                <!--</form>-->
            <!--</div>-->
            <!--<div class="newsletter-settings-content-column">-->
                <!--<p>Op de hoogte gehouden worden over:</p>-->
                <!--<form>-->
                    <!--<div><input type="radio" name="subject" id="subject-all" value="all" onclick="newsletterSettings.onToggleTaxonomies('hide')"><label for="subject-all">Alles over Zuidas</label></div>-->
                    <!--<div><input type="radio" name="subject" id="subject-specific" value="specific" onclick="newsletterSettings.onToggleTaxonomies('show')"><label for="subject-specific">Specifieke thema’s en/of bouwprojecten</label></div>-->
                    <!--<div id="taxonomy-options" class="multiselect">-->
                        <!--<div id="themes"></div>-->
                        <!--<div id="construction-projects">-->
                            <!--<span>Bouwprojecten</span>-->
                            <!--<input type="checkbox" name="" id=""><label for=""></label>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
        </div>
        <div class="newsletter-settings-footer">
            <button onclick="newsletterSettings.onUpdateSubscriber()">Opslaan</button>
            <a href="{{baseUrl}}">Annuleren</a>
        </div>
    </div>
    <div class="newsletter-settings-overlay"><div>
    </div>
