<?xml version="1.0" encoding="UTF-8"?>
<svg width="1261px" height="139px" viewBox="0 0 1261 139" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <title>Waar staan we__GOUD</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <linearGradient x1="-0.00256349206%" y1="49.9769746%" x2="99.9974365%" y2="49.9769746%" id="linearGradient-1">
            <stop stop-color="#FFFFFF" offset="0%"></stop>
            <stop stop-color="#E5007E" offset="5%"></stop>
            <stop stop-color="#DDD504" offset="95%"></stop>
            <stop stop-color="#FFFFFF" offset="100%"></stop>
        </linearGradient>
        <linearGradient x1="-0.00256349206%" y1="-3.31%" x2="99.9974365%" y2="-3.31%" id="linearGradient-2">
            <stop stop-color="#FFFFFF" offset="0%"></stop>
            <stop stop-color="#E5007E" offset="5%"></stop>
            <stop stop-color="#DDD504" offset="95%"></stop>
            <stop stop-color="#FFFFFF" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Waar-staan-we__GOUD">
            <rect id="Rectangle-path" fill="url(#linearGradient-1)" fill-rule="nonzero" x="0.1" y="24.3" width="1260" height="74.7"></rect>
            <g id="Group" transform="translate(31.000000, 54.000000)" fill="#FFFFFF" fill-rule="nonzero">
                <polygon id="Shape" points="6.2 10.5 4.2 10.5 0.9 0.4 2.8 0.4 5.2 8.1 7.6 0.4 9.4 0.4"></polygon>
                <path d="M15.7,9.5 C15.2,10.1 14.2,10.7 13.1,10.7 C12,10.7 11,10.2 10.5,9.5 C9.9,8.8 9.6,8 9.6,6.8 C9.6,5.5 9.9,4.8 10.5,4.1 C11,3.5 12,2.9 13.1,2.9 C14.2,2.9 15.2,3.4 15.7,4.1 C16.3,4.8 16.6,5.6 16.6,6.8 C16.5,8 16.2,8.8 15.7,9.5 Z M14.2,4.9 C14,4.6 13.6,4.4 13.1,4.4 C12.6,4.4 12.2,4.6 12,4.9 C11.6,5.4 11.5,6.1 11.5,6.8 C11.5,7.5 11.6,8.2 12,8.7 C12.2,9 12.6,9.2 13.1,9.2 C13.6,9.2 14,9 14.2,8.7 C14.6,8.2 14.7,7.5 14.7,6.8 C14.7,6.1 14.6,5.4 14.2,4.9 Z" id="Shape"></path>
                <path d="M23.8,9.5 C23.3,10.1 22.3,10.7 21.2,10.7 C20.1,10.7 19.1,10.2 18.6,9.5 C18,8.8 17.7,8 17.7,6.8 C17.7,5.5 18,4.8 18.6,4.1 C19.1,3.5 20.1,2.9 21.2,2.9 C22.3,2.9 23.3,3.4 23.8,4.1 C24.4,4.8 24.7,5.6 24.7,6.8 C24.7,8 24.3,8.8 23.8,9.5 Z M22.3,4.9 C22.1,4.6 21.7,4.4 21.2,4.4 C20.7,4.4 20.3,4.6 20.1,4.9 C19.7,5.4 19.6,6.1 19.6,6.8 C19.6,7.5 19.7,8.2 20.1,8.7 C20.3,9 20.7,9.2 21.2,9.2 C21.7,9.2 22.1,9 22.3,8.7 C22.7,8.2 22.8,7.5 22.8,6.8 C22.8,6.1 22.8,5.4 22.3,4.9 Z" id="Shape"></path>
                <path d="M30.1,4.7 C28.8,4.7 28.2,5.6 28.2,6.8 L28.2,10.5 L26.4,10.5 L26.4,3.1 L27.9,3.1 L28.1,4.2 C28.4,3.3 29.3,3 30.2,3 C30.4,3 30.6,3 30.8,3 L30.8,4.7 C30.5,4.7 30.3,4.7 30.1,4.7 Z" id="Shape"></path>
                <path d="M36.9,9.8 C36.3,10.4 35.4,10.7 34.4,10.7 C33.5,10.7 32.6,10.4 32,9.8 C31.6,9.4 31.2,8.8 31.2,8.1 L32.9,8.1 C32.9,8.4 33.1,8.8 33.3,9 C33.6,9.2 33.9,9.3 34.4,9.3 C35,9.3 35.9,9.2 35.9,8.4 C35.9,8 35.6,7.7 35.2,7.6 C34.5,7.5 33.8,7.5 33.2,7.3 C32.2,7.1 31.5,6.3 31.5,5.3 C31.5,4.5 31.8,4 32.3,3.6 C32.8,3.1 33.6,2.9 34.5,2.9 C35.4,2.9 36.3,3.2 36.8,3.8 C37.2,4.2 37.5,4.8 37.5,5.3 L35.8,5.3 C35.8,5 35.7,4.8 35.5,4.6 C35.3,4.4 34.9,4.3 34.5,4.3 C34.2,4.3 34,4.3 33.7,4.4 C33.4,4.5 33.1,4.8 33.1,5.2 C33.1,5.7 33.6,5.9 34,5.9 C34.7,6 34.9,6 35.6,6.1 C36.8,6.3 37.6,7 37.6,8.2 C37.6,8.9 37.3,9.4 36.9,9.8 Z" id="Shape"></path>
                <path d="M41.8,10.6 C40.3,10.6 39.6,9.7 39.6,8.3 L39.6,4.5 L38.2,4.5 L38.2,3 L39.6,3 L39.6,1.1 L41.4,0.7 L41.4,3 L43.3,3 L43.3,4.5 L41.4,4.5 L41.4,8.1 C41.4,8.7 41.7,8.9 42.2,8.9 C42.6,8.9 42.9,8.9 43.4,8.8 L43.4,10.3 C42.9,10.5 42.4,10.6 41.8,10.6 Z" id="Shape"></path>
                <path d="M49.6,10.5 L49.5,9.5 C49.1,10.2 48.3,10.7 47.4,10.7 C45.8,10.7 44.8,9.6 44.8,8.1 L44.8,3.2 L46.6,3.2 L46.6,7.7 C46.6,8.6 46.9,9.1 47.9,9.1 C48.3,9.1 48.6,8.9 48.8,8.7 C49.2,8.3 49.3,7.6 49.3,7 L49.3,3.1 L51.1,3.1 L51.1,10.5 L49.6,10.5 Z" id="Shape"></path>
                <path d="M58.1,10.5 L58,9.7 C57.6,10.4 56.7,10.7 55.9,10.7 C55.2,10.7 54.5,10.4 54.1,10.1 C53.2,9.4 52.8,8.3 52.8,6.9 C52.8,5.4 53.2,4.3 54.1,3.6 C54.6,3.2 55.2,3 55.9,3 C56.8,3 57.5,3.3 57.8,3.7 L57.8,0.3 L59.6,0.3 L59.6,10.6 L58.1,10.6 L58.1,10.5 Z M56.2,4.4 C55.6,4.4 55.3,4.7 55,5 C54.6,5.5 54.5,6.2 54.5,6.8 C54.5,7.4 54.6,8.1 55,8.6 C55.3,8.9 55.6,9.2 56.2,9.2 C57.6,9.2 57.9,7.9 57.9,6.8 C57.9,5.7 57.6,4.4 56.2,4.4 Z" id="Shape"></path>
                <path d="M61.8,2 L61.8,0.2 L63.7,0.2 L63.7,2 L61.8,2 Z M61.8,10.5 L61.8,3.1 L63.6,3.1 L63.6,10.5 L61.8,10.5 Z" id="Shape"></path>
                <path d="M72.1,7.3 L67.2,7.3 C67.2,7.9 67.4,8.4 67.7,8.8 C68,9 68.3,9.3 68.8,9.3 C69.3,9.3 69.6,9.2 69.9,8.9 C70.1,8.7 70.2,8.5 70.3,8.3 L72,8.3 C72,8.7 71.7,9.3 71.4,9.7 C70.8,10.4 69.9,10.7 68.9,10.7 C67.9,10.7 67.2,10.3 66.6,9.8 C65.9,9.1 65.5,8.1 65.5,6.8 C65.5,5.6 65.9,4.6 66.6,3.8 C67.2,3.2 68,2.9 69,2.9 C70.1,2.9 71.1,3.3 71.7,4.3 C72.2,5.1 72.4,5.9 72.3,6.9 C72.1,6.8 72.1,7.2 72.1,7.3 Z M69.9,4.7 C69.7,4.4 69.3,4.3 68.8,4.3 C68.3,4.3 67.8,4.5 67.6,4.9 C67.3,5.2 67.2,5.6 67.2,6.1 L70.4,6.1 C70.3,5.5 70.2,5 69.9,4.7 Z" id="Shape"></path>
                <polygon id="Shape" points="88 10.5 87 9.5 89.9 6.6 82.2 6.6 82.2 5.2 89.9 5.2 87 2.3 88 1.3 92.6 5.9"></polygon>
                <polygon id="Shape" points="103 10.5 103 0.4 110.2 0.4 110.2 2.1 104.9 2.1 104.9 4.4 109.6 4.4 109.6 6 104.9 6 104.9 8.8 110.2 8.8 110.2 10.5"></polygon>
                <polygon id="Shape" points="115.5 6.7 118 10.5 116 10.5 114.3 8 112.7 10.5 110.8 10.5 113.4 6.7 110.8 3.1 112.8 3.1 114.4 5.5 116 3.1 117.9 3.1"></polygon>
                <path d="M124.8,10.1 C124.3,10.5 123.7,10.7 123,10.7 C122.1,10.7 121.4,10.4 121.1,10 L121.1,13.4 L119.3,13.4 L119.3,3.2 L120.8,3.2 L120.9,4 C121.3,3.3 122.2,3 123,3 C123.7,3 124.3,3.3 124.8,3.6 C125.7,4.3 126.1,5.4 126.1,6.8 C126.1,8.2 125.6,9.3 124.8,10.1 Z M123.8,5 C123.5,4.7 123.2,4.4 122.6,4.4 C121.2,4.4 120.9,5.7 120.9,6.8 C120.9,7.9 121.2,9.2 122.6,9.2 C123.2,9.2 123.5,8.9 123.8,8.6 C124.2,8.1 124.3,7.4 124.3,6.8 C124.3,6.1 124.2,5.5 123.8,5 Z" id="Shape"></path>
                <path d="M129.8,10.6 C128.6,10.6 127.8,10 127.8,8.6 L127.8,0.2 L129.6,0.2 L129.6,8.3 C129.6,8.7 129.7,9 130.3,9 C130.5,9 130.5,9 130.6,9 L130.6,10.5 C130.2,10.5 130.1,10.6 129.8,10.6 Z" id="Shape"></path>
                <path d="M137.5,9.5 C137,10.1 136,10.7 134.9,10.7 C133.8,10.7 132.8,10.2 132.3,9.5 C131.7,8.8 131.4,8 131.4,6.8 C131.4,5.5 131.7,4.8 132.3,4.1 C132.8,3.5 133.8,2.9 134.9,2.9 C136,2.9 137,3.4 137.5,4.1 C138.1,4.8 138.4,5.6 138.4,6.8 C138.4,8 138.1,8.8 137.5,9.5 Z M136.1,4.9 C135.9,4.6 135.5,4.4 135,4.4 C134.5,4.4 134.1,4.6 133.9,4.9 C133.5,5.4 133.4,6.1 133.4,6.8 C133.4,7.5 133.5,8.2 133.9,8.7 C134.1,9 134.5,9.2 135,9.2 C135.5,9.2 135.9,9 136.1,8.7 C136.5,8.2 136.6,7.5 136.6,6.8 C136.6,6.1 136.5,5.4 136.1,4.9 Z" id="Shape"></path>
                <path d="M143.8,4.7 C142.5,4.7 141.9,5.6 141.9,6.8 L141.9,10.5 L140.1,10.5 L140.1,3.1 L141.6,3.1 L141.8,4.2 C142.1,3.3 143,3 143.9,3 C144.1,3 144.3,3 144.5,3 L144.5,4.7 C144.2,4.7 144,4.7 143.8,4.7 Z" id="Shape"></path>
                <path d="M151.2,10.6 C150.4,10.6 150,10.1 149.9,9.6 C149.6,10.2 148.7,10.7 147.7,10.7 C145.9,10.7 145,9.6 145,8.4 C145,7 146.1,6.2 147.5,6.1 L149.7,5.9 L149.7,5.4 C149.7,4.7 149.5,4.2 148.4,4.2 C147.6,4.2 147.1,4.6 147,5.3 L145.3,5.3 C145.4,3.6 146.7,2.9 148.4,2.9 C149.7,2.9 150.7,3.3 151.2,4.4 C151.4,4.9 151.4,5.4 151.4,5.9 L151.4,8.6 C151.4,8.9 151.5,9.1 151.8,9.1 C151.9,9.1 152,9.1 152,9.1 L152,10.4 C151.7,10.5 151.6,10.6 151.2,10.6 Z M149.7,7.2 L147.8,7.3 C147.3,7.3 146.7,7.7 146.7,8.3 C146.7,8.9 147.2,9.2 147.8,9.2 C148.9,9.2 149.7,8.6 149.7,7.5 L149.7,7.2 Z" id="Shape"></path>
                <path d="M156.2,10.6 C154.7,10.6 154,9.7 154,8.3 L154,4.5 L152.6,4.5 L152.6,3 L154,3 L154,1.1 L155.8,0.7 L155.8,3 L157.7,3 L157.7,4.5 L155.8,4.5 L155.8,8.1 C155.8,8.7 156.1,8.9 156.6,8.9 C157,8.9 157.3,8.9 157.8,8.8 L157.8,10.3 C157.2,10.5 156.7,10.6 156.2,10.6 Z" id="Shape"></path>
                <path d="M159.2,2 L159.2,0.2 L161.1,0.2 L161.1,2 L159.2,2 Z M159.2,10.5 L159.2,3.1 L161,3.1 L161,10.5 L159.2,10.5 Z" id="Shape"></path>
                <path d="M169.5,7.3 L164.6,7.3 C164.6,7.9 164.8,8.4 165.1,8.8 C165.4,9 165.7,9.3 166.2,9.3 C166.7,9.3 167,9.2 167.3,8.9 C167.5,8.7 167.6,8.5 167.7,8.3 L169.4,8.3 C169.4,8.7 169.1,9.3 168.8,9.7 C168.2,10.4 167.3,10.7 166.3,10.7 C165.3,10.7 164.6,10.3 164,9.8 C163.3,9.1 162.9,8.1 162.9,6.8 C162.9,5.6 163.3,4.6 164,3.8 C164.6,3.2 165.4,2.9 166.4,2.9 C167.5,2.9 168.5,3.3 169.1,4.3 C169.6,5.1 169.8,5.9 169.7,6.9 C169.5,6.8 169.5,7.2 169.5,7.3 Z M167.3,4.7 C167.1,4.4 166.7,4.3 166.2,4.3 C165.7,4.3 165.2,4.5 165,4.9 C164.7,5.2 164.6,5.6 164.6,6.1 L167.8,6.1 C167.7,5.5 167.6,5 167.3,4.7 Z" id="Shape"></path>
                <polygon id="Shape" points="185.4 10.5 184.4 9.5 187.3 6.6 179.6 6.6 179.6 5.2 187.3 5.2 184.4 2.3 185.4 1.3 190 5.9"></polygon>
                <path d="M206.9,9.5 C206.1,10.3 205.1,10.6 204,10.6 C202.9,10.6 201.9,10.2 201.1,9.5 C200,8.4 199.8,7.1 199.8,5.4 C199.8,3.7 200,2.4 201.1,1.3 C201.9,0.5 202.9,0.2 204,0.2 C205.1,0.2 206.1,0.6 206.9,1.3 C208,2.4 208.2,3.7 208.2,5.4 C208.2,7.1 208,8.4 206.9,9.5 Z M205.6,2.5 C205.2,2.1 204.6,1.8 204,1.8 C203.4,1.8 202.8,2 202.4,2.5 C201.7,3.2 201.7,4.5 201.7,5.4 C201.7,6.3 201.7,7.6 202.4,8.3 C202.8,8.7 203.4,9 204,9 C204.6,9 205.2,8.8 205.6,8.3 C206.3,7.6 206.3,6.3 206.3,5.4 C206.4,4.5 206.3,3.3 205.6,2.5 Z" id="Shape"></path>
                <path d="M214.5,10.5 L214.5,6 C214.5,5.1 214.2,4.6 213.3,4.6 C212.7,4.6 212.3,5 212,5.5 C211.7,6.1 211.8,6.9 211.8,7.5 L211.8,10.5 L210,10.5 L210,3.1 L211.5,3.1 L211.6,4.1 C212,3.3 212.9,3 213.8,3 C215.4,3 216.3,4.1 216.3,5.6 L216.3,10.5 L214.5,10.5 Z" id="Shape"></path>
                <path d="M221,10.6 C219.5,10.6 218.8,9.7 218.8,8.3 L218.8,4.5 L217.4,4.5 L217.4,3 L218.8,3 L218.8,1.1 L220.6,0.7 L220.6,3 L222.5,3 L222.5,4.5 L220.6,4.5 L220.6,8.1 C220.6,8.7 220.9,8.9 221.4,8.9 C221.8,8.9 222.1,8.9 222.6,8.8 L222.6,10.3 C222,10.5 221.5,10.6 221,10.6 Z" id="Shape"></path>
                <polygon id="Shape" points="231.8 10.5 230.2 10.5 228.5 5.5 226.8 10.5 225.2 10.5 223.3 3.1 225 3.1 226.2 7.9 227.7 3.1 229.2 3.1 230.8 7.9 231.9 3.1 233.6 3.1"></polygon>
                <path d="M235,2 L235,0.2 L236.9,0.2 L236.9,2 L235,2 Z M235,10.5 L235,3.1 L236.8,3.1 L236.8,10.5 L235,10.5 Z" id="Shape"></path>
                <polygon id="Shape" points="244.1 10.5 242 7.3 240.8 8.6 240.8 10.5 239 10.5 239 0.2 240.8 0.2 240.8 6.1 243.6 3.1 245.8 3.1 243.2 6 246.1 10.5 244.1 10.5"></polygon>
                <polygon id="Shape" points="252.3 10.5 250.2 7.3 249 8.6 249 10.5 247.2 10.5 247.2 0.2 249 0.2 249 6.1 251.8 3.1 254 3.1 251.4 6 254.3 10.5 252.3 10.5"></polygon>
                <path d="M261.6,7.3 L256.7,7.3 C256.7,7.9 256.9,8.4 257.2,8.8 C257.5,9 257.8,9.3 258.3,9.3 C258.8,9.3 259.1,9.2 259.4,8.9 C259.6,8.7 259.7,8.5 259.8,8.3 L261.5,8.3 C261.5,8.7 261.2,9.3 260.9,9.7 C260.3,10.4 259.4,10.7 258.4,10.7 C257.4,10.7 256.7,10.3 256.1,9.8 C255.4,9.1 255,8.1 255,6.8 C255,5.6 255.4,4.6 256.1,3.8 C256.7,3.2 257.5,2.9 258.5,2.9 C259.6,2.9 260.6,3.3 261.2,4.3 C261.7,5.1 261.9,5.9 261.8,6.9 C261.6,6.8 261.6,7.2 261.6,7.3 Z M259.4,4.7 C259.2,4.4 258.8,4.3 258.3,4.3 C257.8,4.3 257.3,4.5 257.1,4.9 C256.8,5.2 256.7,5.6 256.7,6.1 L259.9,6.1 C259.8,5.5 259.6,5 259.4,4.7 Z" id="Shape"></path>
                <path d="M265.2,10.6 C264,10.6 263.2,10 263.2,8.6 L263.2,0.2 L265,0.2 L265,8.3 C265,8.7 265.1,9 265.7,9 C265.9,9 265.9,9 266,9 L266,10.5 C265.7,10.5 265.6,10.6 265.2,10.6 Z" id="Shape"></path>
                <path d="M267.5,2 L267.5,0.2 L269.4,0.2 L269.4,2 L267.5,2 Z M267.6,10.5 L267.6,3.1 L269.4,3.1 L269.4,10.5 L267.6,10.5 Z" id="Shape"></path>
                <path d="M276.1,10.5 L276.1,6 C276.1,5.1 275.8,4.6 274.9,4.6 C274.3,4.6 273.9,5 273.6,5.5 C273.3,6.1 273.4,6.9 273.4,7.5 L273.4,10.5 L271.6,10.5 L271.6,3.1 L273.1,3.1 L273.2,4.1 C273.6,3.3 274.5,3 275.4,3 C277,3 277.9,4.1 277.9,5.6 L277.9,10.5 L276.1,10.5 Z" id="Shape"></path>
                <path d="M283,13.9 C282.1,13.9 281.2,13.8 280.4,13.3 C279.8,12.9 279.5,12.4 279.5,11.7 C279.5,11.1 279.8,10.5 280.4,10.2 C279.9,9.9 279.7,9.4 279.7,8.9 C279.7,8.3 280,7.8 280.6,7.4 C280.1,6.9 279.9,6.3 279.9,5.6 C279.9,3.8 281.3,2.9 282.9,2.9 C283.5,2.9 284.1,3.1 284.6,3.4 C284.9,2.8 285.5,2.5 286.1,2.5 C286.2,2.5 286.5,2.5 286.6,2.5 L286.6,3.9 C286.6,3.9 286.5,3.9 286.5,3.9 C286.1,3.9 285.7,4 285.6,4.4 C285.8,4.8 286,5.2 286,5.7 C286,7.4 284.6,8.4 283,8.4 C282.6,8.4 282.2,8.3 281.8,8.2 C281.6,8.3 281.4,8.5 281.4,8.7 C281.4,9.1 281.8,9.2 282.2,9.2 L283.4,9.2 C284.1,9.2 285.1,9.2 285.8,9.7 C286.4,10.1 286.7,10.8 286.7,11.5 C286.5,13.4 284.6,13.9 283,13.9 Z M283.1,10.6 L281.7,10.6 C281.3,10.7 281,11 281,11.5 C281,12.4 282.2,12.5 282.9,12.5 C283.6,12.5 284.9,12.5 284.9,11.5 C284.9,10.6 283.8,10.6 283.1,10.6 Z M282.8,4.2 C282,4.2 281.5,4.8 281.5,5.6 C281.5,6.4 282,7 282.8,7 C283.6,7 284.1,6.4 284.1,5.6 C284.1,4.8 283.6,4.2 282.8,4.2 Z" id="Shape"></path>
                <polygon id="Shape" points="302.1 10.5 301.1 9.5 304 6.6 296.3 6.6 296.3 5.2 304 5.2 301.1 2.3 302.1 1.3 306.7 5.9"></polygon>
                <path d="M349.6,10.5 L347.9,6.7 L345.7,6.7 L345.7,10.5 L343.9,10.5 L343.9,0.4 L348.2,0.4 C350.6,0.4 351.7,1.9 351.7,3.5 C351.7,4.9 351,5.9 349.9,6.3 L351.7,10.4 L349.6,10.4 L349.6,10.5 Z M348.1,2 L345.7,2 L345.7,5 L348.1,5 C349.1,5 349.7,4.5 349.7,3.5 C349.8,2.7 349.2,2 348.1,2 Z" id="Shape"></path>
                <path d="M359.3,7.3 L354.4,7.3 C354.4,7.9 354.6,8.4 354.9,8.8 C355.2,9 355.5,9.3 356,9.3 C356.5,9.3 356.8,9.2 357.1,8.9 C357.3,8.7 357.4,8.5 357.5,8.3 L359.2,8.3 C359.2,8.7 358.9,9.3 358.6,9.7 C358,10.4 357.1,10.7 356.1,10.7 C355.1,10.7 354.4,10.3 353.8,9.8 C353.1,9.1 352.7,8.1 352.7,6.8 C352.7,5.6 353.1,4.6 353.8,3.8 C354.4,3.2 355.2,2.9 356.2,2.9 C357.3,2.9 358.3,3.3 358.9,4.3 C359.4,5.1 359.6,5.9 359.5,6.9 C359.3,6.8 359.3,7.2 359.3,7.3 Z M357.1,4.7 C356.9,4.4 356.5,4.3 356,4.3 C355.5,4.3 355,4.5 354.8,4.9 C354.5,5.2 354.4,5.6 354.4,6.1 L357.6,6.1 C357.5,5.5 357.3,5 357.1,4.7 Z" id="Shape"></path>
                <path d="M366.5,10.6 C365.7,10.6 365.3,10.1 365.2,9.6 C364.9,10.2 364,10.7 363,10.7 C361.2,10.7 360.3,9.6 360.3,8.4 C360.3,7 361.4,6.2 362.8,6.1 L365,5.9 L365,5.4 C365,4.7 364.8,4.2 363.7,4.2 C362.9,4.2 362.4,4.6 362.3,5.3 L360.6,5.3 C360.7,3.6 362,2.9 363.7,2.9 C365,2.9 366,3.3 366.5,4.4 C366.7,4.9 366.7,5.4 366.7,5.9 L366.7,8.6 C366.7,8.9 366.8,9.1 367.1,9.1 C367.2,9.1 367.3,9.1 367.3,9.1 L367.3,10.4 C367.1,10.5 366.9,10.6 366.5,10.6 Z M365,7.2 L363.1,7.3 C362.6,7.3 362,7.7 362,8.3 C362,8.9 362.5,9.2 363.1,9.2 C364.2,9.2 365,8.6 365,7.5 L365,7.2 Z" id="Shape"></path>
                <path d="M370.9,10.6 C369.7,10.6 368.9,10 368.9,8.6 L368.9,0.2 L370.7,0.2 L370.7,8.3 C370.7,8.7 370.8,9 371.4,9 C371.6,9 371.6,9 371.7,9 L371.7,10.5 C371.3,10.5 371.3,10.6 370.9,10.6 Z" id="Shape"></path>
                <path d="M373.2,2 L373.2,0.2 L375.1,0.2 L375.1,2 L373.2,2 Z M373.3,10.5 L373.3,3.1 L375.1,3.1 L375.1,10.5 L373.3,10.5 Z" id="Shape"></path>
                <path d="M382.4,9.8 C381.8,10.4 380.9,10.7 379.9,10.7 C379,10.7 378.1,10.4 377.5,9.8 C377.1,9.4 376.7,8.8 376.7,8.1 L378.4,8.1 C378.4,8.4 378.6,8.8 378.8,9 C379.1,9.2 379.4,9.3 379.9,9.3 C380.5,9.3 381.4,9.2 381.4,8.4 C381.4,8 381.1,7.7 380.7,7.6 C380,7.5 379.3,7.5 378.7,7.3 C377.7,7.1 377,6.3 377,5.3 C377,4.5 377.3,4 377.8,3.6 C378.3,3.1 379.1,2.9 380,2.9 C380.9,2.9 381.8,3.2 382.3,3.8 C382.7,4.2 383,4.8 383,5.3 L381.3,5.3 C381.3,5 381.2,4.8 381,4.6 C380.8,4.4 380.4,4.3 380,4.3 C379.7,4.3 379.5,4.3 379.2,4.4 C378.9,4.5 378.6,4.8 378.6,5.2 C378.6,5.7 379.1,5.9 379.5,5.9 C380.2,6 380.4,6 381.1,6.1 C382.3,6.3 383.1,7 383.1,8.2 C383.1,8.9 382.8,9.4 382.4,9.8 Z" id="Shape"></path>
                <path d="M390.3,10.6 C389.5,10.6 389.1,10.1 389,9.6 C388.7,10.2 387.8,10.7 386.8,10.7 C385,10.7 384.1,9.6 384.1,8.4 C384.1,7 385.2,6.2 386.6,6.1 L388.8,5.9 L388.8,5.4 C388.8,4.7 388.6,4.2 387.5,4.2 C386.7,4.2 386.2,4.6 386.1,5.3 L384.4,5.3 C384.5,3.6 385.8,2.9 387.5,2.9 C388.8,2.9 389.8,3.3 390.3,4.4 C390.5,4.9 390.5,5.4 390.5,5.9 L390.5,8.6 C390.5,8.9 390.6,9.1 390.9,9.1 C391,9.1 391.1,9.1 391.1,9.1 L391.1,10.4 C390.9,10.5 390.7,10.6 390.3,10.6 Z M388.8,7.2 L386.9,7.3 C386.4,7.3 385.8,7.7 385.8,8.3 C385.8,8.9 386.3,9.2 386.9,9.2 C388,9.2 388.8,8.6 388.8,7.5 L388.8,7.2 Z" id="Shape"></path>
                <path d="M395.3,10.6 C393.8,10.6 393.1,9.7 393.1,8.3 L393.1,4.5 L391.7,4.5 L391.7,3 L393.1,3 L393.1,1.1 L394.9,0.7 L394.9,3 L396.8,3 L396.8,4.5 L394.9,4.5 L394.9,8.1 C394.9,8.7 395.2,8.9 395.7,8.9 C396.1,8.9 396.4,8.9 396.9,8.8 L396.9,10.3 C396.3,10.5 395.8,10.6 395.3,10.6 Z" id="Shape"></path>
                <path d="M398.3,2 L398.3,0.2 L400.2,0.2 L400.2,2 L398.3,2 Z M398.4,10.5 L398.4,3.1 L400.2,3.1 L400.2,10.5 L398.4,10.5 Z" id="Shape"></path>
                <path d="M408.6,7.3 L403.7,7.3 C403.7,7.9 403.9,8.4 404.2,8.8 C404.5,9 404.8,9.3 405.3,9.3 C405.8,9.3 406.1,9.2 406.4,8.9 C406.6,8.7 406.7,8.5 406.8,8.3 L408.5,8.3 C408.5,8.7 408.2,9.3 407.9,9.7 C407.3,10.4 406.4,10.7 405.4,10.7 C404.4,10.7 403.7,10.3 403.1,9.8 C402.4,9.1 402,8.1 402,6.8 C402,5.6 402.4,4.6 403.1,3.8 C403.7,3.2 404.5,2.9 405.5,2.9 C406.6,2.9 407.6,3.3 408.2,4.3 C408.7,5.1 408.9,5.9 408.8,6.9 C408.7,6.8 408.6,7.2 408.6,7.3 Z M406.4,4.7 C406.2,4.4 405.8,4.3 405.3,4.3 C404.8,4.3 404.3,4.5 404.1,4.9 C403.8,5.2 403.7,5.6 403.7,6.1 L406.9,6.1 C406.9,5.5 406.7,5 406.4,4.7 Z" id="Shape"></path>
                <path d="M418.8,10 C418.3,10.4 417.7,10.6 417,10.6 C416.2,10.6 415.4,10.3 414.9,9.6 L414.8,10.4 L413.3,10.4 L413.3,0.1 L415.1,0.1 L415.1,3.5 C415.4,3.1 416.2,2.8 417,2.8 C417.8,2.8 418.4,3 418.8,3.4 C419.7,4.1 420.1,5.2 420.1,6.7 C420.1,8.2 419.7,9.3 418.8,10 Z M417.9,5 C417.6,4.7 417.3,4.4 416.7,4.4 C415.3,4.4 415,5.7 415,6.8 C415,7.5 415.1,8.3 415.6,8.8 C415.8,9 416.2,9.2 416.6,9.2 C417.2,9.2 417.5,8.9 417.8,8.6 C418.2,8.1 418.3,7.4 418.3,6.8 C418.3,6.2 418.2,5.4 417.9,5 Z" id="Shape"></path>
                <path d="M427.4,9.5 C426.9,10.1 425.9,10.7 424.8,10.7 C423.7,10.7 422.7,10.2 422.2,9.5 C421.6,8.8 421.3,8 421.3,6.8 C421.3,5.5 421.6,4.8 422.2,4.1 C422.7,3.5 423.7,2.9 424.8,2.9 C425.9,2.9 426.9,3.4 427.4,4.1 C428,4.8 428.3,5.6 428.3,6.8 C428.2,8 427.9,8.8 427.4,9.5 Z M425.9,4.9 C425.7,4.6 425.3,4.4 424.8,4.4 C424.3,4.4 423.9,4.6 423.7,4.9 C423.3,5.4 423.2,6.1 423.2,6.8 C423.2,7.5 423.3,8.2 423.7,8.7 C423.9,9 424.3,9.2 424.8,9.2 C425.3,9.2 425.7,9 425.9,8.7 C426.3,8.2 426.4,7.5 426.4,6.8 C426.4,6.1 426.3,5.4 425.9,4.9 Z" id="Shape"></path>
                <path d="M433.6,4.7 C432.3,4.7 431.7,5.6 431.7,6.8 L431.7,10.5 L429.9,10.5 L429.9,3.1 L431.4,3.1 L431.6,4.2 C431.9,3.3 432.8,3 433.7,3 C433.9,3 434.1,3 434.3,3 L434.3,4.7 C434.1,4.7 433.8,4.7 433.6,4.7 Z" id="Shape"></path>
                <path d="M435.5,2 L435.5,0.2 L437.4,0.2 L437.4,2 L435.5,2 Z M435.6,10.5 L435.6,3.1 L437.4,3.1 L437.4,10.5 L435.6,10.5 Z" id="Shape"></path>
                <path d="M444.2,10.5 L444.2,6 C444.2,5.1 443.9,4.6 443,4.6 C442.4,4.6 442,5 441.7,5.5 C441.4,6.1 441.5,6.9 441.5,7.5 L441.5,10.5 L439.7,10.5 L439.7,3.1 L441.2,3.1 L441.3,4.1 C441.7,3.3 442.6,3 443.5,3 C445.1,3 446,4.1 446,5.6 L446,10.5 L444.2,10.5 Z" id="Shape"></path>
                <path d="M451,13.9 C450.1,13.9 449.2,13.8 448.4,13.3 C447.8,12.9 447.5,12.4 447.5,11.7 C447.5,11.1 447.8,10.5 448.4,10.2 C447.9,9.9 447.7,9.4 447.7,8.9 C447.7,8.3 448,7.8 448.6,7.4 C448.1,6.9 447.9,6.3 447.9,5.6 C447.9,3.8 449.3,2.9 450.9,2.9 C451.5,2.9 452.1,3.1 452.6,3.4 C452.9,2.8 453.5,2.5 454.1,2.5 C454.2,2.5 454.5,2.5 454.6,2.5 L454.6,3.9 C454.6,3.9 454.5,3.9 454.5,3.9 C454.1,3.9 453.7,4 453.6,4.4 C453.8,4.8 454,5.2 454,5.7 C454,7.4 452.6,8.4 451,8.4 C450.6,8.4 450.2,8.3 449.8,8.2 C449.6,8.3 449.4,8.5 449.4,8.7 C449.4,9.1 449.8,9.2 450.2,9.2 L451.4,9.2 C452.1,9.2 453.1,9.2 453.8,9.7 C454.4,10.1 454.7,10.8 454.7,11.5 C454.6,13.4 452.6,13.9 451,13.9 Z M451.1,10.6 L449.7,10.6 C449.3,10.7 449,11 449,11.5 C449,12.4 450.2,12.5 450.9,12.5 C451.6,12.5 452.9,12.5 452.9,11.5 C452.9,10.6 451.8,10.6 451.1,10.6 Z M450.8,4.2 C450,4.2 449.5,4.8 449.5,5.6 C449.5,6.4 450,7 450.8,7 C451.6,7 452.1,6.4 452.1,5.6 C452.1,4.8 451.6,4.2 450.8,4.2 Z" id="Shape"></path>
                <polygon id="Shape" points="461.6 10.5 461.6 2.7 459.4 4.3 459.4 2.4 461.8 0.7 463.3 0.7 463.3 10.6 461.6 10.6"></polygon>
                <polygon id="Shape" points="481.2 10.5 480.2 9.5 483.1 6.6 475.4 6.6 475.4 5.2 483.1 5.2 480.2 2.3 481.2 1.3 485.8 5.9"></polygon>
                <polygon id="Shape" points="496.2 10.5 496.2 0.4 503.4 0.4 503.4 2.1 498 2.1 498 4.4 502.7 4.4 502.7 6 498 6 498 8.8 503.3 8.8 503.3 10.5"></polygon>
                <polygon id="Shape" points="508.5 10.5 506.6 10.5 503.9 3.1 505.8 3.1 507.6 8.3 509.4 3.1 511.2 3.1"></polygon>
                <path d="M517.8,10.6 C517,10.6 516.6,10.1 516.5,9.6 C516.2,10.2 515.3,10.7 514.3,10.7 C512.5,10.7 511.6,9.6 511.6,8.4 C511.6,7 512.7,6.2 514.1,6.1 L516.3,5.9 L516.3,5.4 C516.3,4.7 516.1,4.2 515,4.2 C514.2,4.2 513.7,4.6 513.6,5.3 L512,5.3 C512.1,3.6 513.4,2.9 515.1,2.9 C516.4,2.9 517.4,3.3 517.9,4.4 C518.1,4.9 518.1,5.4 518.1,5.9 L518.1,8.6 C518.1,8.9 518.2,9.1 518.5,9.1 C518.6,9.1 518.7,9.1 518.7,9.1 L518.7,10.4 C518.4,10.5 518.2,10.6 517.8,10.6 Z M516.3,7.2 L514.4,7.3 C513.9,7.3 513.3,7.7 513.3,8.3 C513.3,8.9 513.8,9.2 514.4,9.2 C515.5,9.2 516.3,8.6 516.3,7.5 L516.3,7.2 Z" id="Shape"></path>
                <path d="M522.2,10.6 C521,10.6 520.2,10 520.2,8.6 L520.2,0.2 L522,0.2 L522,8.3 C522,8.7 522.1,9 522.7,9 C522.9,9 522.9,9 523,9 L523,10.5 C522.6,10.5 522.6,10.6 522.2,10.6 Z" id="Shape"></path>
                <path d="M529.2,10.5 L529.1,9.5 C528.7,10.2 527.9,10.7 527,10.7 C525.4,10.7 524.4,9.6 524.4,8.1 L524.4,3.2 L526.2,3.2 L526.2,7.7 C526.2,8.6 526.5,9.1 527.5,9.1 C527.9,9.1 528.2,8.9 528.4,8.7 C528.8,8.3 528.9,7.6 528.9,7 L528.9,3.1 L530.7,3.1 L530.7,10.5 L529.2,10.5 Z" id="Shape"></path>
                <path d="M538.5,10.6 C537.7,10.6 537.3,10.1 537.2,9.6 C536.9,10.2 536,10.7 535,10.7 C533.2,10.7 532.3,9.6 532.3,8.4 C532.3,7 533.4,6.2 534.8,6.1 L537,5.9 L537,5.4 C537,4.7 536.8,4.2 535.7,4.2 C534.9,4.2 534.4,4.6 534.3,5.3 L532.6,5.3 C532.7,3.6 534,2.9 535.7,2.9 C537,2.9 538,3.3 538.5,4.4 C538.7,4.9 538.7,5.4 538.7,5.9 L538.7,8.6 C538.7,8.9 538.8,9.1 539.1,9.1 C539.2,9.1 539.3,9.1 539.3,9.1 L539.3,10.4 C539.1,10.5 538.9,10.6 538.5,10.6 Z M537,7.2 L535.1,7.3 C534.6,7.3 534,7.7 534,8.3 C534,8.9 534.5,9.2 535.1,9.2 C536.2,9.2 537,8.6 537,7.5 L537,7.2 Z" id="Shape"></path>
                <path d="M543.5,10.6 C542,10.6 541.3,9.7 541.3,8.3 L541.3,4.5 L539.9,4.5 L539.9,3 L541.3,3 L541.3,1.1 L543.1,0.7 L543.1,3 L545,3 L545,4.5 L543,4.5 L543,8.1 C543,8.7 543.3,8.9 543.8,8.9 C544.2,8.9 544.5,8.9 545,8.8 L545,10.3 C544.5,10.5 544,10.6 543.5,10.6 Z" id="Shape"></path>
                <path d="M546.5,2 L546.5,0.2 L548.4,0.2 L548.4,2 L546.5,2 Z M546.6,10.5 L546.6,3.1 L548.4,3.1 L548.4,10.5 L546.6,10.5 Z" id="Shape"></path>
                <path d="M556.8,7.3 L551.9,7.3 C551.9,7.9 552.1,8.4 552.4,8.8 C552.7,9 553,9.3 553.5,9.3 C554,9.3 554.3,9.2 554.6,8.9 C554.8,8.7 554.9,8.5 555,8.3 L556.7,8.3 C556.7,8.7 556.4,9.3 556.1,9.7 C555.5,10.4 554.6,10.7 553.6,10.7 C552.6,10.7 551.9,10.3 551.3,9.8 C550.6,9.1 550.2,8.1 550.2,6.8 C550.2,5.6 550.6,4.6 551.3,3.8 C551.9,3.2 552.7,2.9 553.7,2.9 C554.8,2.9 555.8,3.3 556.4,4.3 C556.9,5.1 557.1,5.9 557,6.9 C556.9,6.8 556.8,7.2 556.8,7.3 Z M554.6,4.7 C554.4,4.4 554,4.3 553.5,4.3 C553,4.3 552.5,4.5 552.3,4.9 C552,5.2 551.9,5.6 551.9,6.1 L555.1,6.1 C555.1,5.5 554.9,5 554.6,4.7 Z" id="Shape"></path>
                <polygon id="Shape" points="572.7 10.5 571.7 9.5 574.6 6.6 567 6.6 567 5.2 574.7 5.2 571.8 2.3 572.8 1.3 577.4 5.9"></polygon>
                <path d="M593.5,10.5 L591.8,6.7 L589.6,6.7 L589.6,10.5 L587.8,10.5 L587.8,0.4 L592.1,0.4 C594.5,0.4 595.6,1.9 595.6,3.5 C595.6,4.9 594.9,5.9 593.8,6.3 L595.6,10.4 L593.5,10.4 L593.5,10.5 Z M592,2 L589.6,2 L589.6,5 L592,5 C593,5 593.6,4.5 593.6,3.5 C593.7,2.7 593.1,2 592,2 Z" id="Shape"></path>
                <path d="M603.2,7.3 L598.3,7.3 C598.3,7.9 598.5,8.4 598.8,8.8 C599.1,9 599.4,9.3 599.9,9.3 C600.4,9.3 600.7,9.2 601,8.9 C601.2,8.7 601.3,8.5 601.4,8.3 L603.1,8.3 C603.1,8.7 602.8,9.3 602.5,9.7 C601.9,10.4 601,10.7 600,10.7 C599,10.7 598.3,10.3 597.7,9.8 C597,9.1 596.6,8.1 596.6,6.8 C596.6,5.6 597,4.6 597.7,3.8 C598.3,3.2 599.1,2.9 600.1,2.9 C601.2,2.9 602.2,3.3 602.8,4.3 C603.3,5.1 603.5,5.9 603.4,6.9 C603.2,6.8 603.2,7.2 603.2,7.3 Z M600.9,4.7 C600.7,4.4 600.3,4.3 599.8,4.3 C599.3,4.3 598.8,4.5 598.6,4.9 C598.3,5.2 598.2,5.6 598.2,6.1 L601.4,6.1 C601.4,5.5 601.2,5 600.9,4.7 Z" id="Shape"></path>
                <path d="M610.4,10.6 C609.6,10.6 609.2,10.1 609.1,9.6 C608.8,10.2 607.9,10.7 606.9,10.7 C605.1,10.7 604.2,9.6 604.2,8.4 C604.2,7 605.3,6.2 606.7,6.1 L608.9,5.9 L608.9,5.4 C608.9,4.7 608.7,4.2 607.6,4.2 C606.8,4.2 606.3,4.6 606.2,5.3 L604.5,5.3 C604.6,3.6 605.9,2.9 607.6,2.9 C608.9,2.9 609.9,3.3 610.4,4.4 C610.6,4.9 610.6,5.4 610.6,5.9 L610.6,8.6 C610.6,8.9 610.7,9.1 611,9.1 C611.1,9.1 611.2,9.1 611.2,9.1 L611.2,10.4 C611,10.5 610.8,10.6 610.4,10.6 Z M608.9,7.2 L607,7.3 C606.5,7.3 605.9,7.7 605.9,8.3 C605.9,8.9 606.4,9.2 607,9.2 C608.1,9.2 608.9,8.6 608.9,7.5 L608.9,7.2 Z" id="Shape"></path>
                <path d="M614.8,10.6 C613.6,10.6 612.8,10 612.8,8.6 L612.8,0.2 L614.6,0.2 L614.6,8.3 C614.6,8.7 614.7,9 615.3,9 C615.5,9 615.5,9 615.6,9 L615.6,10.5 C615.2,10.5 615.2,10.6 614.8,10.6 Z" id="Shape"></path>
                <path d="M617.1,2 L617.1,0.2 L619,0.2 L619,2 L617.1,2 Z M617.2,10.5 L617.2,3.1 L619,3.1 L619,10.5 L617.2,10.5 Z" id="Shape"></path>
                <path d="M626.3,9.8 C625.7,10.4 624.8,10.7 623.8,10.7 C622.9,10.7 622,10.4 621.4,9.8 C621,9.4 620.6,8.8 620.6,8.1 L622.3,8.1 C622.3,8.4 622.5,8.8 622.7,9 C623,9.2 623.3,9.3 623.8,9.3 C624.4,9.3 625.3,9.2 625.3,8.4 C625.3,8 625,7.7 624.6,7.6 C623.9,7.5 623.2,7.5 622.6,7.3 C621.6,7.1 620.9,6.3 620.9,5.3 C620.9,4.5 621.2,4 621.7,3.6 C622.2,3.1 623,2.9 623.9,2.9 C624.8,2.9 625.7,3.2 626.2,3.8 C626.6,4.2 626.9,4.8 626.9,5.3 L625.2,5.3 C625.2,5 625.1,4.8 624.9,4.6 C624.7,4.4 624.3,4.3 623.9,4.3 C623.6,4.3 623.4,4.3 623.1,4.4 C622.8,4.5 622.5,4.8 622.5,5.2 C622.5,5.7 623,5.9 623.4,5.9 C624.1,6 624.3,6 625,6.1 C626.2,6.3 627,7 627,8.2 C626.9,8.9 626.7,9.4 626.3,9.8 Z" id="Shape"></path>
                <path d="M634.2,10.6 C633.4,10.6 633,10.1 632.9,9.6 C632.6,10.2 631.7,10.7 630.7,10.7 C628.9,10.7 628,9.6 628,8.4 C628,7 629.1,6.2 630.5,6.1 L632.7,5.9 L632.7,5.4 C632.7,4.7 632.5,4.2 631.4,4.2 C630.6,4.2 630.1,4.6 630,5.3 L628.3,5.3 C628.4,3.6 629.7,2.9 631.4,2.9 C632.7,2.9 633.7,3.3 634.2,4.4 C634.4,4.9 634.4,5.4 634.4,5.9 L634.4,8.6 C634.4,8.9 634.5,9.1 634.8,9.1 C634.9,9.1 635,9.1 635,9.1 L635,10.4 C634.8,10.5 634.6,10.6 634.2,10.6 Z M632.7,7.2 L630.8,7.3 C630.3,7.3 629.7,7.7 629.7,8.3 C629.7,8.9 630.2,9.2 630.8,9.2 C631.9,9.2 632.7,8.6 632.7,7.5 L632.7,7.2 Z" id="Shape"></path>
                <path d="M639.2,10.6 C637.7,10.6 637,9.7 637,8.3 L637,4.5 L635.6,4.5 L635.6,3 L637,3 L637,1.1 L638.8,0.7 L638.8,3 L640.7,3 L640.7,4.5 L638.8,4.5 L638.8,8.1 C638.8,8.7 639.1,8.9 639.6,8.9 C640,8.9 640.3,8.9 640.8,8.8 L640.8,10.3 C640.2,10.5 639.7,10.6 639.2,10.6 Z" id="Shape"></path>
                <path d="M642.2,2 L642.2,0.2 L644.1,0.2 L644.1,2 L642.2,2 Z M642.3,10.5 L642.3,3.1 L644.1,3.1 L644.1,10.5 L642.3,10.5 Z" id="Shape"></path>
                <path d="M652.5,7.3 L647.6,7.3 C647.6,7.9 647.8,8.4 648.1,8.8 C648.4,9 648.7,9.3 649.2,9.3 C649.7,9.3 650,9.2 650.3,8.9 C650.5,8.7 650.6,8.5 650.7,8.3 L652.4,8.3 C652.4,8.7 652.1,9.3 651.8,9.7 C651.2,10.4 650.3,10.7 649.3,10.7 C648.3,10.7 647.6,10.3 647,9.8 C646.3,9.1 645.9,8.1 645.9,6.8 C645.9,5.6 646.3,4.6 647,3.8 C647.6,3.2 648.4,2.9 649.4,2.9 C650.5,2.9 651.5,3.3 652.1,4.3 C652.6,5.1 652.8,5.9 652.7,6.9 C652.5,6.8 652.5,7.2 652.5,7.3 Z M650.3,4.7 C650.1,4.4 649.7,4.3 649.2,4.3 C648.7,4.3 648.2,4.5 648,4.9 C647.7,5.2 647.6,5.6 647.6,6.1 L650.8,6.1 C650.8,5.5 650.6,5 650.3,4.7 Z" id="Shape"></path>
                <path d="M662.7,10 C662.2,10.4 661.6,10.6 660.9,10.6 C660.1,10.6 659.3,10.3 658.8,9.6 L658.7,10.4 L657.2,10.4 L657.2,0.1 L659,0.1 L659,3.5 C659.3,3.1 660.1,2.8 660.9,2.8 C661.7,2.8 662.3,3 662.7,3.4 C663.6,4.1 664,5.2 664,6.7 C664,8.2 663.6,9.3 662.7,10 Z M661.8,5 C661.5,4.7 661.2,4.4 660.6,4.4 C659.2,4.4 658.9,5.7 658.9,6.8 C658.9,7.5 659,8.3 659.5,8.8 C659.7,9 660.1,9.2 660.5,9.2 C661.1,9.2 661.4,8.9 661.7,8.6 C662.1,8.1 662.2,7.4 662.2,6.8 C662.2,6.2 662.1,5.4 661.8,5 Z" id="Shape"></path>
                <path d="M671.3,9.5 C670.8,10.1 669.8,10.7 668.7,10.7 C667.6,10.7 666.6,10.2 666.1,9.5 C665.5,8.8 665.2,8 665.2,6.8 C665.2,5.5 665.5,4.8 666.1,4.1 C666.6,3.5 667.6,2.9 668.7,2.9 C669.8,2.9 670.8,3.4 671.3,4.1 C671.9,4.8 672.2,5.6 672.2,6.8 C672.1,8 671.8,8.8 671.3,9.5 Z M669.8,4.9 C669.6,4.6 669.2,4.4 668.7,4.4 C668.2,4.4 667.8,4.6 667.6,4.9 C667.2,5.4 667.1,6.1 667.1,6.8 C667.1,7.5 667.2,8.2 667.6,8.7 C667.8,9 668.2,9.2 668.7,9.2 C669.2,9.2 669.6,9 669.8,8.7 C670.2,8.2 670.3,7.5 670.3,6.8 C670.3,6.1 670.2,5.4 669.8,4.9 Z" id="Shape"></path>
                <path d="M677.5,4.7 C676.2,4.7 675.6,5.6 675.6,6.8 L675.6,10.5 L673.8,10.5 L673.8,3.1 L675.3,3.1 L675.5,4.2 C675.8,3.3 676.7,3 677.6,3 C677.8,3 678,3 678.2,3 L678.2,4.7 C678,4.7 677.7,4.7 677.5,4.7 Z" id="Shape"></path>
                <path d="M679.4,2 L679.4,0.2 L681.3,0.2 L681.3,2 L679.4,2 Z M679.5,10.5 L679.5,3.1 L681.3,3.1 L681.3,10.5 L679.5,10.5 Z" id="Shape"></path>
                <path d="M688.1,10.5 L688.1,6 C688.1,5.1 687.8,4.6 686.9,4.6 C686.3,4.6 685.9,5 685.6,5.5 C685.3,6.1 685.4,6.9 685.4,7.5 L685.4,10.5 L683.6,10.5 L683.6,3.1 L685.1,3.1 L685.2,4.1 C685.6,3.3 686.5,3 687.4,3 C689,3 689.9,4.1 689.9,5.6 L689.9,10.5 L688.1,10.5 Z" id="Shape"></path>
                <path d="M694.9,13.9 C694,13.9 693.1,13.8 692.3,13.3 C691.7,12.9 691.4,12.4 691.4,11.7 C691.4,11.1 691.7,10.5 692.3,10.2 C691.8,9.9 691.6,9.4 691.6,8.9 C691.6,8.3 691.9,7.8 692.5,7.4 C692,6.9 691.8,6.3 691.8,5.6 C691.8,3.8 693.2,2.9 694.8,2.9 C695.4,2.9 696,3.1 696.5,3.4 C696.8,2.8 697.4,2.5 698,2.5 C698.1,2.5 698.4,2.5 698.5,2.5 L698.5,3.9 C698.5,3.9 698.4,3.9 698.4,3.9 C698,3.9 697.6,4 697.5,4.4 C697.7,4.8 697.9,5.2 697.9,5.7 C697.9,7.4 696.5,8.4 694.9,8.4 C694.5,8.4 694.1,8.3 693.7,8.2 C693.5,8.3 693.3,8.5 693.3,8.7 C693.3,9.1 693.7,9.2 694.1,9.2 L695.3,9.2 C696,9.2 697,9.2 697.7,9.7 C698.3,10.1 698.6,10.8 698.6,11.5 C698.5,13.4 696.5,13.9 694.9,13.9 Z M695,10.6 L693.6,10.6 C693.2,10.7 692.9,11 692.9,11.5 C692.9,12.4 694.1,12.5 694.8,12.5 C695.5,12.5 696.8,12.5 696.8,11.5 C696.8,10.6 695.7,10.6 695,10.6 Z M694.7,4.2 C693.9,4.2 693.4,4.8 693.4,5.6 C693.4,6.4 693.9,7 694.7,7 C695.5,7 696,6.4 696,5.6 C696,4.8 695.5,4.2 694.7,4.2 Z" id="Shape"></path>
                <path d="M702.5,10.5 L702.5,9 L706.4,4.4 C706.7,4 706.9,3.5 706.9,3.1 C706.9,2.4 706.5,1.9 705.6,1.9 C704.8,1.9 704.3,2.5 704.3,3.3 L702.5,3.3 C702.5,1.6 703.6,0.3 705.7,0.3 C707.4,0.3 708.7,1.4 708.7,3.1 C708.7,4 708.2,4.9 707.6,5.5 L704.9,8.8 L708.9,8.8 L708.9,10.4 L702.5,10.4 L702.5,10.5 Z" id="Shape"></path>
                <polygon id="Shape" points="725.1 10.5 724.1 9.5 727 6.6 719.3 6.6 719.3 5.2 727 5.2 724.1 2.3 725.1 1.3 729.7 5.9"></polygon>
                <polygon id="Shape" points="740.1 10.5 740.1 0.4 747.3 0.4 747.3 2.1 742 2.1 742 4.4 746.7 4.4 746.7 6 742 6 742 8.8 747.3 8.8 747.3 10.5"></polygon>
                <polygon id="Shape" points="752.3 10.5 750.4 10.5 747.7 3.1 749.6 3.1 751.4 8.3 753.2 3.1 755 3.1"></polygon>
                <path d="M761.7,10.6 C760.9,10.6 760.5,10.1 760.4,9.6 C760.1,10.2 759.2,10.7 758.2,10.7 C756.4,10.7 755.5,9.6 755.5,8.4 C755.5,7 756.6,6.2 758,6.1 L760.2,5.9 L760.2,5.4 C760.2,4.7 760,4.2 758.9,4.2 C758.1,4.2 757.6,4.6 757.5,5.3 L755.8,5.3 C755.9,3.6 757.2,2.9 758.9,2.9 C760.2,2.9 761.2,3.3 761.7,4.4 C761.9,4.9 761.9,5.4 761.9,5.9 L761.9,8.6 C761.9,8.9 762,9.1 762.3,9.1 C762.4,9.1 762.5,9.1 762.5,9.1 L762.5,10.4 C762.3,10.5 762.1,10.6 761.7,10.6 Z M760.2,7.2 L758.3,7.3 C757.8,7.3 757.2,7.7 757.2,8.3 C757.2,8.9 757.7,9.2 758.3,9.2 C759.4,9.2 760.2,8.6 760.2,7.5 L760.2,7.2 Z" id="Shape"></path>
                <path d="M766.1,10.6 C764.9,10.6 764.1,10 764.1,8.6 L764.1,0.2 L765.9,0.2 L765.9,8.3 C765.9,8.7 766,9 766.6,9 C766.8,9 766.8,9 766.9,9 L766.9,10.5 C766.5,10.5 766.5,10.6 766.1,10.6 Z" id="Shape"></path>
                <path d="M773.1,10.5 L773,9.5 C772.6,10.2 771.8,10.7 770.9,10.7 C769.3,10.7 768.3,9.6 768.3,8.1 L768.3,3.2 L770.1,3.2 L770.1,7.7 C770.1,8.6 770.4,9.1 771.4,9.1 C771.8,9.1 772.1,8.9 772.3,8.7 C772.7,8.3 772.8,7.6 772.8,7 L772.8,3.1 L774.6,3.1 L774.6,10.5 L773.1,10.5 Z" id="Shape"></path>
                <path d="M782.4,10.6 C781.6,10.6 781.2,10.1 781.1,9.6 C780.8,10.2 779.9,10.7 778.9,10.7 C777.1,10.7 776.2,9.6 776.2,8.4 C776.2,7 777.3,6.2 778.7,6.1 L780.9,5.9 L780.9,5.4 C780.9,4.7 780.7,4.2 779.6,4.2 C778.8,4.2 778.3,4.6 778.2,5.3 L776.5,5.3 C776.6,3.6 777.9,2.9 779.6,2.9 C780.9,2.9 781.9,3.3 782.4,4.4 C782.6,4.9 782.6,5.4 782.6,5.9 L782.6,8.6 C782.6,8.9 782.7,9.1 783,9.1 C783.1,9.1 783.2,9.1 783.2,9.1 L783.2,10.4 C783,10.5 782.8,10.6 782.4,10.6 Z M780.9,7.2 L779,7.3 C778.5,7.3 777.9,7.7 777.9,8.3 C777.9,8.9 778.4,9.2 779,9.2 C780.1,9.2 780.9,8.6 780.9,7.5 L780.9,7.2 Z" id="Shape"></path>
                <path d="M787.4,10.6 C785.9,10.6 785.2,9.7 785.2,8.3 L785.2,4.5 L783.8,4.5 L783.8,3 L785.2,3 L785.2,1.1 L787,0.7 L787,3 L788.9,3 L788.9,4.5 L787,4.5 L787,8.1 C787,8.7 787.3,8.9 787.8,8.9 C788.2,8.9 788.5,8.9 789,8.8 L789,10.3 C788.4,10.5 787.9,10.6 787.4,10.6 Z" id="Shape"></path>
                <path d="M790.4,2 L790.4,0.2 L792.3,0.2 L792.3,2 L790.4,2 Z M790.5,10.5 L790.5,3.1 L792.3,3.1 L792.3,10.5 L790.5,10.5 Z" id="Shape"></path>
                <path d="M800.7,7.3 L795.8,7.3 C795.8,7.9 796,8.4 796.3,8.8 C796.6,9 796.9,9.3 797.4,9.3 C797.9,9.3 798.2,9.2 798.5,8.9 C798.7,8.7 798.8,8.5 798.9,8.3 L800.6,8.3 C800.6,8.7 800.3,9.3 800,9.7 C799.4,10.4 798.5,10.7 797.5,10.7 C796.5,10.7 795.8,10.3 795.2,9.8 C794.5,9.1 794.1,8.1 794.1,6.8 C794.1,5.6 794.5,4.6 795.2,3.8 C795.8,3.2 796.6,2.9 797.6,2.9 C798.7,2.9 799.7,3.3 800.3,4.3 C800.8,5.1 801,5.9 800.9,6.9 C800.7,6.8 800.7,7.2 800.7,7.3 Z M798.5,4.7 C798.3,4.4 797.9,4.3 797.4,4.3 C796.9,4.3 796.4,4.5 796.2,4.9 C795.9,5.2 795.8,5.6 795.8,6.1 L799,6.1 C799,5.5 798.8,5 798.5,4.7 Z" id="Shape"></path>
                <polygon id="Shape" points="816.6 10.5 815.6 9.5 818.5 6.6 810.8 6.6 810.8 5.2 818.5 5.2 815.6 2.3 816.6 1.3 821.2 5.9"></polygon>
                <path d="M837.4,10.5 L835.7,6.7 L833.5,6.7 L833.5,10.5 L831.7,10.5 L831.7,0.4 L836,0.4 C838.4,0.4 839.5,1.9 839.5,3.5 C839.5,4.9 838.8,5.9 837.7,6.3 L839.5,10.4 L837.4,10.4 L837.4,10.5 Z M835.9,2 L833.5,2 L833.5,5 L835.9,5 C836.9,5 837.5,4.5 837.5,3.5 C837.6,2.7 836.9,2 835.9,2 Z" id="Shape"></path>
                <path d="M847.1,7.3 L842.2,7.3 C842.2,7.9 842.4,8.4 842.7,8.8 C843,9 843.3,9.3 843.8,9.3 C844.3,9.3 844.6,9.2 844.9,8.9 C845.1,8.7 845.2,8.5 845.3,8.3 L847,8.3 C847,8.7 846.7,9.3 846.4,9.7 C845.8,10.4 844.9,10.7 843.9,10.7 C842.9,10.7 842.2,10.3 841.6,9.8 C840.9,9.1 840.5,8.1 840.5,6.8 C840.5,5.6 840.9,4.6 841.6,3.8 C842.2,3.2 843,2.9 844,2.9 C845.1,2.9 846.1,3.3 846.7,4.3 C847.2,5.1 847.4,5.9 847.3,6.9 C847.1,6.8 847.1,7.2 847.1,7.3 Z M844.8,4.7 C844.6,4.4 844.2,4.3 843.7,4.3 C843.2,4.3 842.7,4.5 842.5,4.9 C842.2,5.2 842.1,5.6 842.1,6.1 L845.3,6.1 C845.3,5.5 845.1,5 844.8,4.7 Z" id="Shape"></path>
                <path d="M854.3,10.6 C853.5,10.6 853.1,10.1 853,9.6 C852.7,10.2 851.8,10.7 850.8,10.7 C849,10.7 848.1,9.6 848.1,8.4 C848.1,7 849.2,6.2 850.6,6.1 L852.8,5.9 L852.8,5.4 C852.8,4.7 852.6,4.2 851.5,4.2 C850.7,4.2 850.2,4.6 850.1,5.3 L848.4,5.3 C848.5,3.6 849.8,2.9 851.5,2.9 C852.8,2.9 853.8,3.3 854.3,4.4 C854.5,4.9 854.5,5.4 854.5,5.9 L854.5,8.6 C854.5,8.9 854.6,9.1 854.9,9.1 C855,9.1 855.1,9.1 855.1,9.1 L855.1,10.4 C854.9,10.5 854.7,10.6 854.3,10.6 Z M852.8,7.2 L850.9,7.3 C850.4,7.3 849.8,7.7 849.8,8.3 C849.8,8.9 850.3,9.2 850.9,9.2 C852,9.2 852.8,8.6 852.8,7.5 L852.8,7.2 Z" id="Shape"></path>
                <path d="M858.7,10.6 C857.5,10.6 856.7,10 856.7,8.6 L856.7,0.2 L858.5,0.2 L858.5,8.3 C858.5,8.7 858.6,9 859.2,9 C859.4,9 859.4,9 859.5,9 L859.5,10.5 C859.1,10.5 859.1,10.6 858.7,10.6 Z" id="Shape"></path>
                <path d="M861,2 L861,0.2 L862.9,0.2 L862.9,2 L861,2 Z M861.1,10.5 L861.1,3.1 L862.9,3.1 L862.9,10.5 L861.1,10.5 Z" id="Shape"></path>
                <path d="M870.2,9.8 C869.6,10.4 868.7,10.7 867.7,10.7 C866.8,10.7 865.9,10.4 865.3,9.8 C864.9,9.4 864.5,8.8 864.5,8.1 L866.2,8.1 C866.2,8.4 866.4,8.8 866.6,9 C866.9,9.2 867.2,9.3 867.7,9.3 C868.3,9.3 869.2,9.2 869.2,8.4 C869.2,8 868.9,7.7 868.5,7.6 C867.8,7.5 867.1,7.5 866.5,7.3 C865.5,7.1 864.8,6.3 864.8,5.3 C864.8,4.5 865.1,4 865.6,3.6 C866.1,3.1 866.9,2.9 867.8,2.9 C868.7,2.9 869.6,3.2 870.1,3.8 C870.5,4.2 870.8,4.8 870.8,5.3 L869,5.3 C869,5 868.9,4.8 868.7,4.6 C868.5,4.4 868.1,4.3 867.7,4.3 C867.4,4.3 867.2,4.3 866.9,4.4 C866.6,4.5 866.3,4.8 866.3,5.2 C866.3,5.7 866.8,5.9 867.2,5.9 C867.9,6 868.1,6 868.8,6.1 C870,6.3 870.8,7 870.8,8.2 C870.8,8.9 870.6,9.4 870.2,9.8 Z" id="Shape"></path>
                <path d="M878.1,10.6 C877.3,10.6 876.9,10.1 876.8,9.6 C876.5,10.2 875.6,10.7 874.6,10.7 C872.8,10.7 871.9,9.6 871.9,8.4 C871.9,7 873,6.2 874.4,6.1 L876.6,5.9 L876.6,5.4 C876.6,4.7 876.4,4.2 875.3,4.2 C874.5,4.2 874,4.6 873.9,5.3 L872.2,5.3 C872.3,3.6 873.6,2.9 875.3,2.9 C876.6,2.9 877.6,3.3 878.1,4.4 C878.3,4.9 878.3,5.4 878.3,5.9 L878.3,8.6 C878.3,8.9 878.4,9.1 878.7,9.1 C878.8,9.1 878.9,9.1 878.9,9.1 L878.9,10.4 C878.7,10.5 878.5,10.6 878.1,10.6 Z M876.6,7.2 L874.7,7.3 C874.2,7.3 873.6,7.7 873.6,8.3 C873.6,8.9 874.1,9.2 874.7,9.2 C875.8,9.2 876.6,8.6 876.6,7.5 L876.6,7.2 Z" id="Shape"></path>
                <path d="M883.1,10.6 C881.6,10.6 880.9,9.7 880.9,8.3 L880.9,4.5 L879.5,4.5 L879.5,3 L880.9,3 L880.9,1.1 L882.7,0.7 L882.7,3 L884.6,3 L884.6,4.5 L882.7,4.5 L882.7,8.1 C882.7,8.7 883,8.9 883.5,8.9 C883.9,8.9 884.2,8.9 884.7,8.8 L884.7,10.3 C884.1,10.5 883.6,10.6 883.1,10.6 Z" id="Shape"></path>
                <path d="M886.1,2 L886.1,0.2 L888,0.2 L888,2 L886.1,2 Z M886.1,10.5 L886.1,3.1 L887.9,3.1 L887.9,10.5 L886.1,10.5 Z" id="Shape"></path>
                <path d="M896.4,7.3 L891.5,7.3 C891.5,7.9 891.7,8.4 892,8.8 C892.3,9 892.6,9.3 893.1,9.3 C893.6,9.3 893.9,9.2 894.2,8.9 C894.4,8.7 894.5,8.5 894.6,8.3 L896.3,8.3 C896.3,8.7 896,9.3 895.7,9.7 C895.1,10.4 894.2,10.7 893.2,10.7 C892.2,10.7 891.5,10.3 890.9,9.8 C890.2,9.1 889.8,8.1 889.8,6.8 C889.8,5.6 890.2,4.6 890.9,3.8 C891.5,3.2 892.3,2.9 893.3,2.9 C894.4,2.9 895.4,3.3 896,4.3 C896.5,5.1 896.7,5.9 896.6,6.9 C896.4,6.8 896.4,7.2 896.4,7.3 Z M894.2,4.7 C894,4.4 893.6,4.3 893.1,4.3 C892.6,4.3 892.1,4.5 891.9,4.9 C891.6,5.2 891.5,5.6 891.5,6.1 L894.7,6.1 C894.7,5.5 894.5,5 894.2,4.7 Z" id="Shape"></path>
                <path d="M906.6,10.6 C905.8,10.6 905.4,10.1 905.3,9.6 C905,10.2 904.1,10.7 903.1,10.7 C901.3,10.7 900.4,9.6 900.4,8.4 C900.4,7 901.5,6.2 902.9,6.1 L905.1,5.9 L905.1,5.4 C905.1,4.7 904.9,4.2 903.8,4.2 C903,4.2 902.5,4.6 902.4,5.3 L900.7,5.3 C900.8,3.6 902.1,2.9 903.8,2.9 C905.1,2.9 906.1,3.3 906.6,4.4 C906.8,4.9 906.8,5.4 906.8,5.9 L906.8,8.6 C906.8,8.9 906.9,9.1 907.2,9.1 C907.3,9.1 907.4,9.1 907.4,9.1 L907.4,10.4 C907.2,10.5 907.1,10.6 906.6,10.6 Z M905.2,7.2 L903.3,7.3 C902.8,7.3 902.2,7.7 902.2,8.3 C902.2,8.9 902.7,9.2 903.3,9.2 C904.4,9.2 905.2,8.6 905.2,7.5 L905.2,7.2 Z" id="Shape"></path>
                <path d="M914.6,10.6 C913.8,10.6 913.4,10.1 913.3,9.6 C913,10.2 912.1,10.7 911.1,10.7 C909.3,10.7 908.4,9.6 908.4,8.4 C908.4,7 909.5,6.2 910.9,6.1 L913.1,5.9 L913.1,5.4 C913.1,4.7 912.9,4.2 911.8,4.2 C911,4.2 910.5,4.6 910.4,5.3 L908.7,5.3 C908.8,3.6 910.1,2.9 911.8,2.9 C913.1,2.9 914.1,3.3 914.6,4.4 C914.8,4.9 914.8,5.4 914.8,5.9 L914.8,8.6 C914.8,8.9 914.9,9.1 915.2,9.1 C915.3,9.1 915.4,9.1 915.4,9.1 L915.4,10.4 C915.2,10.5 915.1,10.6 914.6,10.6 Z M913.1,7.2 L911.2,7.3 C910.7,7.3 910.1,7.7 910.1,8.3 C910.1,8.9 910.6,9.2 911.2,9.2 C912.3,9.2 913.1,8.6 913.1,7.5 L913.1,7.2 Z" id="Shape"></path>
                <path d="M921.6,10.5 L921.6,6 C921.6,5.1 921.3,4.6 920.4,4.6 C919.8,4.6 919.4,5 919.1,5.5 C918.8,6.1 918.9,6.9 918.9,7.5 L918.9,10.5 L917.1,10.5 L917.1,3.1 L918.6,3.1 L918.7,4.1 C919.1,3.3 920,3 920.9,3 C922.5,3 923.4,4.1 923.4,5.6 L923.4,10.5 L921.6,10.5 Z" id="Shape"></path>
                <path d="M930.6,9.8 C930,10.4 929.1,10.7 928.1,10.7 C927.2,10.7 926.3,10.4 925.7,9.8 C925.3,9.4 924.9,8.8 924.9,8.1 L926.6,8.1 C926.6,8.4 926.8,8.8 927,9 C927.3,9.2 927.6,9.3 928.1,9.3 C928.7,9.3 929.6,9.2 929.6,8.4 C929.6,8 929.3,7.7 928.9,7.6 C928.2,7.5 927.5,7.5 926.9,7.3 C925.9,7.1 925.2,6.3 925.2,5.3 C925.2,4.5 925.5,4 926,3.6 C926.5,3.1 927.3,2.9 928.2,2.9 C929.1,2.9 930,3.2 930.5,3.8 C930.9,4.2 931.2,4.8 931.2,5.3 L929.5,5.3 C929.5,5 929.4,4.8 929.2,4.6 C929,4.4 928.6,4.3 928.2,4.3 C927.9,4.3 927.7,4.3 927.4,4.4 C927.1,4.5 926.8,4.8 926.8,5.2 C926.8,5.7 927.3,5.9 927.7,5.9 C928.4,6 928.6,6 929.3,6.1 C930.5,6.3 931.3,7 931.3,8.2 C931.2,8.9 931,9.4 930.6,9.8 Z" id="Shape"></path>
                <path d="M934.9,10.6 C933.7,10.6 932.9,10 932.9,8.6 L932.9,0.2 L934.7,0.2 L934.7,8.3 C934.7,8.7 934.8,9 935.4,9 C935.6,9 935.6,9 935.7,9 L935.7,10.5 C935.3,10.5 935.2,10.6 934.9,10.6 Z" id="Shape"></path>
                <path d="M941.9,10.5 L941.8,9.5 C941.4,10.2 940.6,10.7 939.7,10.7 C938.1,10.7 937.1,9.6 937.1,8.1 L937.1,3.2 L938.9,3.2 L938.9,7.7 C938.9,8.6 939.2,9.1 940.2,9.1 C940.6,9.1 940.9,8.9 941.1,8.7 C941.5,8.3 941.6,7.6 941.6,7 L941.6,3.1 L943.4,3.1 L943.4,10.5 L941.9,10.5 Z" id="Shape"></path>
                <path d="M945.5,2 L945.5,0.2 L947.4,0.2 L947.4,2 L945.5,2 Z M945.6,10.5 L945.6,3.1 L947.4,3.1 L947.4,10.5 L945.6,10.5 Z" id="Shape"></path>
                <path d="M952.3,10.6 C950.8,10.6 950.1,9.7 950.1,8.3 L950.1,4.5 L948.7,4.5 L948.7,3 L950.1,3 L950.1,1.1 L951.9,0.7 L951.9,3 L953.8,3 L953.8,4.5 L951.9,4.5 L951.9,8.1 C951.9,8.7 952.2,8.9 952.7,8.9 C953.1,8.9 953.4,8.9 953.9,8.8 L953.9,10.3 C953.3,10.5 952.8,10.6 952.3,10.6 Z" id="Shape"></path>
                <path d="M955.3,2 L955.3,0.2 L957.2,0.2 L957.2,2 L955.3,2 Z M955.4,10.5 L955.4,3.1 L957.2,3.1 L957.2,10.5 L955.4,10.5 Z" id="Shape"></path>
                <path d="M963.9,10.5 L963.9,6 C963.9,5.1 963.6,4.6 962.7,4.6 C962.1,4.6 961.7,5 961.4,5.5 C961.1,6.1 961.2,6.9 961.2,7.5 L961.2,10.5 L959.4,10.5 L959.4,3.1 L960.9,3.1 L961,4.1 C961.4,3.3 962.3,3 963.2,3 C964.8,3 965.7,4.1 965.7,5.6 L965.7,10.5 L963.9,10.5 Z" id="Shape"></path>
                <path d="M970.8,13.9 C969.9,13.9 969,13.8 968.2,13.3 C967.6,12.9 967.3,12.4 967.3,11.7 C967.3,11.1 967.6,10.5 968.2,10.2 C967.7,9.9 967.5,9.4 967.5,8.9 C967.5,8.3 967.8,7.8 968.4,7.4 C967.9,6.9 967.7,6.3 967.7,5.6 C967.7,3.8 969.1,2.9 970.7,2.9 C971.3,2.9 971.9,3.1 972.4,3.4 C972.7,2.8 973.3,2.5 973.9,2.5 C974,2.5 974.3,2.5 974.4,2.5 L974.4,3.9 C974.4,3.9 974.3,3.9 974.3,3.9 C973.9,3.9 973.5,4 973.4,4.4 C973.6,4.8 973.8,5.2 973.8,5.7 C973.8,7.4 972.4,8.4 970.8,8.4 C970.4,8.4 970,8.3 969.6,8.2 C969.4,8.3 969.2,8.5 969.2,8.7 C969.2,9.1 969.6,9.2 970,9.2 L971.2,9.2 C971.9,9.2 972.9,9.2 973.6,9.7 C974.2,10.1 974.5,10.8 974.5,11.5 C974.3,13.4 972.4,13.9 970.8,13.9 Z M970.9,10.6 L969.5,10.6 C969.1,10.7 968.8,11 968.8,11.5 C968.8,12.4 970,12.5 970.7,12.5 C971.4,12.5 972.7,12.5 972.7,11.5 C972.6,10.6 971.5,10.6 970.9,10.6 Z M970.6,4.2 C969.8,4.2 969.3,4.8 969.3,5.6 C969.3,6.4 969.8,7 970.6,7 C971.4,7 971.9,6.4 971.9,5.6 C971.9,4.8 971.4,4.2 970.6,4.2 Z" id="Shape"></path>
                <polygon id="Shape" points="989.9 10.5 988.9 9.5 991.8 6.6 984.1 6.6 984.1 5.2 991.8 5.2 988.9 2.3 989.9 1.3 994.5 5.9"></polygon>
                <path d="M1035.6,6.9 L1033.5,6.9 L1033.5,10.5 L1031.7,10.5 L1031.7,0.4 L1035.7,0.4 C1038,0.4 1039.3,1.7 1039.3,3.6 C1039.2,5.5 1037.9,6.9 1035.6,6.9 Z M1035.5,2 L1033.4,2 L1033.4,5.3 L1035.5,5.3 C1036.7,5.3 1037.3,4.6 1037.3,3.7 C1037.3,2.7 1036.8,2 1035.5,2 Z" id="Shape"></path>
                <path d="M1044.1,4.7 C1042.8,4.7 1042.2,5.6 1042.2,6.8 L1042.2,10.5 L1040.4,10.5 L1040.4,3.1 L1041.9,3.1 L1042.1,4.2 C1042.4,3.3 1043.3,3 1044.2,3 C1044.4,3 1044.6,3 1044.8,3 L1044.8,4.7 C1044.6,4.7 1044.3,4.7 1044.1,4.7 Z" id="Shape"></path>
                <path d="M1051.3,9.5 C1050.8,10.1 1049.8,10.7 1048.7,10.7 C1047.6,10.7 1046.6,10.2 1046.1,9.5 C1045.5,8.8 1045.2,8 1045.2,6.8 C1045.2,5.5 1045.5,4.8 1046.1,4.1 C1046.6,3.5 1047.6,2.9 1048.7,2.9 C1049.8,2.9 1050.8,3.4 1051.3,4.1 C1051.9,4.8 1052.2,5.6 1052.2,6.8 C1052.2,8 1051.9,8.8 1051.3,9.5 Z M1049.9,4.9 C1049.7,4.6 1049.3,4.4 1048.8,4.4 C1048.3,4.4 1047.9,4.6 1047.7,4.9 C1047.3,5.4 1047.2,6.1 1047.2,6.8 C1047.2,7.5 1047.3,8.2 1047.7,8.7 C1047.9,9 1048.3,9.2 1048.8,9.2 C1049.3,9.2 1049.7,9 1049.9,8.7 C1050.3,8.2 1050.4,7.5 1050.4,6.8 C1050.4,6.1 1050.3,5.4 1049.9,4.9 Z" id="Shape"></path>
                <path d="M1058.7,10.5 L1058.6,9.7 C1058.2,10.4 1057.3,10.7 1056.5,10.7 C1055.8,10.7 1055.1,10.4 1054.7,10.1 C1053.8,9.4 1053.4,8.3 1053.4,6.9 C1053.4,5.4 1053.8,4.3 1054.7,3.6 C1055.2,3.2 1055.8,3 1056.5,3 C1057.4,3 1058.1,3.3 1058.4,3.7 L1058.4,0.3 L1060.2,0.3 L1060.2,10.6 L1058.7,10.6 L1058.7,10.5 Z M1056.9,4.4 C1056.3,4.4 1056,4.7 1055.7,5 C1055.3,5.5 1055.2,6.2 1055.2,6.8 C1055.2,7.4 1055.3,8.1 1055.7,8.6 C1056,8.9 1056.3,9.2 1056.9,9.2 C1058.3,9.2 1058.6,7.9 1058.6,6.8 C1058.6,5.7 1058.3,4.4 1056.9,4.4 Z" id="Shape"></path>
                <path d="M1067.2,10.5 L1067.1,9.5 C1066.7,10.2 1065.9,10.7 1065,10.7 C1063.4,10.7 1062.4,9.6 1062.4,8.1 L1062.4,3.2 L1064.2,3.2 L1064.2,7.7 C1064.2,8.6 1064.5,9.1 1065.5,9.1 C1065.9,9.1 1066.2,8.9 1066.4,8.7 C1066.8,8.3 1066.9,7.6 1066.9,7 L1066.9,3.1 L1068.7,3.1 L1068.7,10.5 L1067.2,10.5 Z" id="Shape"></path>
                <path d="M1076.3,9.5 C1075.8,10.1 1074.9,10.7 1073.8,10.7 C1072.7,10.7 1071.7,10.2 1071.2,9.5 C1070.6,8.8 1070.4,7.9 1070.4,6.8 C1070.4,5.7 1070.7,4.8 1071.2,4.1 C1071.7,3.5 1072.7,2.9 1073.8,2.9 C1074.9,2.9 1075.8,3.4 1076.3,4.1 C1076.6,4.5 1076.8,5.1 1076.9,5.7 L1075.2,5.7 C1075.2,5.4 1075.1,5.2 1075,5 C1074.8,4.7 1074.4,4.4 1073.9,4.4 C1073.4,4.4 1073.1,4.6 1072.8,4.9 C1072.4,5.4 1072.3,6.1 1072.3,6.8 C1072.3,7.5 1072.4,8.2 1072.8,8.7 C1073,9 1073.4,9.2 1073.9,9.2 C1074.4,9.2 1074.8,9 1075,8.6 C1075.1,8.4 1075.2,8.2 1075.2,7.9 L1076.9,7.9 C1076.8,8.4 1076.6,9 1076.3,9.5 Z" id="Shape"></path>
                <path d="M1081,10.6 C1079.5,10.6 1078.8,9.7 1078.8,8.3 L1078.8,4.5 L1077.4,4.5 L1077.4,3 L1078.8,3 L1078.8,1.1 L1080.6,0.7 L1080.6,3 L1082.5,3 L1082.5,4.5 L1080.6,4.5 L1080.6,8.1 C1080.6,8.7 1080.9,8.9 1081.4,8.9 C1081.8,8.9 1082.1,8.9 1082.6,8.8 L1082.6,10.3 C1082,10.5 1081.5,10.6 1081,10.6 Z" id="Shape"></path>
                <path d="M1084,2 L1084,0.2 L1085.9,0.2 L1085.9,2 L1084,2 Z M1084.1,10.5 L1084.1,3.1 L1085.9,3.1 L1085.9,10.5 L1084.1,10.5 Z" id="Shape"></path>
                <path d="M1094.3,7.3 L1089.4,7.3 C1089.4,7.9 1089.6,8.4 1089.9,8.8 C1090.2,9 1090.5,9.3 1091,9.3 C1091.5,9.3 1091.8,9.2 1092.1,8.9 C1092.3,8.7 1092.4,8.5 1092.5,8.3 L1094.2,8.3 C1094.2,8.7 1093.9,9.3 1093.6,9.7 C1093,10.4 1092.1,10.7 1091.1,10.7 C1090.1,10.7 1089.4,10.3 1088.8,9.8 C1088.1,9.1 1087.7,8.1 1087.7,6.8 C1087.7,5.6 1088.1,4.6 1088.8,3.8 C1089.4,3.2 1090.2,2.9 1091.2,2.9 C1092.3,2.9 1093.3,3.3 1093.9,4.3 C1094.4,5.1 1094.6,5.9 1094.5,6.9 C1094.4,6.8 1094.3,7.2 1094.3,7.3 Z M1092.1,4.7 C1091.9,4.4 1091.5,4.3 1091,4.3 C1090.5,4.3 1090,4.5 1089.8,4.9 C1089.5,5.2 1089.4,5.6 1089.4,6.1 L1092.6,6.1 C1092.6,5.5 1092.4,5 1092.1,4.7 Z" id="Shape"></path>
                <polygon id="Shape" points="1110.2 10.5 1109.2 9.5 1112.1 6.6 1104.4 6.6 1104.4 5.2 1112.1 5.2 1109.2 2.3 1110.2 1.3 1114.8 5.9"></polygon>
                <path d="M1131.8,9.5 C1131,10.3 1130,10.6 1128.9,10.6 C1127.8,10.6 1126.8,10.2 1126,9.5 C1124.9,8.4 1124.7,7.1 1124.7,5.4 C1124.7,3.7 1124.9,2.4 1126,1.3 C1126.8,0.5 1127.8,0.2 1128.9,0.2 C1130,0.2 1131,0.6 1131.8,1.3 C1132.9,2.4 1133.1,3.7 1133.1,5.4 C1133.1,7.1 1132.9,8.4 1131.8,9.5 Z M1130.5,2.5 C1130.1,2.1 1129.5,1.8 1128.9,1.8 C1128.3,1.8 1127.7,2 1127.3,2.5 C1126.6,3.2 1126.6,4.5 1126.6,5.4 C1126.6,6.3 1126.6,7.6 1127.3,8.3 C1127.7,8.7 1128.3,9 1128.9,9 C1129.5,9 1130.1,8.8 1130.5,8.3 C1131.2,7.6 1131.2,6.3 1131.2,5.4 C1131.2,4.5 1131.2,3.3 1130.5,2.5 Z" id="Shape"></path>
                <path d="M1140.3,10.1 C1139.8,10.5 1139.2,10.7 1138.5,10.7 C1137.6,10.7 1136.9,10.4 1136.6,10 L1136.6,13.4 L1134.8,13.4 L1134.8,3.2 L1136.3,3.2 L1136.4,4 C1136.8,3.3 1137.7,3 1138.5,3 C1139.2,3 1139.8,3.3 1140.3,3.6 C1141.2,4.3 1141.6,5.4 1141.6,6.8 C1141.6,8.2 1141.2,9.3 1140.3,10.1 Z M1139.3,5 C1139,4.7 1138.7,4.4 1138.1,4.4 C1136.7,4.4 1136.4,5.7 1136.4,6.8 C1136.4,7.9 1136.7,9.2 1138.1,9.2 C1138.7,9.2 1139,8.9 1139.3,8.6 C1139.7,8.1 1139.8,7.4 1139.8,6.8 C1139.8,6.1 1139.7,5.5 1139.3,5 Z" id="Shape"></path>
                <path d="M1147,4.7 C1145.7,4.7 1145.1,5.6 1145.1,6.8 L1145.1,10.5 L1143.3,10.5 L1143.3,3.1 L1144.8,3.1 L1145,4.2 C1145.3,3.3 1146.2,3 1147.1,3 C1147.3,3 1147.5,3 1147.7,3 L1147.7,4.7 C1147.4,4.7 1147.2,4.7 1147,4.7 Z" id="Shape"></path>
                <path d="M1153.5,10.5 L1153.4,9.5 C1153,10.2 1152.2,10.7 1151.3,10.7 C1149.7,10.7 1148.7,9.6 1148.7,8.1 L1148.7,3.2 L1150.5,3.2 L1150.5,7.7 C1150.5,8.6 1150.8,9.1 1151.8,9.1 C1152.2,9.1 1152.5,8.9 1152.7,8.7 C1153.1,8.3 1153.2,7.6 1153.2,7 L1153.2,3.1 L1155,3.1 L1155,10.5 L1153.5,10.5 Z" id="Shape"></path>
                <path d="M1157.1,2 L1157.1,0.2 L1159,0.2 L1159,2 L1157.1,2 Z M1157.2,10.5 L1157.2,3.1 L1159,3.1 L1159,10.5 L1157.2,10.5 Z" id="Shape"></path>
                <path d="M1170,10.5 L1170,5.9 C1170,5 1169.8,4.5 1168.9,4.5 C1167.9,4.5 1167.4,5.6 1167.4,6.5 L1167.4,10.5 L1165.6,10.5 L1165.6,5.9 C1165.6,5 1165.4,4.5 1164.5,4.5 C1163.5,4.5 1163,5.6 1163,6.5 L1163,10.5 L1161.2,10.5 L1161.2,3.1 L1162.7,3.1 L1162.8,4.1 C1163.2,3.4 1163.9,2.9 1164.9,2.9 C1165.9,2.9 1166.6,3.4 1167,4.1 C1167.4,3.3 1168.2,2.9 1169.2,2.9 C1170.8,2.9 1171.6,4 1171.6,5.5 L1171.6,10.5 L1170,10.5 Z" id="Shape"></path>
                <path d="M1180.1,7.3 L1175.2,7.3 C1175.2,7.9 1175.4,8.4 1175.7,8.8 C1176,9 1176.3,9.3 1176.8,9.3 C1177.3,9.3 1177.6,9.2 1177.9,8.9 C1178.1,8.7 1178.2,8.5 1178.3,8.3 L1180,8.3 C1180,8.7 1179.7,9.3 1179.4,9.7 C1178.8,10.4 1177.9,10.7 1176.9,10.7 C1175.9,10.7 1175.2,10.3 1174.6,9.8 C1173.9,9.1 1173.5,8.1 1173.5,6.8 C1173.5,5.6 1173.9,4.6 1174.6,3.8 C1175.2,3.2 1176,2.9 1177,2.9 C1178.1,2.9 1179.1,3.3 1179.7,4.3 C1180.2,5.1 1180.4,5.9 1180.3,6.9 C1180.1,6.8 1180.1,7.2 1180.1,7.3 Z M1177.9,4.7 C1177.7,4.4 1177.3,4.3 1176.8,4.3 C1176.3,4.3 1175.8,4.5 1175.6,4.9 C1175.3,5.2 1175.2,5.6 1175.2,6.1 L1178.4,6.1 C1178.3,5.5 1178.1,5 1177.9,4.7 Z" id="Shape"></path>
                <path d="M1186.3,10.5 L1186.3,6 C1186.3,5.1 1186,4.6 1185.1,4.6 C1184.5,4.6 1184.1,5 1183.8,5.5 C1183.5,6.1 1183.6,6.9 1183.6,7.5 L1183.6,10.5 L1181.8,10.5 L1181.8,3.1 L1183.3,3.1 L1183.4,4.1 C1183.8,3.3 1184.7,3 1185.6,3 C1187.2,3 1188.1,4.1 1188.1,5.6 L1188.1,10.5 L1186.3,10.5 Z" id="Shape"></path>
            </g>
            <g id="Group" transform="translate(30.000000, 0.000000)" fill="#E5007E" fill-rule="nonzero">
                <path d="M7.3,9.5 C6.5,10.3 5.5,10.6 4.4,10.6 C3.3,10.6 2.3,10.2 1.5,9.5 C0.4,8.4 0.2,7.1 0.2,5.4 C0.2,3.7 0.4,2.4 1.5,1.3 C2.3,0.5 3.3,0.2 4.4,0.2 C5.5,0.2 6.5,0.6 7.3,1.3 C8.4,2.4 8.6,3.7 8.6,5.4 C8.6,7.1 8.4,8.4 7.3,9.5 Z M6,2.5 C5.6,2.1 5,1.8 4.4,1.8 C3.8,1.8 3.2,2 2.8,2.5 C2.1,3.2 2.1,4.5 2.1,5.4 C2.1,6.3 2.1,7.6 2.8,8.3 C3.2,8.7 3.8,9 4.4,9 C5,9 5.6,8.8 6,8.3 C6.7,7.6 6.7,6.3 6.7,5.4 C6.7,4.5 6.7,3.3 6,2.5 Z" id="Shape"></path>
                <path d="M15.8,10.1 C15.3,10.5 14.7,10.7 14,10.7 C13.1,10.7 12.4,10.4 12.1,10 L12.1,13.4 L10.3,13.4 L10.3,3.2 L11.8,3.2 L11.9,4 C12.3,3.3 13.2,3 14,3 C14.7,3 15.3,3.3 15.8,3.6 C16.7,4.3 17.1,5.4 17.1,6.8 C17.1,8.2 16.7,9.3 15.8,10.1 Z M14.8,5 C14.5,4.7 14.2,4.4 13.6,4.4 C12.2,4.4 11.9,5.7 11.9,6.8 C11.9,7.9 12.2,9.2 13.6,9.2 C14.2,9.2 14.5,8.9 14.8,8.6 C15.2,8.1 15.3,7.4 15.3,6.8 C15.3,6.1 15.2,5.5 14.8,5 Z" id="Shape"></path>
                <path d="M23.9,9.8 C23.3,10.4 22.4,10.7 21.4,10.7 C20.5,10.7 19.6,10.4 19,9.8 C18.6,9.4 18.2,8.8 18.2,8.1 L19.9,8.1 C19.9,8.4 20.1,8.8 20.3,9 C20.6,9.2 20.9,9.3 21.4,9.3 C22,9.3 22.9,9.2 22.9,8.4 C22.9,8 22.6,7.7 22.2,7.6 C21.5,7.5 20.8,7.5 20.2,7.3 C19.2,7.1 18.5,6.3 18.5,5.3 C18.5,4.5 18.8,4 19.3,3.6 C19.8,3.1 20.6,2.9 21.5,2.9 C22.4,2.9 23.3,3.2 23.8,3.8 C24.2,4.2 24.5,4.8 24.5,5.3 L22.8,5.3 C22.8,5 22.7,4.8 22.5,4.6 C22.3,4.4 21.9,4.3 21.5,4.3 C21.2,4.3 21,4.3 20.7,4.4 C20.4,4.5 20.1,4.8 20.1,5.2 C20.1,5.7 20.6,5.9 21,5.9 C21.7,6 21.9,6 22.6,6.1 C23.8,6.3 24.6,7 24.6,8.2 C24.6,8.9 24.3,9.4 23.9,9.8 Z" id="Shape"></path>
                <path d="M31.7,10.1 C31.2,10.5 30.6,10.7 29.9,10.7 C29,10.7 28.3,10.4 28,10 L28,13.4 L26.2,13.4 L26.2,3.2 L27.7,3.2 L27.8,4 C28.2,3.3 29.1,3 29.9,3 C30.6,3 31.2,3.3 31.7,3.6 C32.6,4.3 33,5.4 33,6.8 C33.1,8.2 32.6,9.3 31.7,10.1 Z M30.8,5 C30.5,4.7 30.2,4.4 29.6,4.4 C28.2,4.4 27.9,5.7 27.9,6.8 C27.9,7.9 28.2,9.2 29.6,9.2 C30.2,9.2 30.5,8.9 30.8,8.6 C31.2,8.1 31.3,7.4 31.3,6.8 C31.3,6.1 31.2,5.5 30.8,5 Z" id="Shape"></path>
                <path d="M40.3,9.5 C39.8,10.1 38.8,10.7 37.7,10.7 C36.6,10.7 35.6,10.2 35.1,9.5 C34.5,8.8 34.2,8 34.2,6.8 C34.2,5.5 34.5,4.8 35.1,4.1 C35.6,3.5 36.6,2.9 37.7,2.9 C38.8,2.9 39.8,3.4 40.3,4.1 C40.9,4.8 41.2,5.6 41.2,6.8 C41.2,8 40.9,8.8 40.3,9.5 Z M38.8,4.9 C38.6,4.6 38.2,4.4 37.7,4.4 C37.2,4.4 36.8,4.6 36.6,4.9 C36.2,5.4 36.1,6.1 36.1,6.8 C36.1,7.5 36.2,8.2 36.6,8.7 C36.8,9 37.2,9.2 37.7,9.2 C38.2,9.2 38.6,9 38.8,8.7 C39.2,8.2 39.3,7.5 39.3,6.8 C39.4,6.1 39.3,5.4 38.8,4.9 Z" id="Shape"></path>
                <path d="M46.6,4.7 C45.4,4.7 44.7,5.6 44.7,6.8 L44.7,10.5 L42.9,10.5 L42.9,3.1 L44.4,3.1 L44.6,4.2 C44.9,3.3 45.8,3 46.7,3 C46.9,3 47.1,3 47.3,3 L47.3,4.7 C47,4.7 46.8,4.7 46.6,4.7 Z" id="Shape"></path>
                <path d="M54.6,7.3 L49.7,7.3 C49.7,7.9 49.9,8.4 50.2,8.8 C50.5,9 50.8,9.3 51.3,9.3 C51.8,9.3 52.1,9.2 52.4,8.9 C52.6,8.7 52.7,8.5 52.8,8.3 L54.5,8.3 C54.5,8.7 54.2,9.3 53.9,9.7 C53.3,10.4 52.4,10.7 51.4,10.7 C50.4,10.7 49.7,10.3 49.1,9.8 C48.4,9.1 48,8.1 48,6.8 C48,5.6 48.4,4.6 49.1,3.8 C49.7,3.2 50.4,2.9 51.5,2.9 C52.6,2.9 53.6,3.3 54.2,4.3 C54.7,5.1 54.9,5.9 54.8,6.9 C54.6,6.8 54.6,7.2 54.6,7.3 Z M52.4,4.7 C52.2,4.4 51.8,4.3 51.3,4.3 C50.8,4.3 50.3,4.5 50.1,4.9 C49.8,5.2 49.7,5.6 49.7,6.1 L52.9,6.1 C52.8,5.5 52.7,5 52.4,4.7 Z" id="Shape"></path>
                <path d="M60.8,10.5 L60.8,6 C60.8,5.1 60.5,4.6 59.6,4.6 C59,4.6 58.6,5 58.3,5.5 C58,6.1 58.1,6.9 58.1,7.5 L58.1,10.5 L56.3,10.5 L56.3,3.1 L57.8,3.1 L57.9,4.1 C58.3,3.3 59.2,3 60.1,3 C61.7,3 62.6,4.1 62.6,5.6 L62.6,10.5 L60.8,10.5 Z" id="Shape"></path>
                <path d="M65.2,12.9 L64.7,12.1 C65.5,11.7 65.7,11.3 65.7,10.5 L64.6,10.5 L64.6,8.3 L66.8,8.3 L66.8,10.3 C66.7,11.5 66.4,12.4 65.2,12.9 Z" id="Shape"></path>
                <path d="M76.5,9.5 C76,10.1 75.1,10.7 74,10.7 C72.9,10.7 71.9,10.2 71.4,9.5 C70.8,8.8 70.6,7.9 70.6,6.8 C70.6,5.7 70.9,4.8 71.4,4.1 C71.9,3.5 72.9,2.9 74,2.9 C75.1,2.9 76,3.4 76.5,4.1 C76.8,4.5 77,5.1 77.1,5.7 L75.4,5.7 C75.4,5.4 75.3,5.2 75.2,5 C75,4.7 74.6,4.4 74.1,4.4 C73.6,4.4 73.3,4.6 73,4.9 C72.6,5.4 72.5,6.1 72.5,6.8 C72.5,7.5 72.6,8.2 73,8.7 C73.2,9 73.6,9.2 74.1,9.2 C74.6,9.2 75,9 75.2,8.6 C75.3,8.4 75.4,8.2 75.4,7.9 L77.1,7.9 C77,8.4 76.8,9 76.5,9.5 Z" id="Shape"></path>
                <path d="M84.2,9.5 C83.7,10.1 82.7,10.7 81.6,10.7 C80.5,10.7 79.5,10.2 79,9.5 C78.4,8.8 78.1,8 78.1,6.8 C78.1,5.5 78.4,4.8 79,4.1 C79.5,3.5 80.5,2.9 81.6,2.9 C82.7,2.9 83.7,3.4 84.2,4.1 C84.8,4.8 85.1,5.6 85.1,6.8 C85.1,8 84.7,8.8 84.2,9.5 Z M82.7,4.9 C82.5,4.6 82.1,4.4 81.6,4.4 C81.1,4.4 80.7,4.6 80.5,4.9 C80.1,5.4 80,6.1 80,6.8 C80,7.5 80.1,8.2 80.5,8.7 C80.7,9 81.1,9.2 81.6,9.2 C82.1,9.2 82.5,9 82.7,8.7 C83.1,8.2 83.2,7.5 83.2,6.8 C83.2,6.1 83.1,5.4 82.7,4.9 Z" id="Shape"></path>
                <path d="M95.5,10.5 L95.5,5.9 C95.5,5 95.3,4.5 94.4,4.5 C93.4,4.5 92.9,5.6 92.9,6.5 L92.9,10.5 L91.1,10.5 L91.1,5.9 C91.1,5 90.9,4.5 90,4.5 C89,4.5 88.5,5.6 88.5,6.5 L88.5,10.5 L86.7,10.5 L86.7,3.1 L88.2,3.1 L88.3,4.1 C88.7,3.4 89.4,2.9 90.4,2.9 C91.4,2.9 92.2,3.4 92.5,4.1 C92.9,3.3 93.7,2.9 94.7,2.9 C96.3,2.9 97.1,4 97.1,5.5 L97.1,10.5 L95.5,10.5 Z" id="Shape"></path>
                <path d="M108.1,10.5 L108.1,5.9 C108.1,5 107.9,4.5 107,4.5 C106,4.5 105.5,5.6 105.5,6.5 L105.5,10.5 L103.7,10.5 L103.7,5.9 C103.7,5 103.5,4.5 102.6,4.5 C101.6,4.5 101.1,5.6 101.1,6.5 L101.1,10.5 L99.3,10.5 L99.3,3.1 L100.8,3.1 L100.9,4.1 C101.3,3.4 102,2.9 103,2.9 C104,2.9 104.8,3.4 105.1,4.1 C105.5,3.3 106.3,2.9 107.3,2.9 C108.9,2.9 109.7,4 109.7,5.5 L109.7,10.5 L108.1,10.5 Z" id="Shape"></path>
                <path d="M116.6,10.5 L116.5,9.5 C116.1,10.2 115.3,10.7 114.4,10.7 C112.8,10.7 111.8,9.6 111.8,8.1 L111.8,3.2 L113.6,3.2 L113.6,7.7 C113.6,8.6 113.9,9.1 114.9,9.1 C115.3,9.1 115.6,8.9 115.8,8.7 C116.2,8.3 116.3,7.6 116.3,7 L116.3,3.1 L118.1,3.1 L118.1,10.5 L116.6,10.5 Z" id="Shape"></path>
                <path d="M124.8,10.5 L124.8,6 C124.8,5.1 124.5,4.6 123.6,4.6 C123,4.6 122.6,5 122.3,5.5 C122,6.1 122.1,6.9 122.1,7.5 L122.1,10.5 L120.3,10.5 L120.3,3.1 L121.8,3.1 L121.9,4.1 C122.3,3.3 123.2,3 124.1,3 C125.7,3 126.6,4.1 126.6,5.6 L126.6,10.5 L124.8,10.5 Z" id="Shape"></path>
                <path d="M128.7,2 L128.7,0.2 L130.6,0.2 L130.6,2 L128.7,2 Z M128.8,10.5 L128.8,3.1 L130.6,3.1 L130.6,10.5 L128.8,10.5 Z" id="Shape"></path>
                <path d="M138.2,9.5 C137.7,10.1 136.8,10.7 135.7,10.7 C134.6,10.7 133.6,10.2 133.1,9.5 C132.5,8.8 132.3,7.9 132.3,6.8 C132.3,5.7 132.6,4.8 133.1,4.1 C133.6,3.5 134.5,2.9 135.7,2.9 C136.8,2.9 137.7,3.4 138.2,4.1 C138.5,4.5 138.7,5.1 138.8,5.7 L137,5.7 C137,5.4 136.9,5.2 136.8,5 C136.6,4.7 136.2,4.4 135.7,4.4 C135.2,4.4 134.9,4.6 134.6,4.9 C134.2,5.4 134.1,6.1 134.1,6.8 C134.1,7.5 134.2,8.2 134.6,8.7 C134.8,9 135.2,9.2 135.7,9.2 C136.2,9.2 136.6,9 136.8,8.6 C136.9,8.4 137,8.2 137,7.9 L138.8,7.9 C138.7,8.4 138.5,9 138.2,9.5 Z" id="Shape"></path>
                <path d="M146.6,7.3 L141.7,7.3 C141.7,7.9 141.9,8.4 142.2,8.8 C142.5,9 142.8,9.3 143.3,9.3 C143.8,9.3 144.1,9.2 144.4,8.9 C144.6,8.7 144.7,8.5 144.8,8.3 L146.5,8.3 C146.5,8.7 146.2,9.3 145.9,9.7 C145.3,10.4 144.4,10.7 143.4,10.7 C142.4,10.7 141.7,10.3 141.1,9.8 C140.4,9.1 140,8.1 140,6.8 C140,5.6 140.4,4.6 141.1,3.8 C141.7,3.2 142.4,2.9 143.5,2.9 C144.6,2.9 145.6,3.3 146.2,4.3 C146.7,5.1 146.9,5.9 146.8,6.9 C146.6,6.8 146.6,7.2 146.6,7.3 Z M144.4,4.7 C144.2,4.4 143.8,4.3 143.3,4.3 C142.8,4.3 142.3,4.5 142.1,4.9 C141.8,5.2 141.7,5.6 141.7,6.1 L144.9,6.1 C144.8,5.5 144.7,5 144.4,4.7 Z" id="Shape"></path>
                <path d="M152,4.7 C150.8,4.7 150.1,5.6 150.1,6.8 L150.1,10.5 L148.3,10.5 L148.3,3.1 L149.8,3.1 L150,4.2 C150.3,3.3 151.2,3 152.1,3 C152.3,3 152.5,3 152.7,3 L152.7,4.7 C152.4,4.7 152.2,4.7 152,4.7 Z" id="Shape"></path>
                <path d="M160,7.3 L155,7.3 C155,7.9 155.2,8.4 155.5,8.8 C155.8,9 156.1,9.3 156.6,9.3 C157.1,9.3 157.4,9.2 157.7,8.9 C157.9,8.7 158,8.5 158.1,8.3 L159.8,8.3 C159.8,8.7 159.5,9.3 159.2,9.7 C158.6,10.4 157.6,10.7 156.7,10.7 C155.7,10.7 154.9,10.3 154.4,9.8 C153.7,9.1 153.3,8.1 153.3,6.8 C153.3,5.6 153.7,4.6 154.4,3.8 C155,3.2 155.8,2.9 156.8,2.9 C157.9,2.9 158.9,3.3 159.5,4.3 C160,5.1 160.2,5.9 160.1,6.9 C160,6.8 160,7.2 160,7.3 Z M157.8,4.7 C157.6,4.4 157.2,4.3 156.7,4.3 C156.2,4.3 155.7,4.5 155.5,4.9 C155.2,5.2 155.1,5.6 155.1,6.1 L158.3,6.1 C158.2,5.5 158.1,5 157.8,4.7 Z" id="Shape"></path>
                <path d="M166.2,10.5 L166.2,6 C166.2,5.1 165.9,4.6 165,4.6 C164.4,4.6 164,5 163.7,5.5 C163.4,6.1 163.5,6.9 163.5,7.5 L163.5,10.5 L161.7,10.5 L161.7,3.1 L163.2,3.1 L163.3,4.1 C163.7,3.3 164.6,3 165.5,3 C167.1,3 168,4.1 168,5.6 L168,10.5 L166.2,10.5 Z" id="Shape"></path>
                <path d="M179.3,7.3 L174.4,7.3 C174.4,7.9 174.6,8.4 174.9,8.8 C175.2,9 175.5,9.3 176,9.3 C176.5,9.3 176.8,9.2 177.1,8.9 C177.3,8.7 177.4,8.5 177.5,8.3 L179.2,8.3 C179.2,8.7 178.9,9.3 178.6,9.7 C178,10.4 177.1,10.7 176.1,10.7 C175.1,10.7 174.4,10.3 173.8,9.8 C173.1,9.1 172.7,8.1 172.7,6.8 C172.7,5.6 173.1,4.6 173.8,3.8 C174.4,3.2 175.1,2.9 176.2,2.9 C177.3,2.9 178.3,3.3 178.9,4.3 C179.4,5.1 179.6,5.9 179.5,6.9 C179.3,6.8 179.3,7.2 179.3,7.3 Z M177.1,4.7 C176.9,4.4 176.5,4.3 176,4.3 C175.5,4.3 175,4.5 174.8,4.9 C174.5,5.2 174.4,5.6 174.4,6.1 L177.6,6.1 C177.5,5.5 177.4,5 177.1,4.7 Z" id="Shape"></path>
                <path d="M185.5,10.5 L185.5,6 C185.5,5.1 185.2,4.6 184.3,4.6 C183.7,4.6 183.3,5 183,5.5 C182.7,6.1 182.8,6.9 182.8,7.5 L182.8,10.5 L181,10.5 L181,3.1 L182.5,3.1 L182.6,4.1 C183,3.3 183.9,3 184.8,3 C186.4,3 187.3,4.1 187.3,5.6 L187.3,10.5 L185.5,10.5 Z" id="Shape"></path>
                <polygon id="Shape" points="195.9 10.5 194 10.5 191.3 3.1 193.2 3.1 195 8.3 196.8 3.1 198.6 3.1"></polygon>
                <path d="M205.8,7.3 L200.9,7.3 C200.9,7.9 201.1,8.4 201.4,8.8 C201.7,9 202,9.3 202.5,9.3 C203,9.3 203.3,9.2 203.6,8.9 C203.8,8.7 203.9,8.5 204,8.3 L205.7,8.3 C205.7,8.7 205.4,9.3 205.1,9.7 C204.5,10.4 203.5,10.7 202.6,10.7 C201.6,10.7 200.8,10.3 200.3,9.8 C199.6,9.1 199.2,8.1 199.2,6.8 C199.2,5.6 199.6,4.6 200.3,3.8 C200.9,3.2 201.7,2.9 202.7,2.9 C203.8,2.9 204.8,3.3 205.4,4.3 C205.9,5.1 206.1,5.9 206,6.9 C205.9,6.8 205.8,7.2 205.8,7.3 Z M203.6,4.7 C203.4,4.4 203,4.3 202.5,4.3 C202,4.3 201.5,4.5 201.3,4.9 C201,5.2 200.9,5.6 200.9,6.1 L204.1,6.1 C204.1,5.5 203.9,5 203.6,4.7 Z" id="Shape"></path>
                <path d="M211.2,4.7 C209.9,4.7 209.3,5.6 209.3,6.8 L209.3,10.5 L207.5,10.5 L207.5,3.1 L209,3.1 L209.2,4.2 C209.5,3.3 210.4,3 211.3,3 C211.5,3 211.7,3 211.9,3 L211.9,4.7 C211.6,4.7 211.4,4.7 211.2,4.7 Z" id="Shape"></path>
                <path d="M215.9,13.9 C215,13.9 214.1,13.8 213.3,13.3 C212.7,12.9 212.4,12.4 212.4,11.7 C212.4,11.1 212.7,10.5 213.3,10.2 C212.8,9.9 212.6,9.4 212.6,8.9 C212.6,8.3 212.9,7.8 213.5,7.4 C213,6.9 212.8,6.3 212.8,5.6 C212.8,3.8 214.2,2.9 215.8,2.9 C216.4,2.9 217,3.1 217.5,3.4 C217.8,2.8 218.4,2.5 219,2.5 C219.1,2.5 219.4,2.5 219.5,2.5 L219.5,3.9 C219.5,3.9 219.4,3.9 219.4,3.9 C219,3.9 218.6,4 218.5,4.4 C218.7,4.8 218.9,5.2 218.9,5.7 C218.9,7.4 217.5,8.4 215.9,8.4 C215.5,8.4 215.1,8.3 214.7,8.2 C214.5,8.3 214.3,8.5 214.3,8.7 C214.3,9.1 214.7,9.2 215.1,9.2 L216.3,9.2 C217,9.2 218,9.2 218.7,9.7 C219.3,10.1 219.6,10.8 219.6,11.5 C219.5,13.4 217.6,13.9 215.9,13.9 Z M216.1,10.6 L214.7,10.6 C214.3,10.7 214,11 214,11.5 C214,12.4 215.2,12.5 215.9,12.5 C216.6,12.5 217.9,12.5 217.9,11.5 C217.8,10.6 216.7,10.6 216.1,10.6 Z M215.7,4.2 C214.9,4.2 214.4,4.8 214.4,5.6 C214.4,6.4 214.9,7 215.7,7 C216.5,7 217,6.4 217,5.6 C217,4.8 216.6,4.2 215.7,4.2 Z" id="Shape"></path>
                <path d="M225.4,10.5 L225.3,9.5 C224.9,10.2 224.1,10.7 223.2,10.7 C221.6,10.7 220.6,9.6 220.6,8.1 L220.6,3.2 L222.4,3.2 L222.4,7.7 C222.4,8.6 222.7,9.1 223.7,9.1 C224.1,9.1 224.4,8.9 224.6,8.7 C225,8.3 225.1,7.6 225.1,7 L225.1,3.1 L226.9,3.1 L226.9,10.5 L225.4,10.5 Z" id="Shape"></path>
                <path d="M233.6,10.5 L233.6,6 C233.6,5.1 233.3,4.6 232.4,4.6 C231.8,4.6 231.4,5 231.1,5.5 C230.8,6.1 230.9,6.9 230.9,7.5 L230.9,10.5 L229.1,10.5 L229.1,3.1 L230.6,3.1 L230.7,4.1 C231.1,3.3 232,3 232.9,3 C234.5,3 235.4,4.1 235.4,5.6 L235.4,10.5 L233.6,10.5 Z" id="Shape"></path>
                <path d="M242,10.5 L242,6 C242,5.1 241.7,4.6 240.8,4.6 C240.2,4.6 239.8,5 239.5,5.5 C239.2,6.1 239.3,6.9 239.3,7.5 L239.3,10.5 L237.5,10.5 L237.5,3.1 L239,3.1 L239.1,4.1 C239.5,3.3 240.4,3 241.3,3 C242.9,3 243.8,4.1 243.8,5.6 L243.8,10.5 L242,10.5 Z" id="Shape"></path>
                <path d="M245.9,2 L245.9,0.2 L247.8,0.2 L247.8,2 L245.9,2 Z M245.9,10.5 L245.9,3.1 L247.7,3.1 L247.7,10.5 L245.9,10.5 Z" id="Shape"></path>
                <path d="M254.5,10.5 L254.5,6 C254.5,5.1 254.2,4.6 253.3,4.6 C252.7,4.6 252.3,5 252,5.5 C251.7,6.1 251.8,6.9 251.8,7.5 L251.8,10.5 L250,10.5 L250,3.1 L251.5,3.1 L251.6,4.1 C252,3.3 252.9,3 253.8,3 C255.4,3 256.3,4.1 256.3,5.6 L256.3,10.5 L254.5,10.5 Z" id="Shape"></path>
                <path d="M261.3,13.9 C260.4,13.9 259.5,13.8 258.7,13.3 C258.1,12.9 257.8,12.4 257.8,11.7 C257.8,11.1 258.1,10.5 258.7,10.2 C258.2,9.9 258,9.4 258,8.9 C258,8.3 258.3,7.8 258.9,7.4 C258.4,6.9 258.2,6.3 258.2,5.6 C258.2,3.8 259.6,2.9 261.2,2.9 C261.8,2.9 262.4,3.1 262.9,3.4 C263.2,2.8 263.8,2.5 264.4,2.5 C264.5,2.5 264.8,2.5 264.9,2.5 L264.9,3.9 C264.9,3.9 264.8,3.9 264.8,3.9 C264.4,3.9 264,4 263.9,4.4 C264.1,4.8 264.3,5.2 264.3,5.7 C264.3,7.4 262.9,8.4 261.3,8.4 C260.9,8.4 260.5,8.3 260.1,8.2 C259.9,8.3 259.7,8.5 259.7,8.7 C259.7,9.1 260.1,9.2 260.5,9.2 L261.7,9.2 C262.4,9.2 263.4,9.2 264.1,9.7 C264.7,10.1 265,10.8 265,11.5 C264.9,13.4 263,13.9 261.3,13.9 Z M261.4,10.6 L260,10.6 C259.6,10.7 259.3,11 259.3,11.5 C259.3,12.4 260.5,12.5 261.2,12.5 C261.9,12.5 263.2,12.5 263.2,11.5 C263.2,10.6 262.1,10.6 261.4,10.6 Z M261.1,4.2 C260.3,4.2 259.8,4.8 259.8,5.6 C259.8,6.4 260.3,7 261.1,7 C261.9,7 262.4,6.4 262.4,5.6 C262.4,4.8 261.9,4.2 261.1,4.2 Z" id="Shape"></path>
                <path d="M272.3,7.3 L267.4,7.3 C267.4,7.9 267.6,8.4 267.9,8.8 C268.2,9 268.5,9.3 269,9.3 C269.5,9.3 269.8,9.2 270.1,8.9 C270.3,8.7 270.4,8.5 270.5,8.3 L272.2,8.3 C272.2,8.7 271.9,9.3 271.6,9.7 C271,10.4 270,10.7 269.1,10.7 C268.1,10.7 267.3,10.3 266.8,9.8 C266.1,9.1 265.7,8.1 265.7,6.8 C265.7,5.6 266.1,4.6 266.8,3.8 C267.4,3.2 268.2,2.9 269.2,2.9 C270.3,2.9 271.3,3.3 271.9,4.3 C272.4,5.1 272.6,5.9 272.5,6.9 C272.3,6.8 272.3,7.2 272.3,7.3 Z M270.1,4.7 C269.9,4.4 269.5,4.3 269,4.3 C268.5,4.3 268,4.5 267.8,4.9 C267.5,5.2 267.4,5.6 267.4,6.1 L270.6,6.1 C270.5,5.5 270.4,5 270.1,4.7 Z" id="Shape"></path>
                <path d="M278.5,10.5 L278.5,6 C278.5,5.1 278.2,4.6 277.3,4.6 C276.7,4.6 276.3,5 276,5.5 C275.7,6.1 275.8,6.9 275.8,7.5 L275.8,10.5 L274,10.5 L274,3.1 L275.5,3.1 L275.6,4.1 C276,3.3 276.9,3 277.8,3 C279.4,3 280.3,4.1 280.3,5.6 L280.3,10.5 L278.5,10.5 Z" id="Shape"></path>
            </g>
            <g id="Group" transform="translate(148.000000, 114.000000)" fill="#E5007E" fill-rule="nonzero">
                <path d="M7.1,10.8 L6.9,9.7 C6.6,10.3 5.6,11 4.4,11 C3.2,11 2.2,10.7 1.4,9.9 C0.3,8.8 0.1,7.5 0.1,5.8 C0.1,4.1 0.3,2.8 1.4,1.7 C2.2,0.9 3.3,0.5 4.4,0.5 C5.6,0.5 6.7,1 7.4,1.7 C7.9,2.2 8.3,2.9 8.3,3.7 L6.4,3.7 C6.4,3.3 6.2,3 6,2.8 C5.6,2.4 5.1,2.2 4.4,2.2 C3.8,2.2 3.1,2.5 2.7,2.9 C2,3.6 1.9,4.9 1.9,5.8 C1.9,6.7 2,8 2.7,8.7 C3.1,9.1 3.8,9.3 4.3,9.3 C5,9.3 5.5,9.1 5.8,8.7 C6.3,8.1 6.5,7.5 6.5,6.7 L4.1,6.7 L4.1,5.2 L8.3,5.2 L8.3,10.7 L7.1,10.7 L7.1,10.8 Z" id="Shape"></path>
                <path d="M16.8,9.8 C16,10.6 15,10.9 13.9,10.9 C12.8,10.9 11.8,10.5 11,9.8 C9.9,8.7 9.7,7.4 9.7,5.7 C9.7,4 9.9,2.7 11,1.6 C11.8,0.8 12.8,0.5 13.9,0.5 C15,0.5 16,0.9 16.8,1.6 C17.9,2.7 18.1,4 18.1,5.7 C18.1,7.4 17.9,8.7 16.8,9.8 Z M15.5,2.8 C15.1,2.4 14.5,2.1 13.9,2.1 C13.3,2.1 12.7,2.3 12.3,2.8 C11.6,3.5 11.6,4.8 11.6,5.7 C11.6,6.6 11.6,7.9 12.3,8.6 C12.7,9 13.3,9.3 13.9,9.3 C14.5,9.3 15.1,9.1 15.5,8.6 C16.2,7.9 16.2,6.6 16.2,5.7 C16.2,4.8 16.2,3.6 15.5,2.8 Z" id="Shape"></path>
                <path d="M23.5,11 C20.9,11 19.5,9.4 19.5,6.9 L19.5,0.7 L21.3,0.7 L21.3,6.9 C21.3,8.3 22,9.3 23.4,9.3 C24.8,9.3 25.5,8.3 25.5,6.9 L25.5,0.7 L27.3,0.7 L27.3,6.9 C27.5,9.3 26.1,11 23.5,11 Z" id="Shape"></path>
                <path d="M36.3,9.7 C35.6,10.4 34.6,10.8 33.5,10.8 L29.6,10.8 L29.6,0.7 L33.5,0.7 C34.7,0.7 35.7,1.1 36.3,1.8 C37.3,2.9 37.5,4.4 37.5,5.8 C37.5,7.2 37.4,8.6 36.3,9.7 Z M34.9,2.9 C34.6,2.6 34.1,2.3 33.5,2.3 L31.4,2.3 L31.4,9.1 L33.5,9.1 C34.1,9.1 34.6,8.9 34.9,8.5 C35.6,7.8 35.6,6.6 35.6,5.7 C35.6,4.8 35.6,3.6 34.9,2.9 Z" id="Shape"></path>
            </g>
            <g id="Group" transform="translate(373.000000, 114.000000)" fill="#E5007E" fill-rule="nonzero">
                <path d="M7.5,9.8 L8.4,10.9 L7.3,11.8 L6.4,10.6 C5.8,10.8 5.2,11 4.6,11 C3.5,11 2.5,10.6 1.7,9.9 C0.6,8.8 0.4,7.5 0.4,5.8 C0.4,4.1 0.6,2.8 1.7,1.7 C2.5,0.9 3.5,0.6 4.6,0.6 C5.7,0.6 6.7,1 7.5,1.7 C8.6,2.8 8.8,4.1 8.8,5.8 C8.8,7.5 8.6,8.7 7.5,9.8 Z M6.2,2.8 C5.8,2.4 5.2,2.1 4.6,2.1 C4,2.1 3.4,2.3 3,2.8 C2.3,3.5 2.3,4.8 2.3,5.7 C2.3,6.6 2.3,7.9 3,8.6 C3.4,9 4,9.3 4.6,9.3 C4.8,9.3 5,9.3 5.3,9.2 L4.2,7.8 L5.3,6.9 L6.4,8.3 C6.9,7.6 6.9,6.5 6.9,5.7 C6.9,4.8 6.9,3.6 6.2,2.8 Z" id="Shape"></path>
                <path d="M13.4,11 C11.6,11 10.1,9.8 10,8 L11.8,8 C11.9,9 12.5,9.5 13.4,9.5 C14.3,9.5 15,9 15,8 C15,7 14.2,6.5 13.3,6.5 L12.6,6.5 L12.6,5 L13.3,5 C14.3,5 14.8,4.6 14.8,3.7 C14.8,3 14.2,2.4 13.4,2.4 C12.5,2.4 11.9,2.8 11.9,3.7 L10.1,3.7 C10.1,1.8 11.6,0.8 13.4,0.8 C15.2,0.8 16.6,1.9 16.6,3.6 C16.6,4.5 16.1,5.4 15.2,5.7 C16.2,6 16.8,7 16.8,8 C16.7,9.9 15.2,11 13.4,11 Z" id="Shape"></path>
                <path d="M21.3,10.8 L21.3,9.4 L25.2,4.8 C25.5,4.4 25.7,3.9 25.7,3.5 C25.7,2.8 25.3,2.3 24.4,2.3 C23.6,2.3 23.1,2.9 23.1,3.7 L21.3,3.7 C21.3,2 22.4,0.7 24.5,0.7 C26.2,0.7 27.5,1.8 27.5,3.5 C27.5,4.4 27,5.3 26.4,5.9 L23.7,9.2 L27.7,9.2 L27.7,10.8 L21.3,10.8 Z" id="Shape"></path>
                <path d="M34.9,10.1 C34.4,10.6 33.7,11 32.6,11 C31.5,11 30.8,10.6 30.3,10.1 C29.3,9.1 29.1,7.5 29.1,5.8 C29.1,4.1 29.3,2.5 30.3,1.5 C30.8,1 31.5,0.6 32.6,0.6 C33.7,0.6 34.4,1 34.9,1.5 C35.9,2.5 36.1,4.1 36.1,5.8 C36.1,7.5 36,9.1 34.9,10.1 Z M32.6,2.3 C30.8,2.3 30.9,4.5 30.9,5.8 C30.9,7.1 30.7,9.3 32.6,9.3 C34.4,9.3 34.3,7.1 34.3,5.8 C34.3,4.5 34.5,2.3 32.6,2.3 Z" id="Shape"></path>
                <path d="M37.6,10.8 L37.6,9.4 L41.5,4.8 C41.8,4.4 42,3.9 42,3.5 C42,2.8 41.6,2.3 40.7,2.3 C39.9,2.3 39.4,2.9 39.4,3.7 L37.6,3.7 C37.6,2 38.7,0.7 40.8,0.7 C42.5,0.7 43.8,1.8 43.8,3.5 C43.8,4.4 43.3,5.3 42.7,5.9 L40,9.2 L44,9.2 L44,10.8 L37.6,10.8 Z" id="Shape"></path>
                <polygon id="Shape" points="48.6 10.8 48.6 3 46.4 4.6 46.4 2.7 48.8 1 50.3 1 50.3 10.9 48.6 10.9"></polygon>
            </g>
            <g id="Group" transform="translate(1061.000000, 114.000000)" fill="#E5007E" fill-rule="nonzero">
                <path d="M7.9,9.8 L8.8,10.9 L7.7,11.8 L6.8,10.6 C6.2,10.8 5.6,11 5,11 C3.9,11 2.9,10.6 2.1,9.9 C1,8.8 0.8,7.5 0.8,5.8 C0.8,4.1 1,2.8 2.1,1.7 C2.9,0.9 3.9,0.6 5,0.6 C6.1,0.6 7.1,1 7.9,1.7 C9,2.8 9.2,4.1 9.2,5.8 C9.2,7.5 9,8.7 7.9,9.8 Z M6.6,2.8 C6.2,2.4 5.6,2.1 5,2.1 C4.4,2.1 3.8,2.3 3.4,2.8 C2.7,3.5 2.7,4.8 2.7,5.7 C2.7,6.6 2.7,7.9 3.4,8.6 C3.8,9 4.4,9.3 5,9.3 C5.2,9.3 5.4,9.3 5.7,9.2 L4.6,7.8 L5.7,6.9 L6.8,8.3 C7.3,7.6 7.3,6.5 7.3,5.7 C7.3,4.8 7.3,3.6 6.6,2.8 Z" id="Shape"></path>
                <polygon id="Shape" points="13.6 10.8 13.6 3 11.4 4.6 11.4 2.7 13.8 1 15.3 1 15.3 10.9 13.6 10.9"></polygon>
                <path d="M21.7,10.8 L21.7,9.4 L25.6,4.8 C25.9,4.4 26.1,3.9 26.1,3.5 C26.1,2.8 25.7,2.3 24.8,2.3 C24,2.3 23.5,2.9 23.5,3.7 L21.7,3.7 C21.7,2 22.8,0.7 24.9,0.7 C26.6,0.7 27.9,1.8 27.9,3.5 C27.9,4.4 27.4,5.3 26.8,5.9 L24.1,9.2 L28.1,9.2 L28.1,10.8 L21.7,10.8 Z" id="Shape"></path>
                <path d="M35.3,10.1 C34.8,10.6 34.1,11 33,11 C31.9,11 31.2,10.6 30.7,10.1 C29.7,9.1 29.5,7.5 29.5,5.8 C29.5,4.1 29.7,2.5 30.7,1.5 C31.2,1 31.9,0.6 33,0.6 C34.1,0.6 34.8,1 35.3,1.5 C36.3,2.5 36.5,4.1 36.5,5.8 C36.5,7.5 36.3,9.1 35.3,10.1 Z M33,2.3 C31.2,2.3 31.3,4.5 31.3,5.8 C31.3,7.1 31.1,9.3 33,9.3 C34.8,9.3 34.7,7.1 34.7,5.8 C34.7,4.5 34.8,2.3 33,2.3 Z" id="Shape"></path>
                <path d="M37.9,10.8 L37.9,9.4 L41.8,4.8 C42.1,4.4 42.3,3.9 42.3,3.5 C42.3,2.8 41.9,2.3 41,2.3 C40.2,2.3 39.7,2.9 39.7,3.7 L37.9,3.7 C37.9,2 39,0.7 41.1,0.7 C42.8,0.7 44.1,1.8 44.1,3.5 C44.1,4.4 43.6,5.3 43,5.9 L40.3,9.2 L44.3,9.2 L44.3,10.8 L37.9,10.8 Z" id="Shape"></path>
                <path d="M49.1,11 C47.3,11 45.8,9.8 45.7,8 L47.5,8 C47.6,9 48.2,9.5 49.1,9.5 C50,9.5 50.7,9 50.7,8 C50.7,7 49.9,6.5 49,6.5 L48.3,6.5 L48.3,5 L49,5 C50,5 50.5,4.6 50.5,3.7 C50.5,3 49.9,2.4 49.1,2.4 C48.2,2.4 47.6,2.8 47.6,3.7 L45.8,3.7 C45.8,1.8 47.3,0.8 49.1,0.8 C50.9,0.8 52.3,1.9 52.3,3.6 C52.3,4.5 51.8,5.4 50.9,5.7 C51.9,6 52.5,7 52.5,8 C52.5,9.9 51,11 49.1,11 Z" id="Shape"></path>
            </g>
            <g id="Group" transform="translate(374.000000, 0.000000)" fill="#E5007E" fill-rule="nonzero">
                <path d="M6.7,9.8 C5.9,10.4 5,10.5 4,10.5 L0,10.5 L0,0.4 L4,0.4 C4.8,0.4 5.7,0.5 6.3,1 C7,1.5 7.5,2.3 7.5,3.2 C7.5,4 7.1,4.9 6.3,5.3 C7.3,5.7 7.8,6.6 7.8,7.6 C7.7,8.4 7.4,9.2 6.7,9.8 Z M4.1,2 L1.8,2 L1.8,4.5 L4.1,4.5 C4.9,4.5 5.6,4.2 5.6,3.2 C5.7,2.3 4.9,2 4.1,2 Z M4.1,6 L1.8,6 L1.8,8.8 L4.1,8.8 C5,8.8 5.9,8.5 5.9,7.5 C5.9,6.4 5.1,6 4.1,6 Z" id="Shape"></path>
                <path d="M14.9,9.5 C14.4,10.1 13.4,10.7 12.3,10.7 C11.2,10.7 10.2,10.2 9.7,9.5 C9.1,8.8 8.8,8 8.8,6.8 C8.8,5.5 9.1,4.8 9.7,4.1 C10.2,3.5 11.2,2.9 12.3,2.9 C13.4,2.9 14.4,3.4 14.9,4.1 C15.5,4.8 15.8,5.6 15.8,6.8 C15.8,8 15.5,8.8 14.9,9.5 Z M13.5,4.9 C13.3,4.6 12.9,4.4 12.4,4.4 C11.9,4.4 11.5,4.6 11.3,4.9 C10.9,5.4 10.8,6.1 10.8,6.8 C10.8,7.5 10.9,8.2 11.3,8.7 C11.5,9 11.9,9.2 12.4,9.2 C12.9,9.2 13.3,9 13.5,8.7 C13.9,8.2 14,7.5 14,6.8 C14,6.1 13.9,5.4 13.5,4.9 Z" id="Shape"></path>
                <path d="M21.2,4.7 C19.9,4.7 19.3,5.6 19.3,6.8 L19.3,10.5 L17.5,10.5 L17.5,3.1 L19,3.1 L19.2,4.2 C19.5,3.3 20.4,3 21.3,3 C21.5,3 21.7,3 21.9,3 L21.9,4.7 C21.6,4.7 21.4,4.7 21.2,4.7 Z" id="Shape"></path>
                <path d="M29.2,7.3 L24.3,7.3 C24.3,7.9 24.5,8.4 24.8,8.8 C25.1,9 25.4,9.3 25.9,9.3 C26.4,9.3 26.7,9.2 27,8.9 C27.2,8.7 27.3,8.5 27.4,8.3 L29.1,8.3 C29.1,8.7 28.8,9.3 28.5,9.7 C27.9,10.4 27,10.7 26,10.7 C25,10.7 24.3,10.3 23.7,9.8 C23,9.1 22.6,8.1 22.6,6.8 C22.6,5.6 23,4.6 23.7,3.8 C24.3,3.2 25.1,2.9 26.1,2.9 C27.2,2.9 28.2,3.3 28.8,4.3 C29.3,5.1 29.5,5.9 29.4,6.9 C29.2,6.8 29.2,7.2 29.2,7.3 Z M27,4.7 C26.8,4.4 26.4,4.3 25.9,4.3 C25.4,4.3 24.9,4.5 24.7,4.9 C24.4,5.2 24.3,5.6 24.3,6.1 L27.5,6.1 C27.4,5.5 27.3,5 27,4.7 Z" id="Shape"></path>
                <path d="M35.4,10.5 L35.4,6 C35.4,5.1 35.1,4.6 34.2,4.6 C33.6,4.6 33.2,5 32.9,5.5 C32.6,6.1 32.7,6.9 32.7,7.5 L32.7,10.5 L30.9,10.5 L30.9,3.1 L32.4,3.1 L32.5,4.1 C32.9,3.3 33.8,3 34.7,3 C36.3,3 37.2,4.1 37.2,5.6 L37.2,10.5 L35.4,10.5 Z" id="Shape"></path>
                <path d="M39.8,12.9 L39.3,12.1 C40.1,11.7 40.3,11.3 40.3,10.5 L39.2,10.5 L39.2,8.3 L41.4,8.3 L41.4,10.3 C41.3,11.5 41,12.4 39.8,12.9 Z" id="Shape"></path>
                <path d="M48.4,10.6 C46.9,10.6 46.2,9.7 46.2,8.3 L46.2,4.5 L44.8,4.5 L44.8,3 L46.2,3 L46.2,1.1 L48,0.7 L48,3 L49.9,3 L49.9,4.5 L48,4.5 L48,8.1 C48,8.7 48.3,8.9 48.8,8.9 C49.2,8.9 49.5,8.9 50,8.8 L50,10.3 C49.4,10.5 48.9,10.6 48.4,10.6 Z" id="Shape"></path>
                <path d="M57.5,7.3 L52.6,7.3 C52.6,7.9 52.8,8.4 53.1,8.8 C53.4,9 53.7,9.3 54.2,9.3 C54.7,9.3 55,9.2 55.3,8.9 C55.5,8.7 55.6,8.5 55.7,8.3 L57.4,8.3 C57.4,8.7 57.1,9.3 56.8,9.7 C56.2,10.4 55.3,10.7 54.3,10.7 C53.3,10.7 52.6,10.3 52,9.8 C51.3,9.1 50.9,8.1 50.9,6.8 C50.9,5.6 51.3,4.6 52,3.8 C52.6,3.2 53.4,2.9 54.4,2.9 C55.5,2.9 56.5,3.3 57.1,4.3 C57.6,5.1 57.8,5.9 57.7,6.9 C57.5,6.8 57.5,7.2 57.5,7.3 Z M55.3,4.7 C55.1,4.4 54.7,4.3 54.2,4.3 C53.7,4.3 53.2,4.5 53,4.9 C52.7,5.2 52.6,5.6 52.6,6.1 L55.8,6.1 C55.7,5.5 55.6,5 55.3,4.7 Z" id="Shape"></path>
                <path d="M64.3,9.8 C63.7,10.4 62.8,10.7 61.8,10.7 C60.9,10.7 60,10.4 59.4,9.8 C59,9.4 58.6,8.8 58.6,8.1 L60.3,8.1 C60.3,8.4 60.5,8.8 60.7,9 C61,9.2 61.3,9.3 61.8,9.3 C62.4,9.3 63.3,9.2 63.3,8.4 C63.3,8 63,7.7 62.6,7.6 C61.9,7.5 61.2,7.5 60.6,7.3 C59.6,7.1 58.9,6.3 58.9,5.3 C58.9,4.5 59.2,4 59.7,3.6 C60.2,3.1 61,2.9 61.9,2.9 C62.8,2.9 63.7,3.2 64.2,3.8 C64.6,4.2 64.9,4.8 64.9,5.3 L63.2,5.3 C63.2,5 63.1,4.8 62.9,4.6 C62.7,4.4 62.3,4.3 61.9,4.3 C61.6,4.3 61.4,4.3 61.1,4.4 C60.8,4.5 60.5,4.8 60.5,5.2 C60.5,5.7 61,5.9 61.4,5.9 C62.1,6 62.3,6 63,6.1 C64.2,6.3 65,7 65,8.2 C64.9,8.9 64.7,9.4 64.3,9.8 Z" id="Shape"></path>
                <path d="M69.2,10.6 C67.7,10.6 67,9.7 67,8.3 L67,4.5 L65.6,4.5 L65.6,3 L67,3 L67,1.1 L68.8,0.7 L68.8,3 L70.7,3 L70.7,4.5 L68.8,4.5 L68.8,8.1 C68.8,8.7 69.1,8.9 69.6,8.9 C70,8.9 70.3,8.9 70.8,8.8 L70.8,10.3 C70.2,10.5 69.7,10.6 69.2,10.6 Z" id="Shape"></path>
                <path d="M78.3,7.3 L73.4,7.3 C73.4,7.9 73.6,8.4 73.9,8.8 C74.2,9 74.5,9.3 75,9.3 C75.5,9.3 75.8,9.2 76.1,8.9 C76.3,8.7 76.4,8.5 76.5,8.3 L78.2,8.3 C78.2,8.7 77.9,9.3 77.6,9.7 C77,10.4 76.1,10.7 75.1,10.7 C74.1,10.7 73.4,10.3 72.8,9.8 C72.1,9.1 71.7,8.1 71.7,6.8 C71.7,5.6 72.1,4.6 72.8,3.8 C73.4,3.2 74.2,2.9 75.2,2.9 C76.3,2.9 77.3,3.3 77.9,4.3 C78.4,5.1 78.6,5.9 78.5,6.9 C78.3,6.8 78.3,7.2 78.3,7.3 Z M76.1,4.7 C75.9,4.4 75.5,4.3 75,4.3 C74.5,4.3 74,4.5 73.8,4.9 C73.5,5.2 73.4,5.6 73.4,6.1 L76.6,6.1 C76.5,5.5 76.4,5 76.1,4.7 Z" id="Shape"></path>
                <path d="M84.5,10.5 L84.5,6 C84.5,5.1 84.2,4.6 83.3,4.6 C82.7,4.6 82.3,5 82,5.5 C81.7,6.1 81.8,6.9 81.8,7.5 L81.8,10.5 L80,10.5 L80,3.1 L81.5,3.1 L81.6,4.1 C82,3.3 82.9,3 83.8,3 C85.4,3 86.3,4.1 86.3,5.6 L86.3,10.5 L84.5,10.5 Z" id="Shape"></path>
                <path d="M97.6,7.3 L92.7,7.3 C92.7,7.9 92.9,8.4 93.2,8.8 C93.5,9 93.8,9.3 94.3,9.3 C94.8,9.3 95.1,9.2 95.4,8.9 C95.6,8.7 95.7,8.5 95.8,8.3 L97.5,8.3 C97.5,8.7 97.2,9.3 96.9,9.7 C96.3,10.4 95.4,10.7 94.4,10.7 C93.4,10.7 92.7,10.3 92.1,9.8 C91.4,9.1 91,8.1 91,6.8 C91,5.6 91.4,4.6 92.1,3.8 C92.7,3.2 93.5,2.9 94.5,2.9 C95.6,2.9 96.6,3.3 97.2,4.3 C97.7,5.1 97.9,5.9 97.8,6.9 C97.6,6.8 97.6,7.2 97.6,7.3 Z M95.4,4.7 C95.2,4.4 94.8,4.3 94.3,4.3 C93.8,4.3 93.3,4.5 93.1,4.9 C92.8,5.2 92.7,5.6 92.7,6.1 L95.9,6.1 C95.8,5.5 95.7,5 95.4,4.7 Z" id="Shape"></path>
                <path d="M103.8,10.5 L103.8,6 C103.8,5.1 103.5,4.6 102.6,4.6 C102,4.6 101.6,5 101.3,5.5 C101,6.1 101.1,6.9 101.1,7.5 L101.1,10.5 L99.3,10.5 L99.3,3.1 L100.8,3.1 L100.9,4.1 C101.3,3.3 102.2,3 103.1,3 C104.7,3 105.6,4.1 105.6,5.6 L105.6,10.5 L103.8,10.5 Z" id="Shape"></path>
                <path d="M116.2,10 C115.7,10.4 115.1,10.6 114.4,10.6 C113.6,10.6 112.8,10.3 112.3,9.6 L112.2,10.4 L110.7,10.4 L110.7,0.1 L112.5,0.1 L112.5,3.5 C112.8,3.1 113.6,2.8 114.4,2.8 C115.2,2.8 115.8,3 116.2,3.4 C117.1,4.1 117.5,5.2 117.5,6.7 C117.5,8.2 117.1,9.3 116.2,10 Z M115.2,5 C114.9,4.7 114.6,4.4 114,4.4 C112.6,4.4 112.3,5.7 112.3,6.8 C112.3,7.5 112.4,8.3 112.9,8.8 C113.1,9 113.5,9.2 113.9,9.2 C114.5,9.2 114.8,8.9 115.1,8.6 C115.5,8.1 115.6,7.4 115.6,6.8 C115.6,6.2 115.6,5.4 115.2,5 Z" id="Shape"></path>
                <path d="M124.8,9.5 C124.3,10.1 123.3,10.7 122.2,10.7 C121.1,10.7 120.1,10.2 119.6,9.5 C119,8.8 118.7,8 118.7,6.8 C118.7,5.5 119,4.8 119.6,4.1 C120.1,3.5 121.1,2.9 122.2,2.9 C123.3,2.9 124.3,3.4 124.8,4.1 C125.4,4.8 125.7,5.6 125.7,6.8 C125.6,8 125.3,8.8 124.8,9.5 Z M123.3,4.9 C123.1,4.6 122.7,4.4 122.2,4.4 C121.7,4.4 121.3,4.6 121.1,4.9 C120.7,5.4 120.6,6.1 120.6,6.8 C120.6,7.5 120.7,8.2 121.1,8.7 C121.3,9 121.7,9.2 122.2,9.2 C122.7,9.2 123.1,9 123.3,8.7 C123.7,8.2 123.8,7.5 123.8,6.8 C123.8,6.1 123.7,5.4 123.3,4.9 Z" id="Shape"></path>
                <path d="M132,10.5 L131.9,9.5 C131.5,10.2 130.7,10.7 129.8,10.7 C128.2,10.7 127.2,9.6 127.2,8.1 L127.2,3.2 L129,3.2 L129,7.7 C129,8.6 129.3,9.1 130.3,9.1 C130.7,9.1 131,8.9 131.2,8.7 C131.6,8.3 131.7,7.6 131.7,7 L131.7,3.1 L133.5,3.1 L133.5,10.5 L132,10.5 Z" id="Shape"></path>
                <polygon id="Shape" points="143.4 10.5 141.8 10.5 140.1 5.5 138.4 10.5 136.8 10.5 134.9 3.1 136.6 3.1 137.8 7.9 139.3 3.1 140.8 3.1 142.4 7.9 143.5 3.1 145.2 3.1"></polygon>
                <path d="M152.9,7.3 L148,7.3 C148,7.9 148.2,8.4 148.5,8.8 C148.8,9 149.1,9.3 149.6,9.3 C150.1,9.3 150.4,9.2 150.7,8.9 C150.9,8.7 151,8.5 151.1,8.3 L152.8,8.3 C152.8,8.7 152.5,9.3 152.2,9.7 C151.6,10.4 150.7,10.7 149.7,10.7 C148.7,10.7 148,10.3 147.4,9.8 C146.7,9.1 146.3,8.1 146.3,6.8 C146.3,5.6 146.7,4.6 147.4,3.8 C148,3.2 148.8,2.9 149.8,2.9 C150.9,2.9 151.9,3.3 152.5,4.3 C153,5.1 153.2,5.9 153.1,6.9 C152.9,6.8 152.9,7.2 152.9,7.3 Z M150.6,4.7 C150.4,4.4 150,4.3 149.5,4.3 C149,4.3 148.5,4.5 148.3,4.9 C148,5.2 147.9,5.6 147.9,6.1 L151.1,6.1 C151.1,5.5 150.9,5 150.6,4.7 Z" id="Shape"></path>
                <path d="M159.1,10.5 L159.1,6 C159.1,5.1 158.8,4.6 157.9,4.6 C157.3,4.6 156.9,5 156.6,5.5 C156.3,6.1 156.4,6.9 156.4,7.5 L156.4,10.5 L154.6,10.5 L154.6,3.1 L156.1,3.1 L156.2,4.1 C156.6,3.3 157.5,3 158.4,3 C160,3 160.9,4.1 160.9,5.6 L160.9,10.5 L159.1,10.5 Z" id="Shape"></path>
            </g>
            <g id="Group" transform="translate(1061.000000, 0.000000)" fill="#E5007E" fill-rule="nonzero">
                <polygon id="Shape" points="10.4 10.5 8.6 10.5 6.5 3.5 4.4 10.5 2.6 10.5 0.6 0.4 2.3 0.4 3.7 7.4 5.8 0.5 7.3 0.5 9.3 7.4 10.7 0.4 12.4 0.4"></polygon>
                <path d="M13.7,2 L13.7,0.2 L15.6,0.2 L15.6,2 L13.7,2 Z M13.7,10.5 L13.7,3.1 L15.5,3.1 L15.5,10.5 L13.7,10.5 Z" id="Shape"></path>
                <path d="M22.3,10.5 L22.3,6 C22.3,5.1 22,4.6 21.1,4.6 C20.5,4.6 20.1,5 19.8,5.5 C19.5,6.1 19.6,6.9 19.6,7.5 L19.6,10.5 L17.8,10.5 L17.8,3.1 L19.3,3.1 L19.4,4.1 C19.8,3.3 20.7,3 21.6,3 C23.2,3 24.1,4.1 24.1,5.6 L24.1,10.5 L22.3,10.5 Z" id="Shape"></path>
                <path d="M30.7,10.5 L30.7,6 C30.7,5.1 30.4,4.6 29.5,4.6 C28.9,4.6 28.5,5 28.2,5.5 C27.9,6.1 28,6.9 28,7.5 L28,10.5 L26.2,10.5 L26.2,3.1 L27.7,3.1 L27.8,4.1 C28.2,3.3 29.1,3 30,3 C31.6,3 32.5,4.1 32.5,5.6 L32.5,10.5 L30.7,10.5 Z" id="Shape"></path>
                <path d="M40.8,7.3 L35.9,7.3 C35.9,7.9 36.1,8.4 36.4,8.8 C36.7,9 37,9.3 37.5,9.3 C38,9.3 38.3,9.2 38.6,8.9 C38.8,8.7 38.9,8.5 39,8.3 L40.7,8.3 C40.7,8.7 40.4,9.3 40.1,9.7 C39.5,10.4 38.6,10.7 37.6,10.7 C36.6,10.7 35.9,10.3 35.3,9.8 C34.6,9.1 34.2,8.1 34.2,6.8 C34.2,5.6 34.6,4.6 35.3,3.8 C35.9,3.2 36.7,2.9 37.7,2.9 C38.8,2.9 39.8,3.3 40.4,4.3 C40.9,5.1 41.1,5.9 41,6.9 C40.8,6.8 40.8,7.2 40.8,7.3 Z M38.6,4.7 C38.4,4.4 38,4.3 37.5,4.3 C37,4.3 36.5,4.5 36.3,4.9 C36,5.2 35.9,5.6 35.9,6.1 L39.1,6.1 C39.1,5.5 38.9,5 38.6,4.7 Z" id="Shape"></path>
                <path d="M47,10.5 L47,6 C47,5.1 46.7,4.6 45.8,4.6 C45.2,4.6 44.8,5 44.5,5.5 C44.2,6.1 44.3,6.9 44.3,7.5 L44.3,10.5 L42.5,10.5 L42.5,3.1 L44,3.1 L44.1,4.1 C44.5,3.3 45.4,3 46.3,3 C47.9,3 48.8,4.1 48.8,5.6 L48.8,10.5 L47,10.5 Z" id="Shape"></path>
                <polygon id="Shape" points="54.1 10.7 52.8 10.7 57.2 0.2 58.5 0.2"></polygon>
                <path d="M68.6,7.3 L63.7,7.3 C63.7,7.9 63.9,8.4 64.2,8.8 C64.5,9 64.8,9.3 65.3,9.3 C65.8,9.3 66.1,9.2 66.4,8.9 C66.6,8.7 66.7,8.5 66.8,8.3 L68.5,8.3 C68.5,8.7 68.2,9.3 67.9,9.7 C67.3,10.4 66.4,10.7 65.4,10.7 C64.4,10.7 63.7,10.3 63.1,9.8 C62.4,9.1 62,8.1 62,6.8 C62,5.6 62.4,4.6 63.1,3.8 C63.7,3.2 64.5,2.9 65.5,2.9 C66.6,2.9 67.6,3.3 68.2,4.3 C68.7,5.1 68.9,5.9 68.8,6.9 C68.7,6.8 68.6,7.2 68.6,7.3 Z M66.4,4.7 C66.2,4.4 65.8,4.3 65.3,4.3 C64.8,4.3 64.3,4.5 64.1,4.9 C63.8,5.2 63.7,5.6 63.7,6.1 L66.9,6.1 C66.9,5.5 66.7,5 66.4,4.7 Z" id="Shape"></path>
                <polygon id="Shape" points="73.8 6.7 76.3 10.5 74.3 10.5 72.6 8 71 10.5 69.1 10.5 71.7 6.7 69.1 3.1 71.1 3.1 72.7 5.5 74.3 3.1 76.2 3.1"></polygon>
                <path d="M83,10.1 C82.5,10.5 81.9,10.7 81.2,10.7 C80.3,10.7 79.6,10.4 79.3,10 L79.3,13.4 L77.5,13.4 L77.5,3.2 L79,3.2 L79.1,4 C79.5,3.3 80.4,3 81.2,3 C81.9,3 82.5,3.3 83,3.6 C83.9,4.3 84.3,5.4 84.3,6.8 C84.4,8.2 83.9,9.3 83,10.1 Z M82.1,5 C81.8,4.7 81.5,4.4 80.9,4.4 C79.5,4.4 79.2,5.7 79.2,6.8 C79.2,7.9 79.5,9.2 80.9,9.2 C81.5,9.2 81.8,8.9 82.1,8.6 C82.5,8.1 82.6,7.4 82.6,6.8 C82.6,6.1 82.5,5.5 82.1,5 Z" id="Shape"></path>
                <path d="M88,10.6 C86.8,10.6 86,10 86,8.6 L86,0.2 L87.8,0.2 L87.8,8.3 C87.8,8.7 87.9,9 88.5,9 C88.7,9 88.7,9 88.8,9 L88.8,10.5 C88.5,10.5 88.4,10.6 88,10.6 Z" id="Shape"></path>
                <path d="M95.8,9.5 C95.3,10.1 94.3,10.7 93.2,10.7 C92.1,10.7 91.1,10.2 90.6,9.5 C90,8.8 89.7,8 89.7,6.8 C89.7,5.5 90,4.8 90.6,4.1 C91.1,3.5 92.1,2.9 93.2,2.9 C94.3,2.9 95.3,3.4 95.8,4.1 C96.4,4.8 96.7,5.6 96.7,6.8 C96.7,8 96.4,8.8 95.8,9.5 Z M94.4,4.9 C94.2,4.6 93.8,4.4 93.3,4.4 C92.8,4.4 92.4,4.6 92.2,4.9 C91.8,5.4 91.7,6.1 91.7,6.8 C91.7,7.5 91.8,8.2 92.2,8.7 C92.4,9 92.8,9.2 93.3,9.2 C93.8,9.2 94.2,9 94.4,8.7 C94.8,8.2 94.9,7.5 94.9,6.8 C94.9,6.1 94.8,5.4 94.4,4.9 Z" id="Shape"></path>
                <path d="M98.4,2 L98.4,0.2 L100.3,0.2 L100.3,2 L98.4,2 Z M98.4,10.5 L98.4,3.1 L100.2,3.1 L100.2,10.5 L98.4,10.5 Z" id="Shape"></path>
                <path d="M105.1,10.6 C103.6,10.6 102.9,9.7 102.9,8.3 L102.9,4.5 L101.5,4.5 L101.5,3 L102.9,3 L102.9,1.1 L104.7,0.7 L104.7,3 L106.6,3 L106.6,4.5 L104.7,4.5 L104.7,8.1 C104.7,8.7 105,8.9 105.5,8.9 C105.9,8.9 106.2,8.9 106.7,8.8 L106.7,10.3 C106.2,10.5 105.7,10.6 105.1,10.6 Z" id="Shape"></path>
                <path d="M113.7,10.6 C112.9,10.6 112.5,10.1 112.4,9.6 C112.1,10.2 111.2,10.7 110.2,10.7 C108.4,10.7 107.5,9.6 107.5,8.4 C107.5,7 108.6,6.2 110,6.1 L112.2,5.9 L112.2,5.4 C112.2,4.7 112,4.2 110.9,4.2 C110.1,4.2 109.6,4.6 109.5,5.3 L107.8,5.3 C107.9,3.6 109.2,2.9 110.9,2.9 C112.2,2.9 113.2,3.3 113.7,4.4 C113.9,4.9 113.9,5.4 113.9,5.9 L113.9,8.6 C113.9,8.9 114,9.1 114.3,9.1 C114.4,9.1 114.5,9.1 114.5,9.1 L114.5,10.4 C114.3,10.5 114.1,10.6 113.7,10.6 Z M112.2,7.2 L110.3,7.3 C109.8,7.3 109.2,7.7 109.2,8.3 C109.2,8.9 109.7,9.2 110.3,9.2 C111.4,9.2 112.2,8.6 112.2,7.5 L112.2,7.2 Z" id="Shape"></path>
                <path d="M118.7,10.6 C117.2,10.6 116.5,9.7 116.5,8.3 L116.5,4.5 L115.1,4.5 L115.1,3 L116.5,3 L116.5,1.1 L118.3,0.7 L118.3,3 L120.2,3 L120.2,4.5 L118.3,4.5 L118.3,8.1 C118.3,8.7 118.6,8.9 119.1,8.9 C119.5,8.9 119.8,8.9 120.3,8.8 L120.3,10.3 C119.8,10.5 119.3,10.6 118.7,10.6 Z" id="Shape"></path>
                <path d="M121.7,2 L121.7,0.2 L123.6,0.2 L123.6,2 L121.7,2 Z M121.8,10.5 L121.8,3.1 L123.6,3.1 L123.6,10.5 L121.8,10.5 Z" id="Shape"></path>
                <path d="M132.1,7.3 L127.2,7.3 C127.2,7.9 127.4,8.4 127.7,8.8 C128,9 128.3,9.3 128.8,9.3 C129.3,9.3 129.6,9.2 129.9,8.9 C130.1,8.7 130.2,8.5 130.3,8.3 L132,8.3 C132,8.7 131.7,9.3 131.4,9.7 C130.8,10.4 129.9,10.7 128.9,10.7 C127.9,10.7 127.2,10.3 126.6,9.8 C125.9,9.1 125.5,8.1 125.5,6.8 C125.5,5.6 125.9,4.6 126.6,3.8 C127.2,3.2 128,2.9 129,2.9 C130.1,2.9 131.1,3.3 131.7,4.3 C132.2,5.1 132.4,5.9 132.3,6.9 C132.1,6.8 132.1,7.2 132.1,7.3 Z M129.9,4.7 C129.7,4.4 129.3,4.3 128.8,4.3 C128.3,4.3 127.8,4.5 127.6,4.9 C127.3,5.2 127.2,5.6 127.2,6.1 L130.4,6.1 C130.3,5.5 130.1,5 129.9,4.7 Z" id="Shape"></path>
            </g>
            <path d="M356.4,21.6 C356.4,24 357.6,25 360.8,27.5 C364.4,30.3 369.1,34 369.1,41.6 C369.1,49.2 364.4,52.9 360.8,55.7 C357.6,58.3 356.4,59.3 356.4,61.6 C356.4,63.9 357.6,65 360.8,67.5 C364.4,70.3 369.1,74 369.1,81.6 C369.1,89.2 364.4,92.9 360.8,95.7 C357.6,98.3 356.4,99.3 356.4,101.6 L345.9,101.6 C345.9,94.1 350.6,90.3 354.2,87.5 C357.4,84.9 358.6,83.9 358.6,81.6 C358.6,79.3 357.4,78.2 354.2,75.7 C350.6,72.9 345.9,69.2 345.9,61.6 C345.9,54 350.6,50.3 354.2,47.5 C357.4,44.9 358.6,43.9 358.6,41.6 C358.6,39.3 357.4,38.2 354.2,35.7 C350.6,32.9 345.9,29.2 345.9,21.6 L356.4,21.6 Z" id="Shape" fill="#FFFFFF" fill-rule="nonzero"></path>
            <path d="M1046,21.6 C1046,24 1047.2,25 1050.4,27.5 C1054,30.3 1058.7,34 1058.7,41.6 C1058.7,49.2 1054,52.9 1050.4,55.7 C1047.2,58.3 1046,59.3 1046,61.6 C1046,63.9 1047.2,65 1050.4,67.5 C1054,70.3 1058.7,74 1058.7,81.6 C1058.7,89.2 1054,92.9 1050.4,95.7 C1047.2,98.3 1046,99.3 1046,101.6 L1035.5,101.6 C1035.5,94.1 1040.2,90.3 1043.8,87.5 C1047,84.9 1048.2,83.9 1048.2,81.6 C1048.2,79.3 1047,78.2 1043.8,75.7 C1040.2,72.9 1035.5,69.2 1035.5,61.6 C1035.5,54 1040.2,50.3 1043.8,47.5 C1047,44.9 1048.2,43.9 1048.2,41.6 C1048.2,39.3 1047,38.2 1043.8,35.7 C1040.2,32.9 1035.5,29.2 1035.5,21.6 L1046,21.6 Z" id="Shape" fill="#FFFFFF" fill-rule="nonzero"></path>
            <polygon id="Shape" fill="#FFFFFF" fill-rule="nonzero" points="171.6 87.6 170 88.6 167.7 85.7 167.7 93.4 166.3 93.4 166.3 85.7 163.4 88.6 162.4 87.6 167 83"></polygon>
            <path d="M1260.1,137.6 L0.1,137.6" id="Shape" stroke="url(#linearGradient-2)"></path>
        </g>
    </g>
</svg>