
<svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1366 400" xml:space="preserve">

    <style type="text/css">
        .st0{fill:url(#SVGID_1_);}
        .st1{fill:#FFFFFF;}
        .st2{fill:#E5007E;}
        .st3{fill:none;stroke:#E5007E;stroke-miterlimit:10;}
        .st4{fill:none;stroke:url(#SVGID_2_);stroke-miterlimit:10;}
        .st5{fill:url(#SVGID_3_);}
        .st6{fill:none;stroke:url(#SVGID_4_);stroke-miterlimit:10;}
    </style>
    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="58.0677" y1="180.6328" x2="1318.0677" y2="180.6328">
        <stop  offset="0" style="stop-color:#FFFFFF"/>
        <stop  offset="5.000000e-02" style="stop-color:#E5007E"/>
        <stop  offset="0.95" style="stop-color:#DDD504"/>
        <stop  offset="1" style="stop-color:#FFFFFF"/>
    </linearGradient>
    <rect x="58.1" y="143.3" class="st0" width="1260" height="74.7"/>
    <g>
	<path class="st1" d="M95.2,183.5h-2l-3.3-10.1h1.9l2.4,7.7l2.4-7.7h1.8L95.2,183.5z"/>
	<path class="st1" d="M104.7,182.5c-0.5,0.6-1.5,1.2-2.6,1.2c-1.1,0-2.1-0.5-2.6-1.2c-0.6-0.7-0.9-1.5-0.9-2.7c0-1.3,0.3-2,0.9-2.7
		c0.5-0.6,1.5-1.2,2.6-1.2c1.1,0,2.1,0.5,2.6,1.2c0.6,0.7,0.9,1.5,0.9,2.7C105.5,181,105.2,181.8,104.7,182.5z M103.2,177.9
		c-0.2-0.3-0.6-0.5-1.1-0.5s-0.9,0.2-1.1,0.5c-0.4,0.5-0.5,1.2-0.5,1.9c0,0.7,0.1,1.4,0.5,1.9c0.2,0.3,0.6,0.5,1.1,0.5
		s0.9-0.2,1.1-0.5c0.4-0.5,0.5-1.2,0.5-1.9C103.7,179.1,103.6,178.4,103.2,177.9z"/>
	<path class="st1" d="M112.8,182.5c-0.5,0.6-1.5,1.2-2.6,1.2c-1.1,0-2.1-0.5-2.6-1.2c-0.6-0.7-0.9-1.5-0.9-2.7c0-1.3,0.3-2,0.9-2.7
		c0.5-0.6,1.5-1.2,2.6-1.2c1.1,0,2.1,0.5,2.6,1.2c0.6,0.7,0.9,1.5,0.9,2.7C113.7,181,113.3,181.8,112.8,182.5z M111.3,177.9
		c-0.2-0.3-0.6-0.5-1.1-0.5s-0.9,0.2-1.1,0.5c-0.4,0.5-0.5,1.2-0.5,1.9c0,0.7,0.1,1.4,0.5,1.9c0.2,0.3,0.6,0.5,1.1,0.5
		s0.9-0.2,1.1-0.5c0.4-0.5,0.5-1.2,0.5-1.9C111.8,179.1,111.8,178.4,111.3,177.9z"/>
	<path class="st1" d="M119.1,177.7c-1.3,0-1.9,0.9-1.9,2.1v3.7h-1.8v-7.4h1.5l0.2,1.1c0.3-0.9,1.2-1.2,2.1-1.2c0.2,0,0.4,0,0.6,0
		v1.7C119.5,177.7,119.3,177.7,119.1,177.7z"/>
	<path class="st1" d="M125.9,182.8c-0.6,0.6-1.5,0.9-2.5,0.9c-0.9,0-1.8-0.3-2.4-0.9c-0.4-0.4-0.8-1-0.8-1.7h1.7
		c0,0.3,0.2,0.7,0.4,0.9c0.3,0.2,0.6,0.3,1.1,0.3c0.6,0,1.5-0.1,1.5-0.9c0-0.4-0.3-0.7-0.7-0.8c-0.7-0.1-1.4-0.1-2-0.3
		c-1-0.2-1.7-1-1.7-2c0-0.8,0.3-1.3,0.8-1.7c0.5-0.5,1.3-0.7,2.2-0.7c0.9,0,1.8,0.3,2.3,0.9c0.4,0.4,0.7,1,0.7,1.5h-1.7
		c0-0.3-0.1-0.5-0.3-0.7c-0.2-0.2-0.6-0.3-1-0.3c-0.3,0-0.5,0-0.8,0.1c-0.3,0.1-0.6,0.4-0.6,0.8c0,0.5,0.5,0.7,0.9,0.7
		c0.7,0.1,0.9,0.1,1.6,0.2c1.2,0.2,2,0.9,2,2.1C126.6,181.9,126.3,182.4,125.9,182.8z"/>
	<path class="st1" d="M130.8,183.6c-1.5,0-2.2-0.9-2.2-2.3v-3.8h-1.4v-1.5h1.4v-1.9l1.8-0.4v2.3h1.9v1.5h-1.9v3.6
		c0,0.6,0.3,0.8,0.8,0.8c0.4,0,0.7,0,1.2-0.1v1.5C131.9,183.5,131.4,183.6,130.8,183.6z"/>
	<path class="st1" d="M138.6,183.5l-0.1-1c-0.4,0.7-1.2,1.2-2.1,1.2c-1.6,0-2.6-1.1-2.6-2.6v-4.9h1.8v4.5c0,0.9,0.3,1.4,1.3,1.4
		c0.4,0,0.7-0.2,0.9-0.4c0.4-0.4,0.5-1.1,0.5-1.7v-3.9h1.8v7.4H138.6z"/>
	<path class="st1" d="M147.1,183.5l-0.1-0.8c-0.4,0.7-1.3,1-2.1,1c-0.7,0-1.4-0.3-1.8-0.6c-0.9-0.7-1.3-1.8-1.3-3.2
		c0-1.5,0.4-2.6,1.3-3.3c0.5-0.4,1.1-0.6,1.8-0.6c0.9,0,1.6,0.3,1.9,0.7v-3.4h1.8v10.3H147.1z M145.2,177.4c-0.6,0-0.9,0.3-1.2,0.6
		c-0.4,0.5-0.5,1.2-0.5,1.8s0.1,1.3,0.5,1.8c0.3,0.3,0.6,0.6,1.2,0.6c1.4,0,1.7-1.3,1.7-2.4S146.6,177.4,145.2,177.4z"/>
	<path class="st1" d="M150.8,175v-1.8h1.9v1.8H150.8z M150.8,183.5v-7.4h1.8v7.4H150.8z"/>
	<path class="st1" d="M161.1,180.3h-4.9c0,0.6,0.2,1.1,0.5,1.5c0.3,0.2,0.6,0.5,1.1,0.5c0.5,0,0.8-0.1,1.1-0.4
		c0.2-0.2,0.3-0.4,0.4-0.6h1.7c0,0.4-0.3,1-0.6,1.4c-0.6,0.7-1.5,1-2.5,1c-1,0-1.7-0.4-2.3-0.9c-0.7-0.7-1.1-1.7-1.1-3
		c0-1.2,0.4-2.2,1.1-3c0.6-0.6,1.4-0.9,2.4-0.9c1.1,0,2.1,0.4,2.7,1.4c0.5,0.8,0.7,1.6,0.6,2.6C161.1,179.8,161.1,180.2,161.1,180.3
		z M158.9,177.7c-0.2-0.3-0.6-0.4-1.1-0.4c-0.5,0-1,0.2-1.2,0.6c-0.3,0.3-0.4,0.7-0.4,1.2h3.2C159.3,178.5,159.2,178,158.9,177.7z"
		/>
	<path class="st1" d="M177,183.5l-1-1l2.9-2.9h-7.7v-1.4h7.7l-2.9-2.9l1-1l4.6,4.6L177,183.5z"/>
	<path class="st1" d="M192,183.5v-10.1h7.2v1.7h-5.3v2.3h4.7v1.6h-4.7v2.8h5.3v1.7H192z"/>
	<path class="st1" d="M204.5,179.7l2.5,3.8h-2l-1.7-2.5l-1.6,2.5h-1.9l2.6-3.8l-2.6-3.6h2l1.6,2.4l1.6-2.4h1.9L204.5,179.7z"/>
	<path class="st1" d="M213.8,183.1c-0.5,0.4-1.1,0.6-1.8,0.6c-0.9,0-1.6-0.3-1.9-0.7v3.4h-1.8v-10.2h1.5l0.1,0.8
		c0.4-0.7,1.3-1,2.1-1c0.7,0,1.3,0.3,1.8,0.6c0.9,0.7,1.3,1.8,1.3,3.2C215.1,181.2,214.6,182.3,213.8,183.1z M212.8,178
		c-0.3-0.3-0.6-0.6-1.2-0.6c-1.4,0-1.7,1.3-1.7,2.4s0.3,2.4,1.7,2.4c0.6,0,0.9-0.3,1.2-0.6c0.4-0.5,0.5-1.2,0.5-1.8
		C213.3,179.1,213.2,178.5,212.8,178z"/>
	<path class="st1" d="M218.8,183.6c-1.2,0-2-0.6-2-2v-8.4h1.8v8.1c0,0.4,0.1,0.7,0.7,0.7c0.2,0,0.2,0,0.3,0v1.5
		C219.2,183.5,219.1,183.6,218.8,183.6z"/>
	<path class="st1" d="M226.5,182.5c-0.5,0.6-1.5,1.2-2.6,1.2c-1.1,0-2.1-0.5-2.6-1.2c-0.6-0.7-0.9-1.5-0.9-2.7c0-1.3,0.3-2,0.9-2.7
		c0.5-0.6,1.5-1.2,2.6-1.2c1.1,0,2.1,0.5,2.6,1.2c0.6,0.7,0.9,1.5,0.9,2.7C227.4,181,227.1,181.8,226.5,182.5z M225.1,177.9
		c-0.2-0.3-0.6-0.5-1.1-0.5s-0.9,0.2-1.1,0.5c-0.4,0.5-0.5,1.2-0.5,1.9c0,0.7,0.1,1.4,0.5,1.9c0.2,0.3,0.6,0.5,1.1,0.5
		s0.9-0.2,1.1-0.5c0.4-0.5,0.5-1.2,0.5-1.9C225.6,179.1,225.5,178.4,225.1,177.9z"/>
	<path class="st1" d="M232.8,177.7c-1.3,0-1.9,0.9-1.9,2.1v3.7h-1.8v-7.4h1.5l0.2,1.1c0.3-0.9,1.2-1.2,2.1-1.2c0.2,0,0.4,0,0.6,0
		v1.7C233.2,177.7,233,177.7,232.8,177.7z"/>
	<path class="st1" d="M240.2,183.6c-0.8,0-1.2-0.5-1.3-1c-0.3,0.6-1.2,1.1-2.2,1.1c-1.8,0-2.7-1.1-2.7-2.3c0-1.4,1.1-2.2,2.5-2.3
		l2.2-0.2v-0.5c0-0.7-0.2-1.2-1.3-1.2c-0.8,0-1.3,0.4-1.4,1.1h-1.7c0.1-1.7,1.4-2.4,3.1-2.4c1.3,0,2.3,0.4,2.8,1.5
		c0.2,0.5,0.2,1,0.2,1.5v2.7c0,0.3,0.1,0.5,0.4,0.5c0.1,0,0.2,0,0.2,0v1.3C240.7,183.5,240.6,183.6,240.2,183.6z M238.7,180.2
		l-1.9,0.1c-0.5,0-1.1,0.4-1.1,1c0,0.6,0.5,0.9,1.1,0.9c1.1,0,1.9-0.6,1.9-1.7V180.2z"/>
	<path class="st1" d="M245.2,183.6c-1.5,0-2.2-0.9-2.2-2.3v-3.8h-1.4v-1.5h1.4v-1.9l1.8-0.4v2.3h1.9v1.5h-1.9v3.6
		c0,0.6,0.3,0.8,0.8,0.8c0.4,0,0.7,0,1.2-0.1v1.5C246.2,183.5,245.7,183.6,245.2,183.6z"/>
	<path class="st1" d="M248.2,175v-1.8h1.9v1.8H248.2z M248.2,183.5v-7.4h1.8v7.4H248.2z"/>
	<path class="st1" d="M258.5,180.3h-4.9c0,0.6,0.2,1.1,0.5,1.5c0.3,0.2,0.6,0.5,1.1,0.5c0.5,0,0.8-0.1,1.1-0.4
		c0.2-0.2,0.3-0.4,0.4-0.6h1.7c0,0.4-0.3,1-0.6,1.4c-0.6,0.7-1.5,1-2.5,1c-1,0-1.7-0.4-2.3-0.9c-0.7-0.7-1.1-1.7-1.1-3
		c0-1.2,0.4-2.2,1.1-3c0.6-0.6,1.4-0.9,2.4-0.9c1.1,0,2.1,0.4,2.7,1.4c0.5,0.8,0.7,1.6,0.6,2.6C258.5,179.8,258.5,180.2,258.5,180.3
		z M256.3,177.7c-0.2-0.3-0.6-0.4-1.1-0.4c-0.5,0-1,0.2-1.2,0.6c-0.3,0.3-0.4,0.7-0.4,1.2h3.2C256.7,178.5,256.6,178,256.3,177.7z"
		/>
	<path class="st1" d="M274.4,183.5l-1-1l2.9-2.9h-7.7v-1.4h7.7l-2.9-2.9l1-1l4.6,4.6L274.4,183.5z"/>
	<path class="st1" d="M295.9,182.5c-0.8,0.8-1.8,1.1-2.9,1.1s-2.1-0.4-2.9-1.1c-1.1-1.1-1.3-2.4-1.3-4.1s0.2-3,1.3-4.1
		c0.8-0.8,1.8-1.1,2.9-1.1s2.1,0.4,2.9,1.1c1.1,1.1,1.3,2.4,1.3,4.1S297,181.4,295.9,182.5z M294.6,175.5c-0.4-0.4-1-0.7-1.6-0.7
		s-1.2,0.2-1.6,0.7c-0.7,0.7-0.7,2-0.7,2.9c0,0.9,0,2.2,0.7,2.9c0.4,0.4,1,0.7,1.6,0.7s1.2-0.2,1.6-0.7c0.7-0.7,0.7-2,0.7-2.9
		C295.4,177.5,295.3,176.3,294.6,175.5z"/>
	<path class="st1" d="M303.5,183.5v-4.5c0-0.9-0.3-1.4-1.2-1.4c-0.6,0-1,0.4-1.3,0.9c-0.3,0.6-0.2,1.4-0.2,2v3h-1.8v-7.4h1.5l0.1,1
		c0.4-0.8,1.3-1.1,2.2-1.1c1.6,0,2.5,1.1,2.5,2.6v4.9H303.5z"/>
	<path class="st1" d="M310,183.6c-1.5,0-2.2-0.9-2.2-2.3v-3.8h-1.4v-1.5h1.4v-1.9l1.8-0.4v2.3h1.9v1.5h-1.9v3.6
		c0,0.6,0.3,0.8,0.8,0.8c0.4,0,0.7,0,1.2-0.1v1.5C311,183.5,310.5,183.6,310,183.6z"/>
	<path class="st1" d="M320.8,183.5h-1.6l-1.7-5l-1.7,5h-1.6l-1.9-7.4h1.7l1.2,4.8l1.5-4.8h1.5l1.6,4.8l1.1-4.8h1.7L320.8,183.5z"/>
	<path class="st1" d="M324,175v-1.8h1.9v1.8H324z M324,183.5v-7.4h1.8v7.4H324z"/>
	<path class="st1" d="M333.1,183.5l-2.1-3.2l-1.2,1.3v1.9h-1.8v-10.3h1.8v5.9l2.8-3h2.2l-2.6,2.9l2.9,4.5H333.1z"/>
	<path class="st1" d="M341.3,183.5l-2.1-3.2l-1.2,1.3v1.9h-1.8v-10.3h1.8v5.9l2.8-3h2.2l-2.6,2.9l2.9,4.5H341.3z"/>
	<path class="st1" d="M350.6,180.3h-4.9c0,0.6,0.2,1.1,0.5,1.5c0.3,0.2,0.6,0.5,1.1,0.5c0.5,0,0.8-0.1,1.1-0.4
		c0.2-0.2,0.3-0.4,0.4-0.6h1.7c0,0.4-0.3,1-0.6,1.4c-0.6,0.7-1.5,1-2.5,1c-1,0-1.7-0.4-2.3-0.9c-0.7-0.7-1.1-1.7-1.1-3
		c0-1.2,0.4-2.2,1.1-3c0.6-0.6,1.4-0.9,2.4-0.9c1.1,0,2.1,0.4,2.7,1.4c0.5,0.8,0.7,1.6,0.6,2.6C350.6,179.8,350.6,180.2,350.6,180.3
		z M348.4,177.7c-0.2-0.3-0.6-0.4-1.1-0.4c-0.5,0-1,0.2-1.2,0.6c-0.3,0.3-0.4,0.7-0.4,1.2h3.2C348.8,178.5,348.6,178,348.4,177.7z"
		/>
	<path class="st1" d="M354.2,183.6c-1.2,0-2-0.6-2-2v-8.4h1.8v8.1c0,0.4,0.1,0.7,0.7,0.7c0.2,0,0.2,0,0.3,0v1.5
		C354.7,183.5,354.6,183.6,354.2,183.6z"/>
	<path class="st1" d="M356.5,175v-1.8h1.9v1.8H356.5z M356.6,183.5v-7.4h1.8v7.4H356.6z"/>
	<path class="st1" d="M365.1,183.5v-4.5c0-0.9-0.3-1.4-1.2-1.4c-0.6,0-1,0.4-1.3,0.9c-0.3,0.6-0.2,1.4-0.2,2v3h-1.8v-7.4h1.5l0.1,1
		c0.4-0.8,1.3-1.1,2.2-1.1c1.6,0,2.5,1.1,2.5,2.6v4.9H365.1z"/>
	<path class="st1" d="M372,186.9c-0.9,0-1.8-0.1-2.6-0.6c-0.6-0.4-0.9-0.9-0.9-1.6c0-0.6,0.3-1.2,0.9-1.5c-0.5-0.3-0.7-0.8-0.7-1.3
		c0-0.6,0.3-1.1,0.9-1.5c-0.5-0.5-0.7-1.1-0.7-1.8c0-1.8,1.4-2.7,3-2.7c0.6,0,1.2,0.2,1.7,0.5c0.3-0.6,0.9-0.9,1.5-0.9
		c0.1,0,0.4,0,0.5,0v1.4c0,0-0.1,0-0.1,0c-0.4,0-0.8,0.1-0.9,0.5c0.2,0.4,0.4,0.8,0.4,1.3c0,1.7-1.4,2.7-3,2.7
		c-0.4,0-0.8-0.1-1.2-0.2c-0.2,0.1-0.4,0.3-0.4,0.5c0,0.4,0.4,0.5,0.8,0.5h1.2c0.7,0,1.7,0,2.4,0.5c0.6,0.4,0.9,1.1,0.9,1.8
		C375.5,186.4,373.6,186.9,372,186.9z M372.1,183.6h-1.4c-0.4,0.1-0.7,0.4-0.7,0.9c0,0.9,1.2,1,1.9,1c0.7,0,2,0,2-1
		C373.9,183.6,372.8,183.6,372.1,183.6z M371.8,177.2c-0.8,0-1.3,0.6-1.3,1.4c0,0.8,0.5,1.4,1.3,1.4s1.3-0.6,1.3-1.4
		C373.1,177.8,372.6,177.2,371.8,177.2z"/>
	<path class="st1" d="M391.1,183.5l-1-1l2.9-2.9h-7.7v-1.4h7.7l-2.9-2.9l1-1l4.6,4.6L391.1,183.5z"/>
	<path class="st1" d="M438.6,183.5l-1.7-3.8h-2.2v3.8h-1.8v-10.1h4.3c2.4,0,3.5,1.5,3.5,3.1c0,1.4-0.7,2.4-1.8,2.8l1.8,4.1H438.6z
		 M437.1,175h-2.4v3h2.4c1,0,1.6-0.5,1.6-1.5C438.8,175.7,438.2,175,437.1,175z"/>
	<path class="st1" d="M448.3,180.3h-4.9c0,0.6,0.2,1.1,0.5,1.5c0.3,0.2,0.6,0.5,1.1,0.5c0.5,0,0.8-0.1,1.1-0.4
		c0.2-0.2,0.3-0.4,0.4-0.6h1.7c0,0.4-0.3,1-0.6,1.4c-0.6,0.7-1.5,1-2.5,1c-1,0-1.7-0.4-2.3-0.9c-0.7-0.7-1.1-1.7-1.1-3
		c0-1.2,0.4-2.2,1.1-3c0.6-0.6,1.4-0.9,2.4-0.9c1.1,0,2.1,0.4,2.7,1.4c0.5,0.8,0.7,1.6,0.6,2.6C448.3,179.8,448.3,180.2,448.3,180.3
		z M446,177.7c-0.2-0.3-0.6-0.4-1.1-0.4c-0.5,0-1,0.2-1.2,0.6c-0.3,0.3-0.4,0.7-0.4,1.2h3.2C446.5,178.5,446.3,178,446,177.7z"/>
	<path class="st1" d="M455.5,183.6c-0.8,0-1.2-0.5-1.3-1c-0.3,0.6-1.2,1.1-2.2,1.1c-1.8,0-2.7-1.1-2.7-2.3c0-1.4,1.1-2.2,2.5-2.3
		l2.2-0.2v-0.5c0-0.7-0.2-1.2-1.3-1.2c-0.8,0-1.3,0.4-1.4,1.1h-1.7c0.1-1.7,1.4-2.4,3.1-2.4c1.3,0,2.3,0.4,2.8,1.5
		c0.2,0.5,0.2,1,0.2,1.5v2.7c0,0.3,0.1,0.5,0.4,0.5c0.1,0,0.2,0,0.2,0v1.3C456.1,183.5,455.9,183.6,455.5,183.6z M454,180.2
		l-1.9,0.1c-0.5,0-1.1,0.4-1.1,1c0,0.6,0.5,0.9,1.1,0.9c1.1,0,1.9-0.6,1.9-1.7V180.2z"/>
	<path class="st1" d="M459.9,183.6c-1.2,0-2-0.6-2-2v-8.4h1.8v8.1c0,0.4,0.1,0.7,0.7,0.7c0.2,0,0.2,0,0.3,0v1.5
		C460.3,183.5,460.3,183.6,459.9,183.6z"/>
	<path class="st1" d="M462.2,175v-1.8h1.9v1.8H462.2z M462.3,183.5v-7.4h1.8v7.4H462.3z"/>
	<path class="st1" d="M471.4,182.8c-0.6,0.6-1.5,0.9-2.5,0.9c-0.9,0-1.8-0.3-2.4-0.9c-0.4-0.4-0.8-1-0.8-1.7h1.7
		c0,0.3,0.2,0.7,0.4,0.9c0.3,0.2,0.6,0.3,1.1,0.3c0.6,0,1.5-0.1,1.5-0.9c0-0.4-0.3-0.7-0.7-0.8c-0.7-0.1-1.4-0.1-2-0.3
		c-1-0.2-1.7-1-1.7-2c0-0.8,0.3-1.3,0.8-1.7c0.5-0.5,1.3-0.7,2.2-0.7c0.9,0,1.8,0.3,2.3,0.9c0.4,0.4,0.7,1,0.7,1.5h-1.7
		c0-0.3-0.1-0.5-0.3-0.7c-0.2-0.2-0.6-0.3-1-0.3c-0.3,0-0.5,0-0.8,0.1c-0.3,0.1-0.6,0.4-0.6,0.8c0,0.5,0.5,0.7,0.9,0.7
		c0.7,0.1,0.9,0.1,1.6,0.2c1.2,0.2,2,0.9,2,2.1C472.1,181.9,471.8,182.4,471.4,182.8z"/>
	<path class="st1" d="M479.3,183.6c-0.8,0-1.2-0.5-1.3-1c-0.3,0.6-1.2,1.1-2.2,1.1c-1.8,0-2.7-1.1-2.7-2.3c0-1.4,1.1-2.2,2.5-2.3
		l2.2-0.2v-0.5c0-0.7-0.2-1.2-1.3-1.2c-0.8,0-1.3,0.4-1.4,1.1h-1.7c0.1-1.7,1.4-2.4,3.1-2.4c1.3,0,2.3,0.4,2.8,1.5
		c0.2,0.5,0.2,1,0.2,1.5v2.7c0,0.3,0.1,0.5,0.4,0.5c0.1,0,0.2,0,0.2,0v1.3C479.9,183.5,479.7,183.6,479.3,183.6z M477.8,180.2
		l-1.9,0.1c-0.5,0-1.1,0.4-1.1,1c0,0.6,0.5,0.9,1.1,0.9c1.1,0,1.9-0.6,1.9-1.7V180.2z"/>
	<path class="st1" d="M484.3,183.6c-1.5,0-2.2-0.9-2.2-2.3v-3.8h-1.4v-1.5h1.4v-1.9l1.8-0.4v2.3h1.9v1.5h-1.9v3.6
		c0,0.6,0.3,0.8,0.8,0.8c0.4,0,0.7,0,1.2-0.1v1.5C485.3,183.5,484.8,183.6,484.3,183.6z"/>
	<path class="st1" d="M487.3,175v-1.8h1.9v1.8H487.3z M487.4,183.5v-7.4h1.8v7.4H487.4z"/>
	<path class="st1" d="M497.6,180.3h-4.9c0,0.6,0.2,1.1,0.5,1.5c0.3,0.2,0.6,0.5,1.1,0.5c0.5,0,0.8-0.1,1.1-0.4
		c0.2-0.2,0.3-0.4,0.4-0.6h1.7c0,0.4-0.3,1-0.6,1.4c-0.6,0.7-1.5,1-2.5,1c-1,0-1.7-0.4-2.3-0.9c-0.7-0.7-1.1-1.7-1.1-3
		c0-1.2,0.4-2.2,1.1-3c0.6-0.6,1.4-0.9,2.4-0.9c1.1,0,2.1,0.4,2.7,1.4c0.5,0.8,0.7,1.6,0.6,2.6C497.7,179.8,497.6,180.2,497.6,180.3
		z M495.4,177.7c-0.2-0.3-0.6-0.4-1.1-0.4c-0.5,0-1,0.2-1.2,0.6c-0.3,0.3-0.4,0.7-0.4,1.2h3.2C495.9,178.5,495.7,178,495.4,177.7z"
		/>
	<path class="st1" d="M507.8,183c-0.5,0.4-1.1,0.6-1.8,0.6c-0.8,0-1.6-0.3-2.1-1l-0.1,0.8h-1.5v-10.3h1.8v3.4
		c0.3-0.4,1.1-0.7,1.9-0.7c0.8,0,1.4,0.2,1.8,0.6c0.9,0.7,1.3,1.8,1.3,3.3C509.1,181.2,508.7,182.3,507.8,183z M506.9,178
		c-0.3-0.3-0.6-0.6-1.2-0.6c-1.4,0-1.7,1.3-1.7,2.4c0,0.7,0.1,1.5,0.6,2c0.2,0.2,0.6,0.4,1,0.4c0.6,0,0.9-0.3,1.2-0.6
		c0.4-0.5,0.5-1.2,0.5-1.8S507.2,178.4,506.9,178z"/>
	<path class="st1" d="M516.4,182.5c-0.5,0.6-1.5,1.2-2.6,1.2c-1.1,0-2.1-0.5-2.6-1.2c-0.6-0.7-0.9-1.5-0.9-2.7c0-1.3,0.3-2,0.9-2.7
		c0.5-0.6,1.5-1.2,2.6-1.2c1.1,0,2.1,0.5,2.6,1.2c0.6,0.7,0.9,1.5,0.9,2.7C517.2,181,516.9,181.8,516.4,182.5z M514.9,177.9
		c-0.2-0.3-0.6-0.5-1.1-0.5s-0.9,0.2-1.1,0.5c-0.4,0.5-0.5,1.2-0.5,1.9c0,0.7,0.1,1.4,0.5,1.9c0.2,0.3,0.6,0.5,1.1,0.5
		s0.9-0.2,1.1-0.5c0.4-0.5,0.5-1.2,0.5-1.9C515.4,179.1,515.3,178.4,514.9,177.9z"/>
	<path class="st1" d="M522.6,177.7c-1.3,0-1.9,0.9-1.9,2.1v3.7h-1.8v-7.4h1.5l0.2,1.1c0.3-0.9,1.2-1.2,2.1-1.2c0.2,0,0.4,0,0.6,0
		v1.7C523.1,177.7,522.8,177.7,522.6,177.7z"/>
	<path class="st1" d="M524.5,175v-1.8h1.9v1.8H524.5z M524.6,183.5v-7.4h1.8v7.4H524.6z"/>
	<path class="st1" d="M533.2,183.5v-4.5c0-0.9-0.3-1.4-1.2-1.4c-0.6,0-1,0.4-1.3,0.9c-0.3,0.6-0.2,1.4-0.2,2v3h-1.8v-7.4h1.5l0.1,1
		c0.4-0.8,1.3-1.1,2.2-1.1c1.6,0,2.5,1.1,2.5,2.6v4.9H533.2z"/>
	<path class="st1" d="M540,186.9c-0.9,0-1.8-0.1-2.6-0.6c-0.6-0.4-0.9-0.9-0.9-1.6c0-0.6,0.3-1.2,0.9-1.5c-0.5-0.3-0.7-0.8-0.7-1.3
		c0-0.6,0.3-1.1,0.9-1.5c-0.5-0.5-0.7-1.1-0.7-1.8c0-1.8,1.4-2.7,3-2.7c0.6,0,1.2,0.2,1.7,0.5c0.3-0.6,0.9-0.9,1.5-0.9
		c0.1,0,0.4,0,0.5,0v1.4c0,0-0.1,0-0.1,0c-0.4,0-0.8,0.1-0.9,0.5c0.2,0.4,0.4,0.8,0.4,1.3c0,1.7-1.4,2.7-3,2.7
		c-0.4,0-0.8-0.1-1.2-0.2c-0.2,0.1-0.4,0.3-0.4,0.5c0,0.4,0.4,0.5,0.8,0.5h1.2c0.7,0,1.7,0,2.4,0.5c0.6,0.4,0.9,1.1,0.9,1.8
		C543.6,186.4,541.6,186.9,540,186.9z M540.1,183.6h-1.4c-0.4,0.1-0.7,0.4-0.7,0.9c0,0.9,1.2,1,1.9,1c0.7,0,2,0,2-1
		C541.9,183.6,540.8,183.6,540.1,183.6z M539.8,177.2c-0.8,0-1.3,0.6-1.3,1.4c0,0.8,0.5,1.4,1.3,1.4s1.3-0.6,1.3-1.4
		C541.1,177.8,540.6,177.2,539.8,177.2z"/>
	<path class="st1" d="M550.6,183.5v-7.8l-2.2,1.6v-1.9l2.4-1.7h1.5v9.9H550.6z"/>
	<path class="st1" d="M570.2,183.5l-1-1l2.9-2.9h-7.7v-1.4h7.7l-2.9-2.9l1-1l4.6,4.6L570.2,183.5z"/>
	<path class="st1" d="M585.2,183.5v-10.1h7.2v1.7H587v2.3h4.7v1.6H587v2.8h5.3v1.7H585.2z"/>
	<path class="st1" d="M597.4,183.5h-1.9l-2.7-7.4h1.9l1.8,5.2l1.8-5.2h1.8L597.4,183.5z"/>
	<path class="st1" d="M606.8,183.6c-0.8,0-1.2-0.5-1.3-1c-0.3,0.6-1.2,1.1-2.2,1.1c-1.8,0-2.7-1.1-2.7-2.3c0-1.4,1.1-2.2,2.5-2.3
		l2.2-0.2v-0.5c0-0.7-0.2-1.2-1.3-1.2c-0.8,0-1.3,0.4-1.4,1.1H601c0.1-1.7,1.4-2.4,3.1-2.4c1.3,0,2.3,0.4,2.8,1.5
		c0.2,0.5,0.2,1,0.2,1.5v2.7c0,0.3,0.1,0.5,0.4,0.5c0.1,0,0.2,0,0.2,0v1.3C607.4,183.5,607.2,183.6,606.8,183.6z M605.3,180.2
		l-1.9,0.1c-0.5,0-1.1,0.4-1.1,1c0,0.6,0.5,0.9,1.1,0.9c1.1,0,1.9-0.6,1.9-1.7V180.2z"/>
	<path class="st1" d="M611.2,183.6c-1.2,0-2-0.6-2-2v-8.4h1.8v8.1c0,0.4,0.1,0.7,0.7,0.7c0.2,0,0.2,0,0.3,0v1.5
		C611.6,183.5,611.6,183.6,611.2,183.6z"/>
	<path class="st1" d="M618.2,183.5l-0.1-1c-0.4,0.7-1.2,1.2-2.1,1.2c-1.6,0-2.6-1.1-2.6-2.6v-4.9h1.8v4.5c0,0.9,0.3,1.4,1.3,1.4
		c0.4,0,0.7-0.2,0.9-0.4c0.4-0.4,0.5-1.1,0.5-1.7v-3.9h1.8v7.4H618.2z"/>
	<path class="st1" d="M627.5,183.6c-0.8,0-1.2-0.5-1.3-1c-0.3,0.6-1.2,1.1-2.2,1.1c-1.8,0-2.7-1.1-2.7-2.3c0-1.4,1.1-2.2,2.5-2.3
		l2.2-0.2v-0.5c0-0.7-0.2-1.2-1.3-1.2c-0.8,0-1.3,0.4-1.4,1.1h-1.7c0.1-1.7,1.4-2.4,3.1-2.4c1.3,0,2.3,0.4,2.8,1.5
		c0.2,0.5,0.2,1,0.2,1.5v2.7c0,0.3,0.1,0.5,0.4,0.5c0.1,0,0.2,0,0.2,0v1.3C628.1,183.5,627.9,183.6,627.5,183.6z M626,180.2
		l-1.9,0.1c-0.5,0-1.1,0.4-1.1,1c0,0.6,0.5,0.9,1.1,0.9c1.1,0,1.9-0.6,1.9-1.7V180.2z"/>
	<path class="st1" d="M632.5,183.6c-1.5,0-2.2-0.9-2.2-2.3v-3.8h-1.4v-1.5h1.4v-1.9l1.8-0.4v2.3h1.9v1.5H632v3.6
		c0,0.6,0.3,0.8,0.8,0.8c0.4,0,0.7,0,1.2-0.1v1.5C633.5,183.5,633,183.6,632.5,183.6z"/>
	<path class="st1" d="M635.5,175v-1.8h1.9v1.8H635.5z M635.6,183.5v-7.4h1.8v7.4H635.6z"/>
	<path class="st1" d="M645.8,180.3h-4.9c0,0.6,0.2,1.1,0.5,1.5c0.3,0.2,0.6,0.5,1.1,0.5c0.5,0,0.8-0.1,1.1-0.4
		c0.2-0.2,0.3-0.4,0.4-0.6h1.7c0,0.4-0.3,1-0.6,1.4c-0.6,0.7-1.5,1-2.5,1c-1,0-1.7-0.4-2.3-0.9c-0.7-0.7-1.1-1.7-1.1-3
		c0-1.2,0.4-2.2,1.1-3c0.6-0.6,1.4-0.9,2.4-0.9c1.1,0,2.1,0.4,2.7,1.4c0.5,0.8,0.7,1.6,0.6,2.6C645.9,179.8,645.8,180.2,645.8,180.3
		z M643.6,177.7c-0.2-0.3-0.6-0.4-1.1-0.4c-0.5,0-1,0.2-1.2,0.6c-0.3,0.3-0.4,0.7-0.4,1.2h3.2C644.1,178.5,643.9,178,643.6,177.7z"
		/>
	<path class="st1" d="M661.7,183.5l-1-1l2.9-2.9H656v-1.4h7.7l-2.9-2.9l1-1l4.6,4.6L661.7,183.5z"/>
	<path class="st1" d="M682.5,183.5l-1.7-3.8h-2.2v3.8h-1.8v-10.1h4.3c2.4,0,3.5,1.5,3.5,3.1c0,1.4-0.7,2.4-1.8,2.8l1.8,4.1H682.5z
		 M681,175h-2.4v3h2.4c1,0,1.6-0.5,1.6-1.5C682.7,175.7,682.1,175,681,175z"/>
	<path class="st1" d="M692.2,180.3h-4.9c0,0.6,0.2,1.1,0.5,1.5c0.3,0.2,0.6,0.5,1.1,0.5c0.5,0,0.8-0.1,1.1-0.4
		c0.2-0.2,0.3-0.4,0.4-0.6h1.7c0,0.4-0.3,1-0.6,1.4c-0.6,0.7-1.5,1-2.5,1c-1,0-1.7-0.4-2.3-0.9c-0.7-0.7-1.1-1.7-1.1-3
		c0-1.2,0.4-2.2,1.1-3c0.6-0.6,1.4-0.9,2.4-0.9c1.1,0,2.1,0.4,2.7,1.4c0.5,0.8,0.7,1.6,0.6,2.6C692.2,179.8,692.2,180.2,692.2,180.3
		z M689.9,177.7c-0.2-0.3-0.6-0.4-1.1-0.4c-0.5,0-1,0.2-1.2,0.6c-0.3,0.3-0.4,0.7-0.4,1.2h3.2C690.4,178.5,690.2,178,689.9,177.7z"
		/>
	<path class="st1" d="M699.4,183.6c-0.8,0-1.2-0.5-1.3-1c-0.3,0.6-1.2,1.1-2.2,1.1c-1.8,0-2.7-1.1-2.7-2.3c0-1.4,1.1-2.2,2.5-2.3
		l2.2-0.2v-0.5c0-0.7-0.2-1.2-1.3-1.2c-0.8,0-1.3,0.4-1.4,1.1h-1.7c0.1-1.7,1.4-2.4,3.1-2.4c1.3,0,2.3,0.4,2.8,1.5
		c0.2,0.5,0.2,1,0.2,1.5v2.7c0,0.3,0.1,0.5,0.4,0.5c0.1,0,0.2,0,0.2,0v1.3C700,183.5,699.8,183.6,699.4,183.6z M697.9,180.2
		l-1.9,0.1c-0.5,0-1.1,0.4-1.1,1c0,0.6,0.5,0.9,1.1,0.9c1.1,0,1.9-0.6,1.9-1.7V180.2z"/>
	<path class="st1" d="M703.8,183.6c-1.2,0-2-0.6-2-2v-8.4h1.8v8.1c0,0.4,0.1,0.7,0.7,0.7c0.2,0,0.2,0,0.3,0v1.5
		C704.2,183.5,704.2,183.6,703.8,183.6z"/>
	<path class="st1" d="M706.1,175v-1.8h1.9v1.8H706.1z M706.2,183.5v-7.4h1.8v7.4H706.2z"/>
	<path class="st1" d="M715.3,182.8c-0.6,0.6-1.5,0.9-2.5,0.9c-0.9,0-1.8-0.3-2.4-0.9c-0.4-0.4-0.8-1-0.8-1.7h1.7
		c0,0.3,0.2,0.7,0.4,0.9c0.3,0.2,0.6,0.3,1.1,0.3c0.6,0,1.5-0.1,1.5-0.9c0-0.4-0.3-0.7-0.7-0.8c-0.7-0.1-1.4-0.1-2-0.3
		c-1-0.2-1.7-1-1.7-2c0-0.8,0.3-1.3,0.8-1.7c0.5-0.5,1.3-0.7,2.2-0.7c0.9,0,1.8,0.3,2.3,0.9c0.4,0.4,0.7,1,0.7,1.5h-1.7
		c0-0.3-0.1-0.5-0.3-0.7c-0.2-0.2-0.6-0.3-1-0.3c-0.3,0-0.5,0-0.8,0.1c-0.3,0.1-0.6,0.4-0.6,0.8c0,0.5,0.5,0.7,0.9,0.7
		c0.7,0.1,0.9,0.1,1.6,0.2c1.2,0.2,2,0.9,2,2.1C715.9,181.9,715.7,182.4,715.3,182.8z"/>
	<path class="st1" d="M723.2,183.6c-0.8,0-1.2-0.5-1.3-1c-0.3,0.6-1.2,1.1-2.2,1.1c-1.8,0-2.7-1.1-2.7-2.3c0-1.4,1.1-2.2,2.5-2.3
		l2.2-0.2v-0.5c0-0.7-0.2-1.2-1.3-1.2c-0.8,0-1.3,0.4-1.4,1.1h-1.7c0.1-1.7,1.4-2.4,3.1-2.4c1.3,0,2.3,0.4,2.8,1.5
		c0.2,0.5,0.2,1,0.2,1.5v2.7c0,0.3,0.1,0.5,0.4,0.5c0.1,0,0.2,0,0.2,0v1.3C723.8,183.5,723.6,183.6,723.2,183.6z M721.7,180.2
		l-1.9,0.1c-0.5,0-1.1,0.4-1.1,1c0,0.6,0.5,0.9,1.1,0.9c1.1,0,1.9-0.6,1.9-1.7V180.2z"/>
	<path class="st1" d="M728.2,183.6c-1.5,0-2.2-0.9-2.2-2.3v-3.8h-1.4v-1.5h1.4v-1.9l1.8-0.4v2.3h1.9v1.5h-1.9v3.6
		c0,0.6,0.3,0.8,0.8,0.8c0.4,0,0.7,0,1.2-0.1v1.5C729.2,183.5,728.7,183.6,728.2,183.6z"/>
	<path class="st1" d="M731.2,175v-1.8h1.9v1.8H731.2z M731.3,183.5v-7.4h1.8v7.4H731.3z"/>
	<path class="st1" d="M741.5,180.3h-4.9c0,0.6,0.2,1.1,0.5,1.5c0.3,0.2,0.6,0.5,1.1,0.5c0.5,0,0.8-0.1,1.1-0.4
		c0.2-0.2,0.3-0.4,0.4-0.6h1.7c0,0.4-0.3,1-0.6,1.4c-0.6,0.7-1.5,1-2.5,1c-1,0-1.7-0.4-2.3-0.9c-0.7-0.7-1.1-1.7-1.1-3
		c0-1.2,0.4-2.2,1.1-3c0.6-0.6,1.4-0.9,2.4-0.9c1.1,0,2.1,0.4,2.7,1.4c0.5,0.8,0.7,1.6,0.6,2.6C741.6,179.8,741.5,180.2,741.5,180.3
		z M739.3,177.7c-0.2-0.3-0.6-0.4-1.1-0.4c-0.5,0-1,0.2-1.2,0.6c-0.3,0.3-0.4,0.7-0.4,1.2h3.2C739.8,178.5,739.6,178,739.3,177.7z"
		/>
	<path class="st1" d="M751.7,183c-0.5,0.4-1.1,0.6-1.8,0.6c-0.8,0-1.6-0.3-2.1-1l-0.1,0.8h-1.5v-10.3h1.8v3.4
		c0.3-0.4,1.1-0.7,1.9-0.7c0.8,0,1.4,0.2,1.8,0.6c0.9,0.7,1.3,1.8,1.3,3.3C753,181.2,752.6,182.3,751.7,183z M750.8,178
		c-0.3-0.3-0.6-0.6-1.2-0.6c-1.4,0-1.7,1.3-1.7,2.4c0,0.7,0.1,1.5,0.6,2c0.2,0.2,0.6,0.4,1,0.4c0.6,0,0.9-0.3,1.2-0.6
		c0.4-0.5,0.5-1.2,0.5-1.8S751.1,178.4,750.8,178z"/>
	<path class="st1" d="M760.3,182.5c-0.5,0.6-1.5,1.2-2.6,1.2c-1.1,0-2.1-0.5-2.6-1.2c-0.6-0.7-0.9-1.5-0.9-2.7c0-1.3,0.3-2,0.9-2.7
		c0.5-0.6,1.5-1.2,2.6-1.2c1.1,0,2.1,0.5,2.6,1.2c0.6,0.7,0.9,1.5,0.9,2.7C761.1,181,760.8,181.8,760.3,182.5z M758.8,177.9
		c-0.2-0.3-0.6-0.5-1.1-0.5s-0.9,0.2-1.1,0.5c-0.4,0.5-0.5,1.2-0.5,1.9c0,0.7,0.1,1.4,0.5,1.9c0.2,0.3,0.6,0.5,1.1,0.5
		s0.9-0.2,1.1-0.5c0.4-0.5,0.5-1.2,0.5-1.9C759.3,179.1,759.2,178.4,758.8,177.9z"/>
	<path class="st1" d="M766.5,177.7c-1.3,0-1.9,0.9-1.9,2.1v3.7h-1.8v-7.4h1.5l0.2,1.1c0.3-0.9,1.2-1.2,2.1-1.2c0.2,0,0.4,0,0.6,0
		v1.7C767,177.7,766.7,177.7,766.5,177.7z"/>
	<path class="st1" d="M768.4,175v-1.8h1.9v1.8H768.4z M768.5,183.5v-7.4h1.8v7.4H768.5z"/>
	<path class="st1" d="M777.1,183.5v-4.5c0-0.9-0.3-1.4-1.2-1.4c-0.6,0-1,0.4-1.3,0.9c-0.3,0.6-0.2,1.4-0.2,2v3h-1.8v-7.4h1.5l0.1,1
		c0.4-0.8,1.3-1.1,2.2-1.1c1.6,0,2.5,1.1,2.5,2.6v4.9H777.1z"/>
	<path class="st1" d="M783.9,186.9c-0.9,0-1.8-0.1-2.6-0.6c-0.6-0.4-0.9-0.9-0.9-1.6c0-0.6,0.3-1.2,0.9-1.5
		c-0.5-0.3-0.7-0.8-0.7-1.3c0-0.6,0.3-1.1,0.9-1.5c-0.5-0.5-0.7-1.1-0.7-1.8c0-1.8,1.4-2.7,3-2.7c0.6,0,1.2,0.2,1.7,0.5
		c0.3-0.6,0.9-0.9,1.5-0.9c0.1,0,0.4,0,0.5,0v1.4c0,0-0.1,0-0.1,0c-0.4,0-0.8,0.1-0.9,0.5c0.2,0.4,0.4,0.8,0.4,1.3
		c0,1.7-1.4,2.7-3,2.7c-0.4,0-0.8-0.1-1.2-0.2c-0.2,0.1-0.4,0.3-0.4,0.5c0,0.4,0.4,0.5,0.8,0.5h1.2c0.7,0,1.7,0,2.4,0.5
		c0.6,0.4,0.9,1.1,0.9,1.8C787.5,186.4,785.5,186.9,783.9,186.9z M784,183.6h-1.4c-0.4,0.1-0.7,0.4-0.7,0.9c0,0.9,1.2,1,1.9,1
		c0.7,0,2,0,2-1C785.8,183.6,784.7,183.6,784,183.6z M783.7,177.2c-0.8,0-1.3,0.6-1.3,1.4c0,0.8,0.5,1.4,1.3,1.4
		c0.8,0,1.3-0.6,1.3-1.4C785,177.8,784.5,177.2,783.7,177.2z"/>
	<path class="st1" d="M791.5,183.5V182l3.9-4.6c0.3-0.4,0.5-0.9,0.5-1.3c0-0.7-0.4-1.2-1.3-1.2c-0.8,0-1.3,0.6-1.3,1.4h-1.8
		c0-1.7,1.1-3,3.2-3c1.7,0,3,1.1,3,2.8c0,0.9-0.5,1.8-1.1,2.4l-2.7,3.3h4v1.6H791.5z"/>
	<path class="st1" d="M814.1,183.5l-1-1l2.9-2.9h-7.7v-1.4h7.7l-2.9-2.9l1-1l4.6,4.6L814.1,183.5z"/>
	<path class="st1" d="M829.1,183.5v-10.1h7.2v1.7h-5.3v2.3h4.7v1.6h-4.7v2.8h5.3v1.7H829.1z"/>
	<path class="st1" d="M841.3,183.5h-1.9l-2.7-7.4h1.9l1.8,5.2l1.8-5.2h1.8L841.3,183.5z"/>
	<path class="st1" d="M850.7,183.6c-0.8,0-1.2-0.5-1.3-1c-0.3,0.6-1.2,1.1-2.2,1.1c-1.8,0-2.7-1.1-2.7-2.3c0-1.4,1.1-2.2,2.5-2.3
		l2.2-0.2v-0.5c0-0.7-0.2-1.2-1.3-1.2c-0.8,0-1.3,0.4-1.4,1.1h-1.7c0.1-1.7,1.4-2.4,3.1-2.4c1.3,0,2.3,0.4,2.8,1.5
		c0.2,0.5,0.2,1,0.2,1.5v2.7c0,0.3,0.1,0.5,0.4,0.5c0.1,0,0.2,0,0.2,0v1.3C851.3,183.5,851.1,183.6,850.7,183.6z M849.2,180.2
		l-1.9,0.1c-0.5,0-1.1,0.4-1.1,1c0,0.6,0.5,0.9,1.1,0.9c1.1,0,1.9-0.6,1.9-1.7V180.2z"/>
	<path class="st1" d="M855.1,183.6c-1.2,0-2-0.6-2-2v-8.4h1.8v8.1c0,0.4,0.1,0.7,0.7,0.7c0.2,0,0.2,0,0.3,0v1.5
		C855.5,183.5,855.5,183.6,855.1,183.6z"/>
	<path class="st1" d="M862.1,183.5l-0.1-1c-0.4,0.7-1.2,1.2-2.1,1.2c-1.6,0-2.6-1.1-2.6-2.6v-4.9h1.8v4.5c0,0.9,0.3,1.4,1.3,1.4
		c0.4,0,0.7-0.2,0.9-0.4c0.4-0.4,0.5-1.1,0.5-1.7v-3.9h1.8v7.4H862.1z"/>
	<path class="st1" d="M871.4,183.6c-0.8,0-1.2-0.5-1.3-1c-0.3,0.6-1.2,1.1-2.2,1.1c-1.8,0-2.7-1.1-2.7-2.3c0-1.4,1.1-2.2,2.5-2.3
		l2.2-0.2v-0.5c0-0.7-0.2-1.2-1.3-1.2c-0.8,0-1.3,0.4-1.4,1.1h-1.7c0.1-1.7,1.4-2.4,3.1-2.4c1.3,0,2.3,0.4,2.8,1.5
		c0.2,0.5,0.2,1,0.2,1.5v2.7c0,0.3,0.1,0.5,0.4,0.5c0.1,0,0.2,0,0.2,0v1.3C872,183.5,871.8,183.6,871.4,183.6z M869.9,180.2
		l-1.9,0.1c-0.5,0-1.1,0.4-1.1,1c0,0.6,0.5,0.9,1.1,0.9c1.1,0,1.9-0.6,1.9-1.7V180.2z"/>
	<path class="st1" d="M876.4,183.6c-1.5,0-2.2-0.9-2.2-2.3v-3.8h-1.4v-1.5h1.4v-1.9l1.8-0.4v2.3h1.9v1.5h-1.9v3.6
		c0,0.6,0.3,0.8,0.8,0.8c0.4,0,0.7,0,1.2-0.1v1.5C877.4,183.5,876.9,183.6,876.4,183.6z"/>
	<path class="st1" d="M879.4,175v-1.8h1.9v1.8H879.4z M879.5,183.5v-7.4h1.8v7.4H879.5z"/>
	<path class="st1" d="M889.7,180.3h-4.9c0,0.6,0.2,1.1,0.5,1.5c0.3,0.2,0.6,0.5,1.1,0.5c0.5,0,0.8-0.1,1.1-0.4
		c0.2-0.2,0.3-0.4,0.4-0.6h1.7c0,0.4-0.3,1-0.6,1.4c-0.6,0.7-1.5,1-2.5,1c-1,0-1.7-0.4-2.3-0.9c-0.7-0.7-1.1-1.7-1.1-3
		c0-1.2,0.4-2.2,1.1-3c0.6-0.6,1.4-0.9,2.4-0.9c1.1,0,2.1,0.4,2.7,1.4c0.5,0.8,0.7,1.6,0.6,2.6C889.7,179.8,889.7,180.2,889.7,180.3
		z M887.5,177.7c-0.2-0.3-0.6-0.4-1.1-0.4c-0.5,0-1,0.2-1.2,0.6c-0.3,0.3-0.4,0.7-0.4,1.2h3.2C888,178.5,887.8,178,887.5,177.7z"/>
	<path class="st1" d="M905.6,183.5l-1-1l2.9-2.9h-7.7v-1.4h7.7l-2.9-2.9l1-1l4.6,4.6L905.6,183.5z"/>
	<path class="st1" d="M926.4,183.5l-1.7-3.8h-2.2v3.8h-1.8v-10.1h4.3c2.4,0,3.5,1.5,3.5,3.1c0,1.4-0.7,2.4-1.8,2.8l1.8,4.1H926.4z
		 M924.9,175h-2.4v3h2.4c1,0,1.6-0.5,1.6-1.5C926.6,175.7,925.9,175,924.9,175z"/>
	<path class="st1" d="M936.1,180.3h-4.9c0,0.6,0.2,1.1,0.5,1.5c0.3,0.2,0.6,0.5,1.1,0.5c0.5,0,0.8-0.1,1.1-0.4
		c0.2-0.2,0.3-0.4,0.4-0.6h1.7c0,0.4-0.3,1-0.6,1.4c-0.6,0.7-1.5,1-2.5,1c-1,0-1.7-0.4-2.3-0.9c-0.7-0.7-1.1-1.7-1.1-3
		c0-1.2,0.4-2.2,1.1-3c0.6-0.6,1.4-0.9,2.4-0.9c1.1,0,2.1,0.4,2.7,1.4c0.5,0.8,0.7,1.6,0.6,2.6C936.1,179.8,936.1,180.2,936.1,180.3
		z M933.8,177.7c-0.2-0.3-0.6-0.4-1.1-0.4c-0.5,0-1,0.2-1.2,0.6c-0.3,0.3-0.4,0.7-0.4,1.2h3.2C934.3,178.5,934.1,178,933.8,177.7z"
		/>
	<path class="st1" d="M943.3,183.6c-0.8,0-1.2-0.5-1.3-1c-0.3,0.6-1.2,1.1-2.2,1.1c-1.8,0-2.7-1.1-2.7-2.3c0-1.4,1.1-2.2,2.5-2.3
		l2.2-0.2v-0.5c0-0.7-0.2-1.2-1.3-1.2c-0.8,0-1.3,0.4-1.4,1.1h-1.7c0.1-1.7,1.4-2.4,3.1-2.4c1.3,0,2.3,0.4,2.8,1.5
		c0.2,0.5,0.2,1,0.2,1.5v2.7c0,0.3,0.1,0.5,0.4,0.5c0.1,0,0.2,0,0.2,0v1.3C943.9,183.5,943.7,183.6,943.3,183.6z M941.8,180.2
		l-1.9,0.1c-0.5,0-1.1,0.4-1.1,1c0,0.6,0.5,0.9,1.1,0.9c1.1,0,1.9-0.6,1.9-1.7V180.2z"/>
	<path class="st1" d="M947.7,183.6c-1.2,0-2-0.6-2-2v-8.4h1.8v8.1c0,0.4,0.1,0.7,0.7,0.7c0.2,0,0.2,0,0.3,0v1.5
		C948.1,183.5,948.1,183.6,947.7,183.6z"/>
	<path class="st1" d="M950,175v-1.8h1.9v1.8H950z M950.1,183.5v-7.4h1.8v7.4H950.1z"/>
	<path class="st1" d="M959.2,182.8c-0.6,0.6-1.5,0.9-2.5,0.9c-0.9,0-1.8-0.3-2.4-0.9c-0.4-0.4-0.8-1-0.8-1.7h1.7
		c0,0.3,0.2,0.7,0.4,0.9c0.3,0.2,0.6,0.3,1.1,0.3c0.6,0,1.5-0.1,1.5-0.9c0-0.4-0.3-0.7-0.7-0.8c-0.7-0.1-1.4-0.1-2-0.3
		c-1-0.2-1.7-1-1.7-2c0-0.8,0.3-1.3,0.8-1.7c0.5-0.5,1.3-0.7,2.2-0.7c0.9,0,1.8,0.3,2.3,0.9c0.4,0.4,0.7,1,0.7,1.5H958
		c0-0.3-0.1-0.5-0.3-0.7c-0.2-0.2-0.6-0.3-1-0.3c-0.3,0-0.5,0-0.8,0.1c-0.3,0.1-0.6,0.4-0.6,0.8c0,0.5,0.5,0.7,0.9,0.7
		c0.7,0.1,0.9,0.1,1.6,0.2c1.2,0.2,2,0.9,2,2.1C959.8,181.9,959.6,182.4,959.2,182.8z"/>
	<path class="st1" d="M967.1,183.6c-0.8,0-1.2-0.5-1.3-1c-0.3,0.6-1.2,1.1-2.2,1.1c-1.8,0-2.7-1.1-2.7-2.3c0-1.4,1.1-2.2,2.5-2.3
		l2.2-0.2v-0.5c0-0.7-0.2-1.2-1.3-1.2c-0.8,0-1.3,0.4-1.4,1.1h-1.7c0.1-1.7,1.4-2.4,3.1-2.4c1.3,0,2.3,0.4,2.8,1.5
		c0.2,0.5,0.2,1,0.2,1.5v2.7c0,0.3,0.1,0.5,0.4,0.5c0.1,0,0.2,0,0.2,0v1.3C967.7,183.5,967.5,183.6,967.1,183.6z M965.6,180.2
		l-1.9,0.1c-0.5,0-1.1,0.4-1.1,1c0,0.6,0.5,0.9,1.1,0.9c1.1,0,1.9-0.6,1.9-1.7V180.2z"/>
	<path class="st1" d="M972.1,183.6c-1.5,0-2.2-0.9-2.2-2.3v-3.8h-1.4v-1.5h1.4v-1.9l1.8-0.4v2.3h1.9v1.5h-1.9v3.6
		c0,0.6,0.3,0.8,0.8,0.8c0.4,0,0.7,0,1.2-0.1v1.5C973.1,183.5,972.6,183.6,972.1,183.6z"/>
	<path class="st1" d="M975.1,175v-1.8h1.9v1.8H975.1z M975.2,183.5v-7.4h1.8v7.4H975.2z"/>
	<path class="st1" d="M985.4,180.3h-4.9c0,0.6,0.2,1.1,0.5,1.5c0.3,0.2,0.6,0.5,1.1,0.5c0.5,0,0.8-0.1,1.1-0.4
		c0.2-0.2,0.3-0.4,0.4-0.6h1.7c0,0.4-0.3,1-0.6,1.4c-0.6,0.7-1.5,1-2.5,1c-1,0-1.7-0.4-2.3-0.9c-0.7-0.7-1.1-1.7-1.1-3
		c0-1.2,0.4-2.2,1.1-3c0.6-0.6,1.4-0.9,2.4-0.9c1.1,0,2.1,0.4,2.7,1.4c0.5,0.8,0.7,1.6,0.6,2.6C985.4,179.8,985.4,180.2,985.4,180.3
		z M983.2,177.7c-0.2-0.3-0.6-0.4-1.1-0.4c-0.5,0-1,0.2-1.2,0.6c-0.3,0.3-0.4,0.7-0.4,1.2h3.2C983.7,178.5,983.5,178,983.2,177.7z"
		/>
	<path class="st1" d="M995.6,183.6c-0.8,0-1.2-0.5-1.3-1c-0.3,0.6-1.2,1.1-2.2,1.1c-1.8,0-2.7-1.1-2.7-2.3c0-1.4,1.1-2.2,2.5-2.3
		l2.2-0.2v-0.5c0-0.7-0.2-1.2-1.3-1.2c-0.8,0-1.3,0.4-1.4,1.1h-1.7c0.1-1.7,1.4-2.4,3.1-2.4c1.3,0,2.3,0.4,2.8,1.5
		c0.2,0.5,0.2,1,0.2,1.5v2.7c0,0.3,0.1,0.5,0.4,0.5c0.1,0,0.2,0,0.2,0v1.3C996.2,183.5,996.1,183.6,995.6,183.6z M994.2,180.2
		l-1.9,0.1c-0.5,0-1.1,0.4-1.1,1c0,0.6,0.5,0.9,1.1,0.9c1.1,0,1.9-0.6,1.9-1.7V180.2z"/>
	<path class="st1" d="M1003.6,183.6c-0.8,0-1.2-0.5-1.3-1c-0.3,0.6-1.2,1.1-2.2,1.1c-1.8,0-2.7-1.1-2.7-2.3c0-1.4,1.1-2.2,2.5-2.3
		l2.2-0.2v-0.5c0-0.7-0.2-1.2-1.3-1.2c-0.8,0-1.3,0.4-1.4,1.1h-1.7c0.1-1.7,1.4-2.4,3.1-2.4c1.3,0,2.3,0.4,2.8,1.5
		c0.2,0.5,0.2,1,0.2,1.5v2.7c0,0.3,0.1,0.5,0.4,0.5c0.1,0,0.2,0,0.2,0v1.3C1004.2,183.5,1004.1,183.6,1003.6,183.6z M1002.1,180.2
		l-1.9,0.1c-0.5,0-1.1,0.4-1.1,1c0,0.6,0.5,0.9,1.1,0.9c1.1,0,1.9-0.6,1.9-1.7V180.2z"/>
	<path class="st1" d="M1010.6,183.5v-4.5c0-0.9-0.3-1.4-1.2-1.4c-0.6,0-1,0.4-1.3,0.9c-0.3,0.6-0.2,1.4-0.2,2v3h-1.8v-7.4h1.5l0.1,1
		c0.4-0.8,1.3-1.1,2.2-1.1c1.6,0,2.5,1.1,2.5,2.6v4.9H1010.6z"/>
	<path class="st1" d="M1019.6,182.8c-0.6,0.6-1.5,0.9-2.5,0.9c-0.9,0-1.8-0.3-2.4-0.9c-0.4-0.4-0.8-1-0.8-1.7h1.7
		c0,0.3,0.2,0.7,0.4,0.9c0.3,0.2,0.6,0.3,1.1,0.3c0.6,0,1.5-0.1,1.5-0.9c0-0.4-0.3-0.7-0.7-0.8c-0.7-0.1-1.4-0.1-2-0.3
		c-1-0.2-1.7-1-1.7-2c0-0.8,0.3-1.3,0.8-1.7c0.5-0.5,1.3-0.7,2.2-0.7c0.9,0,1.8,0.3,2.3,0.9c0.4,0.4,0.7,1,0.7,1.5h-1.7
		c0-0.3-0.1-0.5-0.3-0.7c-0.2-0.2-0.6-0.3-1-0.3c-0.3,0-0.5,0-0.8,0.1c-0.3,0.1-0.6,0.4-0.6,0.8c0,0.5,0.5,0.7,0.9,0.7
		c0.7,0.1,0.9,0.1,1.6,0.2c1.2,0.2,2,0.9,2,2.1C1020.2,181.9,1020,182.4,1019.6,182.8z"/>
	<path class="st1" d="M1023.9,183.6c-1.2,0-2-0.6-2-2v-8.4h1.8v8.1c0,0.4,0.1,0.7,0.7,0.7c0.2,0,0.2,0,0.3,0v1.5
		C1024.3,183.5,1024.2,183.6,1023.9,183.6z"/>
	<path class="st1" d="M1030.9,183.5l-0.1-1c-0.4,0.7-1.2,1.2-2.1,1.2c-1.6,0-2.6-1.1-2.6-2.6v-4.9h1.8v4.5c0,0.9,0.3,1.4,1.3,1.4
		c0.4,0,0.7-0.2,0.9-0.4c0.4-0.4,0.5-1.1,0.5-1.7v-3.9h1.8v7.4H1030.9z"/>
	<path class="st1" d="M1034.6,175v-1.8h1.9v1.8H1034.6z M1034.6,183.5v-7.4h1.8v7.4H1034.6z"/>
	<path class="st1" d="M1041.3,183.6c-1.5,0-2.2-0.9-2.2-2.3v-3.8h-1.4v-1.5h1.4v-1.9l1.8-0.4v2.3h1.9v1.5h-1.9v3.6
		c0,0.6,0.3,0.8,0.8,0.8c0.4,0,0.7,0,1.2-0.1v1.5C1042.3,183.5,1041.8,183.6,1041.3,183.6z"/>
	<path class="st1" d="M1044.3,175v-1.8h1.9v1.8H1044.3z M1044.4,183.5v-7.4h1.8v7.4H1044.4z"/>
	<path class="st1" d="M1052.9,183.5v-4.5c0-0.9-0.3-1.4-1.2-1.4c-0.6,0-1,0.4-1.3,0.9c-0.3,0.6-0.2,1.4-0.2,2v3h-1.8v-7.4h1.5l0.1,1
		c0.4-0.8,1.3-1.1,2.2-1.1c1.6,0,2.5,1.1,2.5,2.6v4.9H1052.9z"/>
	<path class="st1" d="M1059.8,186.9c-0.9,0-1.8-0.1-2.6-0.6c-0.6-0.4-0.9-0.9-0.9-1.6c0-0.6,0.3-1.2,0.9-1.5
		c-0.5-0.3-0.7-0.8-0.7-1.3c0-0.6,0.3-1.1,0.9-1.5c-0.5-0.5-0.7-1.1-0.7-1.8c0-1.8,1.4-2.7,3-2.7c0.6,0,1.2,0.2,1.7,0.5
		c0.3-0.6,0.9-0.9,1.5-0.9c0.1,0,0.4,0,0.5,0v1.4c0,0-0.1,0-0.1,0c-0.4,0-0.8,0.1-0.9,0.5c0.2,0.4,0.4,0.8,0.4,1.3
		c0,1.7-1.4,2.7-3,2.7c-0.4,0-0.8-0.1-1.2-0.2c-0.2,0.1-0.4,0.3-0.4,0.5c0,0.4,0.4,0.5,0.8,0.5h1.2c0.7,0,1.7,0,2.4,0.5
		c0.6,0.4,0.9,1.1,0.9,1.8C1063.3,186.4,1061.4,186.9,1059.8,186.9z M1059.9,183.6h-1.4c-0.4,0.1-0.7,0.4-0.7,0.9c0,0.9,1.2,1,1.9,1
		c0.7,0,2,0,2-1C1061.6,183.6,1060.6,183.6,1059.9,183.6z M1059.6,177.2c-0.8,0-1.3,0.6-1.3,1.4c0,0.8,0.5,1.4,1.3,1.4
		c0.8,0,1.3-0.6,1.3-1.4C1060.9,177.8,1060.4,177.2,1059.6,177.2z"/>
	<path class="st1" d="M1078.9,183.5l-1-1l2.9-2.9h-7.7v-1.4h7.7l-2.9-2.9l1-1l4.6,4.6L1078.9,183.5z"/>
	<path class="st1" d="M1124.6,179.9h-2.1v3.6h-1.8v-10.1h4c2.3,0,3.6,1.3,3.6,3.2C1128.2,178.5,1126.9,179.9,1124.6,179.9z
		 M1124.5,175h-2.1v3.3h2.1c1.2,0,1.8-0.7,1.8-1.6C1126.3,175.7,1125.8,175,1124.5,175z"/>
	<path class="st1" d="M1133.1,177.7c-1.3,0-1.9,0.9-1.9,2.1v3.7h-1.8v-7.4h1.5l0.2,1.1c0.3-0.9,1.2-1.2,2.1-1.2c0.2,0,0.4,0,0.6,0
		v1.7C1133.6,177.7,1133.3,177.7,1133.1,177.7z"/>
	<path class="st1" d="M1140.3,182.5c-0.5,0.6-1.5,1.2-2.6,1.2c-1.1,0-2.1-0.5-2.6-1.2c-0.6-0.7-0.9-1.5-0.9-2.7c0-1.3,0.3-2,0.9-2.7
		c0.5-0.6,1.5-1.2,2.6-1.2c1.1,0,2.1,0.5,2.6,1.2c0.6,0.7,0.9,1.5,0.9,2.7C1141.2,181,1140.9,181.8,1140.3,182.5z M1138.9,177.9
		c-0.2-0.3-0.6-0.5-1.1-0.5s-0.9,0.2-1.1,0.5c-0.4,0.5-0.5,1.2-0.5,1.9c0,0.7,0.1,1.4,0.5,1.9c0.2,0.3,0.6,0.5,1.1,0.5
		s0.9-0.2,1.1-0.5c0.4-0.5,0.5-1.2,0.5-1.9C1139.4,179.1,1139.3,178.4,1138.9,177.9z"/>
	<path class="st1" d="M1147.7,183.5l-0.1-0.8c-0.4,0.7-1.3,1-2.1,1c-0.7,0-1.4-0.3-1.8-0.6c-0.9-0.7-1.3-1.8-1.3-3.2
		c0-1.5,0.4-2.6,1.3-3.3c0.5-0.4,1.1-0.6,1.8-0.6c0.9,0,1.6,0.3,1.9,0.7v-3.4h1.8v10.3H1147.7z M1145.9,177.4
		c-0.6,0-0.9,0.3-1.2,0.6c-0.4,0.5-0.5,1.2-0.5,1.8s0.1,1.3,0.5,1.8c0.3,0.3,0.6,0.6,1.2,0.6c1.4,0,1.7-1.3,1.7-2.4
		S1147.3,177.4,1145.9,177.4z"/>
	<path class="st1" d="M1156.2,183.5l-0.1-1c-0.4,0.7-1.2,1.2-2.1,1.2c-1.6,0-2.6-1.1-2.6-2.6v-4.9h1.8v4.5c0,0.9,0.3,1.4,1.3,1.4
		c0.4,0,0.7-0.2,0.9-0.4c0.4-0.4,0.5-1.1,0.5-1.7v-3.9h1.8v7.4H1156.2z"/>
	<path class="st1" d="M1165.3,182.5c-0.5,0.6-1.4,1.2-2.5,1.2c-1.1,0-2.1-0.5-2.6-1.2c-0.6-0.7-0.8-1.6-0.8-2.7s0.3-2,0.8-2.7
		c0.5-0.6,1.5-1.2,2.6-1.2c1.1,0,2,0.5,2.5,1.2c0.3,0.4,0.5,1,0.6,1.6h-1.7c0-0.3-0.1-0.5-0.2-0.7c-0.2-0.3-0.6-0.6-1.1-0.6
		c-0.5,0-0.8,0.2-1.1,0.5c-0.4,0.5-0.5,1.2-0.5,1.9c0,0.7,0.1,1.4,0.5,1.9c0.2,0.3,0.6,0.5,1.1,0.5c0.5,0,0.9-0.2,1.1-0.6
		c0.1-0.2,0.2-0.4,0.2-0.7h1.7C1165.8,181.4,1165.6,182,1165.3,182.5z"/>
	<path class="st1" d="M1170,183.6c-1.5,0-2.2-0.9-2.2-2.3v-3.8h-1.4v-1.5h1.4v-1.9l1.8-0.4v2.3h1.9v1.5h-1.9v3.6
		c0,0.6,0.3,0.8,0.8,0.8c0.4,0,0.7,0,1.2-0.1v1.5C1171,183.5,1170.5,183.6,1170,183.6z"/>
	<path class="st1" d="M1173,175v-1.8h1.9v1.8H1173z M1173.1,183.5v-7.4h1.8v7.4H1173.1z"/>
	<path class="st1" d="M1183.3,180.3h-4.9c0,0.6,0.2,1.1,0.5,1.5c0.3,0.2,0.6,0.5,1.1,0.5c0.5,0,0.8-0.1,1.1-0.4
		c0.2-0.2,0.3-0.4,0.4-0.6h1.7c0,0.4-0.3,1-0.6,1.4c-0.6,0.7-1.5,1-2.5,1c-1,0-1.7-0.4-2.3-0.9c-0.7-0.7-1.1-1.7-1.1-3
		c0-1.2,0.4-2.2,1.1-3c0.6-0.6,1.4-0.9,2.4-0.9c1.1,0,2.1,0.4,2.7,1.4c0.5,0.8,0.7,1.6,0.6,2.6
		C1183.4,179.8,1183.3,180.2,1183.3,180.3z M1181.1,177.7c-0.2-0.3-0.6-0.4-1.1-0.4c-0.5,0-1,0.2-1.2,0.6c-0.3,0.3-0.4,0.7-0.4,1.2
		h3.2C1181.6,178.5,1181.4,178,1181.1,177.7z"/>
	<path class="st1" d="M1199.2,183.5l-1-1l2.9-2.9h-7.7v-1.4h7.7l-2.9-2.9l1-1l4.6,4.6L1199.2,183.5z"/>
	<path class="st1" d="M1220.8,182.5c-0.8,0.8-1.8,1.1-2.9,1.1s-2.1-0.4-2.9-1.1c-1.1-1.1-1.3-2.4-1.3-4.1s0.2-3,1.3-4.1
		c0.8-0.8,1.8-1.1,2.9-1.1s2.1,0.4,2.9,1.1c1.1,1.1,1.3,2.4,1.3,4.1S1221.9,181.4,1220.8,182.5z M1219.5,175.5
		c-0.4-0.4-1-0.7-1.6-0.7s-1.2,0.2-1.6,0.7c-0.7,0.7-0.7,2-0.7,2.9c0,0.9,0,2.2,0.7,2.9c0.4,0.4,1,0.7,1.6,0.7s1.2-0.2,1.6-0.7
		c0.7-0.7,0.7-2,0.7-2.9C1220.2,177.5,1220.2,176.3,1219.5,175.5z"/>
	<path class="st1" d="M1229.3,183.1c-0.5,0.4-1.1,0.6-1.8,0.6c-0.9,0-1.6-0.3-1.9-0.7v3.4h-1.8v-10.2h1.5l0.1,0.8
		c0.4-0.7,1.3-1,2.1-1c0.7,0,1.3,0.3,1.8,0.6c0.9,0.7,1.3,1.8,1.3,3.2C1230.6,181.2,1230.2,182.3,1229.3,183.1z M1228.3,178
		c-0.3-0.3-0.6-0.6-1.2-0.6c-1.4,0-1.7,1.3-1.7,2.4s0.3,2.4,1.7,2.4c0.6,0,0.9-0.3,1.2-0.6c0.4-0.5,0.5-1.2,0.5-1.8
		C1228.8,179.1,1228.7,178.5,1228.3,178z"/>
	<path class="st1" d="M1236,177.7c-1.3,0-1.9,0.9-1.9,2.1v3.7h-1.8v-7.4h1.5l0.2,1.1c0.3-0.9,1.2-1.2,2.1-1.2c0.2,0,0.4,0,0.6,0v1.7
		C1236.4,177.7,1236.2,177.7,1236,177.7z"/>
	<path class="st1" d="M1242.5,183.5l-0.1-1c-0.4,0.7-1.2,1.2-2.1,1.2c-1.6,0-2.6-1.1-2.6-2.6v-4.9h1.8v4.5c0,0.9,0.3,1.4,1.3,1.4
		c0.4,0,0.7-0.2,0.9-0.4c0.4-0.4,0.5-1.1,0.5-1.7v-3.9h1.8v7.4H1242.5z"/>
	<path class="st1" d="M1246.1,175v-1.8h1.9v1.8H1246.1z M1246.2,183.5v-7.4h1.8v7.4H1246.2z"/>
	<path class="st1" d="M1259,183.5v-4.6c0-0.9-0.2-1.4-1.1-1.4c-1,0-1.5,1.1-1.5,2v4h-1.8v-4.6c0-0.9-0.2-1.4-1.1-1.4
		c-1,0-1.5,1.1-1.5,2v4h-1.8v-7.4h1.5l0.1,1c0.4-0.7,1.1-1.2,2.1-1.2c1,0,1.7,0.5,2.1,1.2c0.4-0.8,1.2-1.2,2.2-1.2
		c1.6,0,2.4,1.1,2.4,2.6v5H1259z"/>
	<path class="st1" d="M1269.1,180.3h-4.9c0,0.6,0.2,1.1,0.5,1.5c0.3,0.2,0.6,0.5,1.1,0.5c0.5,0,0.8-0.1,1.1-0.4
		c0.2-0.2,0.3-0.4,0.4-0.6h1.7c0,0.4-0.3,1-0.6,1.4c-0.6,0.7-1.5,1-2.5,1c-1,0-1.7-0.4-2.3-0.9c-0.7-0.7-1.1-1.7-1.1-3
		c0-1.2,0.4-2.2,1.1-3c0.6-0.6,1.4-0.9,2.4-0.9c1.1,0,2.1,0.4,2.7,1.4c0.5,0.8,0.7,1.6,0.6,2.6
		C1269.1,179.8,1269.1,180.2,1269.1,180.3z M1266.9,177.7c-0.2-0.3-0.6-0.4-1.1-0.4c-0.5,0-1,0.2-1.2,0.6c-0.3,0.3-0.4,0.7-0.4,1.2
		h3.2C1267.3,178.5,1267.1,178,1266.9,177.7z"/>
	<path class="st1" d="M1275.3,183.5v-4.5c0-0.9-0.3-1.4-1.2-1.4c-0.6,0-1,0.4-1.3,0.9c-0.3,0.6-0.2,1.4-0.2,2v3h-1.8v-7.4h1.5l0.1,1
		c0.4-0.8,1.3-1.1,2.2-1.1c1.6,0,2.5,1.1,2.5,2.6v4.9H1275.3z"/>
</g>
<g>
	<path class="st2" d="M95.3,128.5c-0.8,0.8-1.8,1.1-2.9,1.1s-2.1-0.4-2.9-1.1c-1.1-1.1-1.3-2.4-1.3-4.1s0.2-3,1.3-4.1
		c0.8-0.8,1.8-1.1,2.9-1.1s2.1,0.4,2.9,1.1c1.1,1.1,1.3,2.4,1.3,4.1S96.4,127.4,95.3,128.5z M94,121.5c-0.4-0.4-1-0.7-1.6-0.7
		s-1.2,0.2-1.6,0.7c-0.7,0.7-0.7,2-0.7,2.9c0,0.9,0,2.2,0.7,2.9c0.4,0.4,1,0.7,1.6,0.7s1.2-0.2,1.6-0.7c0.7-0.7,0.7-2,0.7-2.9
		C94.7,123.5,94.7,122.3,94,121.5z"/>
	<path class="st2" d="M103.8,129.1c-0.5,0.4-1.1,0.6-1.8,0.6c-0.9,0-1.6-0.3-1.9-0.7v3.4h-1.8v-10.2h1.5l0.1,0.8
		c0.4-0.7,1.3-1,2.1-1c0.7,0,1.3,0.3,1.8,0.6c0.9,0.7,1.3,1.8,1.3,3.2C105.1,127.2,104.7,128.3,103.8,129.1z M102.8,124
		c-0.3-0.3-0.6-0.6-1.2-0.6c-1.4,0-1.7,1.3-1.7,2.4s0.3,2.4,1.7,2.4c0.6,0,0.9-0.3,1.2-0.6c0.4-0.5,0.5-1.2,0.5-1.8
		C103.3,125.1,103.2,124.5,102.8,124z"/>
	<path class="st2" d="M111.9,128.8c-0.6,0.6-1.5,0.9-2.5,0.9c-0.9,0-1.8-0.3-2.4-0.9c-0.4-0.4-0.8-1-0.8-1.7h1.7
		c0,0.3,0.2,0.7,0.4,0.9c0.3,0.2,0.6,0.3,1.1,0.3c0.6,0,1.5-0.1,1.5-0.9c0-0.4-0.3-0.7-0.7-0.8c-0.7-0.1-1.4-0.1-2-0.3
		c-1-0.2-1.7-1-1.7-2c0-0.8,0.3-1.3,0.8-1.7c0.5-0.5,1.3-0.7,2.2-0.7c0.9,0,1.8,0.3,2.3,0.9c0.4,0.4,0.7,1,0.7,1.5h-1.7
		c0-0.3-0.1-0.5-0.3-0.7c-0.2-0.2-0.6-0.3-1-0.3c-0.3,0-0.5,0-0.8,0.1c-0.3,0.1-0.6,0.4-0.6,0.8c0,0.5,0.5,0.7,0.9,0.7
		c0.7,0.1,0.9,0.1,1.6,0.2c1.2,0.2,2,0.9,2,2.1C112.6,127.9,112.3,128.4,111.9,128.8z"/>
	<path class="st2" d="M119.7,129.1c-0.5,0.4-1.1,0.6-1.8,0.6c-0.9,0-1.6-0.3-1.9-0.7v3.4h-1.8v-10.2h1.5l0.1,0.8
		c0.4-0.7,1.3-1,2.1-1c0.7,0,1.3,0.3,1.8,0.6c0.9,0.7,1.3,1.8,1.3,3.2C121.1,127.2,120.6,128.3,119.7,129.1z M118.8,124
		c-0.3-0.3-0.6-0.6-1.2-0.6c-1.4,0-1.7,1.3-1.7,2.4s0.3,2.4,1.7,2.4c0.6,0,0.9-0.3,1.2-0.6c0.4-0.5,0.5-1.2,0.5-1.8
		C119.3,125.1,119.2,124.5,118.8,124z"/>
	<path class="st2" d="M128.3,128.5c-0.5,0.6-1.5,1.2-2.6,1.2c-1.1,0-2.1-0.5-2.6-1.2c-0.6-0.7-0.9-1.5-0.9-2.7c0-1.3,0.3-2,0.9-2.7
		c0.5-0.6,1.5-1.2,2.6-1.2c1.1,0,2.1,0.5,2.6,1.2c0.6,0.7,0.9,1.5,0.9,2.7C129.2,127,128.9,127.8,128.3,128.5z M126.8,123.9
		c-0.2-0.3-0.6-0.5-1.1-0.5s-0.9,0.2-1.1,0.5c-0.4,0.5-0.5,1.2-0.5,1.9c0,0.7,0.1,1.4,0.5,1.9c0.2,0.3,0.6,0.5,1.1,0.5
		s0.9-0.2,1.1-0.5c0.4-0.5,0.5-1.2,0.5-1.9C127.4,125.1,127.3,124.4,126.8,123.9z"/>
	<path class="st2" d="M134.6,123.7c-1.3,0-1.9,0.9-1.9,2.1v3.7h-1.8v-7.4h1.5l0.2,1.1c0.3-0.9,1.2-1.2,2.1-1.2c0.2,0,0.4,0,0.6,0
		v1.7C135,123.7,134.8,123.7,134.6,123.7z"/>
	<path class="st2" d="M142.6,126.3h-4.9c0,0.6,0.2,1.1,0.5,1.5c0.3,0.2,0.6,0.5,1.1,0.5c0.5,0,0.8-0.1,1.1-0.4
		c0.2-0.2,0.3-0.4,0.4-0.6h1.7c0,0.4-0.3,1-0.6,1.4c-0.6,0.7-1.5,1-2.5,1c-1,0-1.7-0.4-2.3-0.9c-0.7-0.7-1.1-1.7-1.1-3
		c0-1.2,0.4-2.2,1.1-3c0.6-0.6,1.4-0.9,2.4-0.9c1.1,0,2.1,0.4,2.7,1.4c0.5,0.8,0.7,1.6,0.6,2.6C142.6,125.8,142.6,126.2,142.6,126.3
		z M140.4,123.7c-0.2-0.3-0.6-0.4-1.1-0.4c-0.5,0-1,0.2-1.2,0.6c-0.3,0.3-0.4,0.7-0.4,1.2h3.2C140.8,124.5,140.7,124,140.4,123.7z"
		/>
	<path class="st2" d="M148.8,129.5v-4.5c0-0.9-0.3-1.4-1.2-1.4c-0.6,0-1,0.4-1.3,0.9c-0.3,0.6-0.2,1.4-0.2,2v3h-1.8v-7.4h1.5l0.1,1
		c0.4-0.8,1.3-1.1,2.2-1.1c1.6,0,2.5,1.1,2.5,2.6v4.9H148.8z"/>
	<path class="st2" d="M153.2,131.9l-0.5-0.8c0.8-0.4,1-0.8,1-1.6h-1.1v-2.2h2.2v2C154.7,130.5,154.4,131.4,153.2,131.9z"/>
	<path class="st2" d="M164.5,128.5c-0.5,0.6-1.4,1.2-2.5,1.2c-1.1,0-2.1-0.5-2.6-1.2c-0.6-0.7-0.8-1.6-0.8-2.7s0.3-2,0.8-2.7
		c0.5-0.6,1.5-1.2,2.6-1.2c1.1,0,2,0.5,2.5,1.2c0.3,0.4,0.5,1,0.6,1.6h-1.7c0-0.3-0.1-0.5-0.2-0.7c-0.2-0.3-0.6-0.6-1.1-0.6
		c-0.5,0-0.8,0.2-1.1,0.5c-0.4,0.5-0.5,1.2-0.5,1.9c0,0.7,0.1,1.4,0.5,1.9c0.2,0.3,0.6,0.5,1.1,0.5c0.5,0,0.9-0.2,1.1-0.6
		c0.1-0.2,0.2-0.4,0.2-0.7h1.7C165,127.4,164.8,128,164.5,128.5z"/>
	<path class="st2" d="M172.2,128.5c-0.5,0.6-1.5,1.2-2.6,1.2c-1.1,0-2.1-0.5-2.6-1.2c-0.6-0.7-0.9-1.5-0.9-2.7c0-1.3,0.3-2,0.9-2.7
		c0.5-0.6,1.5-1.2,2.6-1.2c1.1,0,2.1,0.5,2.6,1.2c0.6,0.7,0.9,1.5,0.9,2.7C173.1,127,172.7,127.8,172.2,128.5z M170.7,123.9
		c-0.2-0.3-0.6-0.5-1.1-0.5s-0.9,0.2-1.1,0.5c-0.4,0.5-0.5,1.2-0.5,1.9c0,0.7,0.1,1.4,0.5,1.9c0.2,0.3,0.6,0.5,1.1,0.5
		s0.9-0.2,1.1-0.5c0.4-0.5,0.5-1.2,0.5-1.9C171.2,125.1,171.1,124.4,170.7,123.9z"/>
	<path class="st2" d="M183.5,129.5v-4.6c0-0.9-0.2-1.4-1.1-1.4c-1,0-1.5,1.1-1.5,2v4h-1.8v-4.6c0-0.9-0.2-1.4-1.1-1.4
		c-1,0-1.5,1.1-1.5,2v4h-1.8v-7.4h1.5l0.1,1c0.4-0.7,1.1-1.2,2.1-1.2c1,0,1.7,0.5,2.1,1.2c0.4-0.8,1.2-1.2,2.2-1.2
		c1.6,0,2.4,1.1,2.4,2.6v5H183.5z"/>
	<path class="st2" d="M196.1,129.5v-4.6c0-0.9-0.2-1.4-1.1-1.4c-1,0-1.5,1.1-1.5,2v4h-1.8v-4.6c0-0.9-0.2-1.4-1.1-1.4
		c-1,0-1.5,1.1-1.5,2v4h-1.8v-7.4h1.5l0.1,1c0.4-0.7,1.1-1.2,2.1-1.2c1,0,1.7,0.5,2.1,1.2c0.4-0.8,1.2-1.2,2.2-1.2
		c1.6,0,2.4,1.1,2.4,2.6v5H196.1z"/>
	<path class="st2" d="M204.6,129.5l-0.1-1c-0.4,0.7-1.2,1.2-2.1,1.2c-1.6,0-2.6-1.1-2.6-2.6v-4.9h1.8v4.5c0,0.9,0.3,1.4,1.3,1.4
		c0.4,0,0.7-0.2,0.9-0.4c0.4-0.4,0.5-1.1,0.5-1.7v-3.9h1.8v7.4H204.6z"/>
	<path class="st2" d="M212.8,129.5v-4.5c0-0.9-0.3-1.4-1.2-1.4c-0.6,0-1,0.4-1.3,0.9c-0.3,0.6-0.2,1.4-0.2,2v3h-1.8v-7.4h1.5l0.1,1
		c0.4-0.8,1.3-1.1,2.2-1.1c1.6,0,2.5,1.1,2.5,2.6v4.9H212.8z"/>
	<path class="st2" d="M216.7,121v-1.8h1.9v1.8H216.7z M216.8,129.5v-7.4h1.8v7.4H216.8z"/>
	<path class="st2" d="M226.2,128.5c-0.5,0.6-1.4,1.2-2.5,1.2c-1.1,0-2.1-0.5-2.6-1.2c-0.6-0.7-0.8-1.6-0.8-2.7s0.3-2,0.8-2.7
		c0.5-0.6,1.5-1.2,2.6-1.2c1.1,0,2,0.5,2.5,1.2c0.3,0.4,0.5,1,0.6,1.6H225c0-0.3-0.1-0.5-0.2-0.7c-0.2-0.3-0.6-0.6-1.1-0.6
		c-0.5,0-0.8,0.2-1.1,0.5c-0.4,0.5-0.5,1.2-0.5,1.9c0,0.7,0.1,1.4,0.5,1.9c0.2,0.3,0.6,0.5,1.1,0.5c0.5,0,0.9-0.2,1.1-0.6
		c0.1-0.2,0.2-0.4,0.2-0.7h1.7C226.7,127.4,226.5,128,226.2,128.5z"/>
	<path class="st2" d="M234.6,126.3h-4.9c0,0.6,0.2,1.1,0.5,1.5c0.3,0.2,0.6,0.5,1.1,0.5c0.5,0,0.8-0.1,1.1-0.4
		c0.2-0.2,0.3-0.4,0.4-0.6h1.7c0,0.4-0.3,1-0.6,1.4c-0.6,0.7-1.5,1-2.5,1c-1,0-1.7-0.4-2.3-0.9c-0.7-0.7-1.1-1.7-1.1-3
		c0-1.2,0.4-2.2,1.1-3c0.6-0.6,1.4-0.9,2.4-0.9c1.1,0,2.1,0.4,2.7,1.4c0.5,0.8,0.7,1.6,0.6,2.6C234.6,125.8,234.6,126.2,234.6,126.3
		z M232.4,123.7c-0.2-0.3-0.6-0.4-1.1-0.4c-0.5,0-1,0.2-1.2,0.6c-0.3,0.3-0.4,0.7-0.4,1.2h3.2C232.8,124.5,232.7,124,232.4,123.7z"
		/>
	<path class="st2" d="M240,123.7c-1.3,0-1.9,0.9-1.9,2.1v3.7h-1.8v-7.4h1.5l0.2,1.1c0.3-0.9,1.2-1.2,2.1-1.2c0.2,0,0.4,0,0.6,0v1.7
		C240.4,123.7,240.2,123.7,240,123.7z"/>
	<path class="st2" d="M248,126.3H243c0,0.6,0.2,1.1,0.5,1.5c0.3,0.2,0.6,0.5,1.1,0.5c0.5,0,0.8-0.1,1.1-0.4c0.2-0.2,0.3-0.4,0.4-0.6
		h1.7c0,0.4-0.3,1-0.6,1.4c-0.6,0.7-1.5,1-2.5,1c-1,0-1.7-0.4-2.3-0.9c-0.7-0.7-1.1-1.7-1.1-3c0-1.2,0.4-2.2,1.1-3
		c0.6-0.6,1.4-0.9,2.4-0.9c1.1,0,2.1,0.4,2.7,1.4c0.5,0.8,0.7,1.6,0.6,2.6C248,125.8,248,126.2,248,126.3z M245.8,123.7
		c-0.2-0.3-0.6-0.4-1.1-0.4c-0.5,0-1,0.2-1.2,0.6c-0.3,0.3-0.4,0.7-0.4,1.2h3.2C246.2,124.5,246.1,124,245.8,123.7z"/>
	<path class="st2" d="M254.2,129.5v-4.5c0-0.9-0.3-1.4-1.2-1.4c-0.6,0-1,0.4-1.3,0.9c-0.3,0.6-0.2,1.4-0.2,2v3h-1.8v-7.4h1.5l0.1,1
		c0.4-0.8,1.3-1.1,2.2-1.1c1.6,0,2.5,1.1,2.5,2.6v4.9H254.2z"/>
	<path class="st2" d="M267.3,126.3h-4.9c0,0.6,0.2,1.1,0.5,1.5c0.3,0.2,0.6,0.5,1.1,0.5c0.5,0,0.8-0.1,1.1-0.4
		c0.2-0.2,0.3-0.4,0.4-0.6h1.7c0,0.4-0.3,1-0.6,1.4c-0.6,0.7-1.5,1-2.5,1c-1,0-1.7-0.4-2.3-0.9c-0.7-0.7-1.1-1.7-1.1-3
		c0-1.2,0.4-2.2,1.1-3c0.6-0.6,1.4-0.9,2.4-0.9c1.1,0,2.1,0.4,2.7,1.4c0.5,0.8,0.7,1.6,0.6,2.6C267.3,125.8,267.3,126.2,267.3,126.3
		z M265.1,123.7c-0.2-0.3-0.6-0.4-1.1-0.4c-0.5,0-1,0.2-1.2,0.6c-0.3,0.3-0.4,0.7-0.4,1.2h3.2C265.5,124.5,265.4,124,265.1,123.7z"
		/>
	<path class="st2" d="M273.5,129.5v-4.5c0-0.9-0.3-1.4-1.2-1.4c-0.6,0-1,0.4-1.3,0.9c-0.3,0.6-0.2,1.4-0.2,2v3H269v-7.4h1.5l0.1,1
		c0.4-0.8,1.3-1.1,2.2-1.1c1.6,0,2.5,1.1,2.5,2.6v4.9H273.5z"/>
	<path class="st2" d="M283.9,129.5H282l-2.7-7.4h1.9l1.8,5.2l1.8-5.2h1.8L283.9,129.5z"/>
	<path class="st2" d="M293.8,126.3h-4.9c0,0.6,0.2,1.1,0.5,1.5c0.3,0.2,0.6,0.5,1.1,0.5c0.5,0,0.8-0.1,1.1-0.4
		c0.2-0.2,0.3-0.4,0.4-0.6h1.7c0,0.4-0.3,1-0.6,1.4c-0.6,0.7-1.5,1-2.5,1c-1,0-1.7-0.4-2.3-0.9c-0.7-0.7-1.1-1.7-1.1-3
		c0-1.2,0.4-2.2,1.1-3c0.6-0.6,1.4-0.9,2.4-0.9c1.1,0,2.1,0.4,2.7,1.4c0.5,0.8,0.7,1.6,0.6,2.6C293.9,125.8,293.8,126.2,293.8,126.3
		z M291.6,123.7c-0.2-0.3-0.6-0.4-1.1-0.4c-0.5,0-1,0.2-1.2,0.6c-0.3,0.3-0.4,0.7-0.4,1.2h3.2C292.1,124.5,291.9,124,291.6,123.7z"
		/>
	<path class="st2" d="M299.2,123.7c-1.3,0-1.9,0.9-1.9,2.1v3.7h-1.8v-7.4h1.5l0.2,1.1c0.3-0.9,1.2-1.2,2.1-1.2c0.2,0,0.4,0,0.6,0
		v1.7C299.6,123.7,299.4,123.7,299.2,123.7z"/>
	<path class="st2" d="M303.9,132.9c-0.9,0-1.8-0.1-2.6-0.6c-0.6-0.4-0.9-0.9-0.9-1.6c0-0.6,0.3-1.2,0.9-1.5
		c-0.5-0.3-0.7-0.8-0.7-1.3c0-0.6,0.3-1.1,0.9-1.5c-0.5-0.5-0.7-1.1-0.7-1.8c0-1.8,1.4-2.7,3-2.7c0.6,0,1.2,0.2,1.7,0.5
		c0.3-0.6,0.9-0.9,1.5-0.9c0.1,0,0.4,0,0.5,0v1.4c0,0-0.1,0-0.1,0c-0.4,0-0.8,0.1-0.9,0.5c0.2,0.4,0.4,0.8,0.4,1.3
		c0,1.7-1.4,2.7-3,2.7c-0.4,0-0.8-0.1-1.2-0.2c-0.2,0.1-0.4,0.3-0.4,0.5c0,0.4,0.4,0.5,0.8,0.5h1.2c0.7,0,1.7,0,2.4,0.5
		c0.6,0.4,0.9,1.1,0.9,1.8C307.5,132.4,305.6,132.9,303.9,132.9z M304.1,129.6h-1.4c-0.4,0.1-0.7,0.4-0.7,0.9c0,0.9,1.2,1,1.9,1
		c0.7,0,2,0,2-1C305.8,129.6,304.7,129.6,304.1,129.6z M303.7,123.2c-0.8,0-1.3,0.6-1.3,1.4c0,0.8,0.5,1.4,1.3,1.4s1.3-0.6,1.3-1.4
		C305,123.8,304.5,123.2,303.7,123.2z"/>
	<path class="st2" d="M313.4,129.5l-0.1-1c-0.4,0.7-1.2,1.2-2.1,1.2c-1.6,0-2.6-1.1-2.6-2.6v-4.9h1.8v4.5c0,0.9,0.3,1.4,1.3,1.4
		c0.4,0,0.7-0.2,0.9-0.4c0.4-0.4,0.5-1.1,0.5-1.7v-3.9h1.8v7.4H313.4z"/>
	<path class="st2" d="M321.6,129.5v-4.5c0-0.9-0.3-1.4-1.2-1.4c-0.6,0-1,0.4-1.3,0.9c-0.3,0.6-0.2,1.4-0.2,2v3h-1.8v-7.4h1.5l0.1,1
		c0.4-0.8,1.3-1.1,2.2-1.1c1.6,0,2.5,1.1,2.5,2.6v4.9H321.6z"/>
	<path class="st2" d="M330,129.5v-4.5c0-0.9-0.3-1.4-1.2-1.4c-0.6,0-1,0.4-1.3,0.9c-0.3,0.6-0.2,1.4-0.2,2v3h-1.8v-7.4h1.5l0.1,1
		c0.4-0.8,1.3-1.1,2.2-1.1c1.6,0,2.5,1.1,2.5,2.6v4.9H330z"/>
	<path class="st2" d="M333.9,121v-1.8h1.9v1.8H333.9z M333.9,129.5v-7.4h1.8v7.4H333.9z"/>
	<path class="st2" d="M342.5,129.5v-4.5c0-0.9-0.3-1.4-1.2-1.4c-0.6,0-1,0.4-1.3,0.9c-0.3,0.6-0.2,1.4-0.2,2v3H338v-7.4h1.5l0.1,1
		c0.4-0.8,1.3-1.1,2.2-1.1c1.6,0,2.5,1.1,2.5,2.6v4.9H342.5z"/>
	<path class="st2" d="M349.3,132.9c-0.9,0-1.8-0.1-2.6-0.6c-0.6-0.4-0.9-0.9-0.9-1.6c0-0.6,0.3-1.2,0.9-1.5
		c-0.5-0.3-0.7-0.8-0.7-1.3c0-0.6,0.3-1.1,0.9-1.5c-0.5-0.5-0.7-1.1-0.7-1.8c0-1.8,1.4-2.7,3-2.7c0.6,0,1.2,0.2,1.7,0.5
		c0.3-0.6,0.9-0.9,1.5-0.9c0.1,0,0.4,0,0.5,0v1.4c0,0-0.1,0-0.1,0c-0.4,0-0.8,0.1-0.9,0.5c0.2,0.4,0.4,0.8,0.4,1.3
		c0,1.7-1.4,2.7-3,2.7c-0.4,0-0.8-0.1-1.2-0.2c-0.2,0.1-0.4,0.3-0.4,0.5c0,0.4,0.4,0.5,0.8,0.5h1.2c0.7,0,1.7,0,2.4,0.5
		c0.6,0.4,0.9,1.1,0.9,1.8C352.9,132.4,351,132.9,349.3,132.9z M349.4,129.6H348c-0.4,0.1-0.7,0.4-0.7,0.9c0,0.9,1.2,1,1.9,1
		c0.7,0,2,0,2-1C351.2,129.6,350.1,129.6,349.4,129.6z M349.1,123.2c-0.8,0-1.3,0.6-1.3,1.4c0,0.8,0.5,1.4,1.3,1.4s1.3-0.6,1.3-1.4
		C350.4,123.8,349.9,123.2,349.1,123.2z"/>
	<path class="st2" d="M360.3,126.3h-4.9c0,0.6,0.2,1.1,0.5,1.5c0.3,0.2,0.6,0.5,1.1,0.5c0.5,0,0.8-0.1,1.1-0.4
		c0.2-0.2,0.3-0.4,0.4-0.6h1.7c0,0.4-0.3,1-0.6,1.4c-0.6,0.7-1.5,1-2.5,1c-1,0-1.7-0.4-2.3-0.9c-0.7-0.7-1.1-1.7-1.1-3
		c0-1.2,0.4-2.2,1.1-3c0.6-0.6,1.4-0.9,2.4-0.9c1.1,0,2.1,0.4,2.7,1.4c0.5,0.8,0.7,1.6,0.6,2.6C360.3,125.8,360.3,126.2,360.3,126.3
		z M358.1,123.7c-0.2-0.3-0.6-0.4-1.1-0.4c-0.5,0-1,0.2-1.2,0.6c-0.3,0.3-0.4,0.7-0.4,1.2h3.2C358.5,124.5,358.4,124,358.1,123.7z"
		/>
	<path class="st2" d="M366.5,129.5v-4.5c0-0.9-0.3-1.4-1.2-1.4c-0.6,0-1,0.4-1.3,0.9c-0.3,0.6-0.2,1.4-0.2,2v3H362v-7.4h1.5l0.1,1
		c0.4-0.8,1.3-1.1,2.2-1.1c1.6,0,2.5,1.1,2.5,2.6v4.9H366.5z"/>
</g>
<g>
	<path class="st2" d="M207.8,243.8v-10.1h1.8v8.3h4.7v1.7H207.8z"/>
	<path class="st2" d="M215.6,243.8v-10.1h7.2v1.7h-5.3v2.3h4.7v1.6h-4.7v2.8h5.3v1.7H215.6z"/>
	<path class="st2" d="M230.6,243.8l-0.7-1.9h-4l-0.7,1.9h-1.8l3.5-10.1h2l3.5,10.1H230.6z M227.9,235.9l-1.4,4.3h2.9L227.9,235.9z"
		/>
	<path class="st2" d="M239.8,243.8l-4.4-6.9v6.9h-1.8v-10.1h1.9l4.3,6.8v-6.8h1.8v10.1H239.8z"/>
</g>
<g>
	<path class="st2" d="M438.5,242.8l0.9,1.1l-1.1,0.9l-0.9-1.2c-0.6,0.2-1.2,0.4-1.8,0.4c-1.1,0-2.1-0.4-2.9-1.1
		c-1.1-1.1-1.3-2.4-1.3-4.1s0.2-3,1.3-4.1c0.8-0.8,1.8-1.1,2.9-1.1s2.1,0.4,2.9,1.1c1.1,1.1,1.3,2.4,1.3,4.1
		S439.6,241.7,438.5,242.8z M437.2,235.8c-0.4-0.4-1-0.7-1.6-0.7s-1.2,0.2-1.6,0.7c-0.7,0.7-0.7,2-0.7,2.9c0,0.9,0,2.2,0.7,2.9
		c0.4,0.4,1,0.7,1.6,0.7c0.2,0,0.4,0,0.7-0.1l-1.1-1.4l1.1-0.9l1.1,1.4c0.5-0.7,0.5-1.8,0.5-2.6
		C437.9,237.8,437.9,236.6,437.2,235.8z"/>
</g>






<g>
	<path class="st1" d="M229.6,206.6l-1.6,1l-2.3-2.9v7.7h-1.4v-7.7l-2.9,2.9l-1-1l4.6-4.6L229.6,206.6z"/>
</g>
<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="58.0677" y1="256.5669" x2="1318.0677" y2="256.5669">
	<stop  offset="0" style="stop-color:#FFFFFF"/>
	<stop  offset="5.000000e-02" style="stop-color:#E5007E"/>
	<stop  offset="0.95" style="stop-color:#DDD504"/>
	<stop  offset="1" style="stop-color:#FFFFFF"/>
</linearGradient>
<line class="st4" x1="1318.1" y1="256.6" x2="58.1" y2="256.6"/>


</svg>
