

<form id="respondform" class="respondform">

    <div class="textarea-container">

	    <textarea required id="respondMessage" rows="1"  placeholder="{{ translate 'Laat een reactie achter ...' language.code }}" onfocus="respond.onFocus(); this.placeholder = ''" required></textarea>
        <div class="comment-shape-container"><div class="comment-shape"></div></div>
    </div>

    <div class="flex-row">

        <div class="flex-column">

            <!--<label>{{ translate 'Naam' language.code}}*</label>-->
            <input placeholder="naam" required minlength="2" type="text" name="author" id="respondAuthor" size="22">

        </div>

        <div class="flex-column">

            <!--<label>{{ translate 'E-mail' language.code}}</label>-->
            <input placeholder="email" type="email" name="email" id="respondEmail"  size="22" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" title="Ongeldig email adres">

            <input id="respondPostId" type="hidden" value="{{body.objectID}}">
            <input id="respondPostSlug" type="hidden" value="{{body.slug}}">
            <input id="respondPostTitle" type="hidden" value="{{body.title}}">
            <input id="respondPostCommentCount" type="hidden" value="{{body.comment_count}}">
        </div>
    </div>

    <div class="flex-row">

        <button class="large" type="submit">{{translate 'versturen' language.code}}</button>
        <div id="formerror" aria-live="assertive" role="alert"></div>
        <span id="warning" style="display:none">{{translate 'Over maximaal 15 seconden kunt u weer een keer reageren' language.code}}</span>

    </div>

</form>

<div id="comment-template-new" class='thread'><div class='comment'><div class='header'><span class="author"></span><span class='datetime'></span></div><p id="commment-template-text"></p></div></div>

<div id="comment-template-reply" class='comment'><div class='header'><span class="author"></span><span class='datetime'></span></div><p id="commment-template-text"></p></div>

