<div class="sections">


    {{#each sections as |section|}}

        <section class="section {{section.type}} {{containerClass section.type section}} {{section.style}} {{section.orientation}}">

            {{#ifEquals section.type 'paragraph'}}
                <div class="text">{{{section.text}}}</div>
            {{/ifEquals}}

            {{#ifEquals section.type 'streamer'}}
                <div>
                    {{{section.text}}}
                </div>
            {{/ifEquals}}

            {{#ifEquals section.type 'quote'}}

                <!--<div class="quote__image">-->
                    <!--{{> responsive-image image=section.quote.image }}-->
                <!--</div>-->
                <div class="quote__text">
                    <p>{{section.text}}</p>

                </div>
                <span class="quote__text__name">{{section.name}}</span>

                {{#if section.organisation}}<span class="quote__text__organisation">{{section.organisation}}</span>{{/if}}


            {{/ifEquals}}

            {{#ifEquals section.type 'documents'}}


                    {{#if section.header}}
                        <h2>{{section.header}}</h2>
                    {{ else }}
                        <h2>Documenten</h2>
                    {{/if}}

                    <ul>

                        {{#each section.documents as |doc| }}

                            <a href="{{doc.file_cdn_url}}" target="_blank">

                                <li>
                                    <div>
                                        {{> icon-document }}
                                    </div>
                                    <div>
                                        <h3>{{doc.file_name}}</h3>
                                        <span>{{doc.file_description}}</span>
                                    </div>
                                </li>
                            </a>

                        {{/each}}

                    </ul>

            {{/ifEquals}}

            {{#ifEquals section.type 'video'}}

                {{#ifEquals section.host 'youtube'}}

                    <div class="video-wrapper">
                        <iframe width="560" height="349" src="https://www.youtube.com/embed/{{section.youtube_id}}" frameborder="0" allow="autoplay;fullscreen"></iframe>
                        <img class="still-image" src="https://i1.ytimg.com/vi/{{section.youtube_id}}/sddefault.jpg" />
                        <div class="play-knop" onclick="video.play(this)">
                            {{> icon-play }}
                        </div>
                    </div>

                {{/ifEquals}}

                {{#ifEquals section.host 'self'}}

                    <video width="100%" controls poster="/assets/img/startbeeld_animatie.png" >
                        <source src="/assets/img/{{section.filename}}" type="video/mp4">
                    </video>

                {{/ifEquals}}

            {{/ifEquals}}

            {{#ifEquals section.type 'images'}}

                <div class="{{section.orientation}} {{#ifLongerThan section.images 1}}duo{{/ifLongerThan}}">

                    {{#each section.images as |image|}}


                        {{> responsive-image image=image format=(imageFormat @index section.formation section.orientation) orientation=section.orientation}}

                    {{/each}}

                    {{#each section.images as |image|}}

                        <div class="image-item-overlay">
                            {{#if image.caption}}<span class="text">{{ image.caption }}</span>{{/if}}
                            {{#if image.credits}}<span class="photographer">{{image.credits}}</span>{{/if}}
                        </div>

                    {{/each}}

                </div>

            {{/ifEquals}}

            {{#ifEquals section.type 'staticmap'}}

                {{> static-map }}

            {{/ifEquals}}

            {{#ifEquals section.type 'form'}}

                {{> form section=section}}

            {{/ifEquals}}

            {{#ifEquals section.type 'planning'}}

                {{#ifEquals section.planning 'lean' }}

                    <div style="background-image:url('/assets/svg/planning_lean.svg')"></div>

                {{/ifEquals}}

                {{#ifEquals section.planning 'goud' }}

                    <div style="background-image:url('/assets/svg/planning_GOUD.svg')"></div>

                {{/ifEquals}}

            {{/ifEquals}}

        </section>

    {{/each}}

</div>