<h2>Deel dit bericht</h2>

<frame name="social-dialogue" style="position: fixed;top:0;right:0;width:600px;height:600px;"></frame>

<div class="social-buttons-wrapper">
    <div id="social-buttons">
        <ul>
            <li>
                <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" onclick="socialDialogue.windowpop('https://facebook.com/sharer/sharer.php?u={{body.url}}',700,500)">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="40" height="40"></rect>
                        <g id="003-social-2" transform="translate(15.000000, 10.000000)">
                            <path d="M2.18222772,4.0587007 L2.18222772,6.94403248 L0.0344554455,6.94403248 L0.0344554455,10.4722274 L2.18222772,10.4722274 L2.18222772,20.9567819 L6.59420792,20.9567819 L6.59420792,10.4725197 L9.55485149,10.4725197 C9.55485149,10.4725197 9.83212871,8.78077726 9.96653465,6.9310232 L6.61089109,6.9310232 L6.61089109,4.51865429 C6.61089109,4.15809745 7.09193069,3.67309977 7.56737624,3.67309977 L9.97118812,3.67309977 L9.97118812,4.87238976e-05 L6.70282178,4.87238976e-05 C2.07316832,-0.000194895592 2.18222772,3.53150812 2.18222772,4.0587007 Z" id="Facebook"></path>
                        </g>
                    </g>
                </svg>
            </li>
            <li>
                <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" onclick="socialDialogue.windowpop('https://twitter.com/intent/tweet/?text={{body.title}}&url={{body.url}}',700,500)">
                    <rect fill="transparent" x="0" y="0" width="40" height="40"></rect>
                    <path d="M28.6270871,16.1976324 C28.6352827,16.3809157 28.639753,16.565689 28.639753,16.7504623 C28.639753,22.3763626 24.3586746,28.8613099 16.5259252,28.8613099 C14.121637,28.8613099 11.8834957,28.1587243 10,26.9502472 C10.333039,26.989735 10.6720384,27.0098515 11.0155082,27.0098515 C13.0107619,27.0098515 14.8458292,26.3288724 16.3031542,25.1874502 C14.4405199,25.1531777 12.8677116,23.922349 12.3260576,22.2303321 C12.5853363,22.2795057 12.8528105,22.3070726 13.1262453,22.3070726 C13.5144182,22.3070726 13.8914154,22.256409 14.2482961,22.158807 C12.3007258,21.7683988 10.8337151,20.0480699 10.8337151,17.9842712 C10.8337151,17.9663899 10.8337151,17.9477635 10.8344601,17.9306273 C11.4081515,18.2487652 12.0645438,18.4409891 12.761914,18.4625956 C11.6204918,17.7004057 10.8687326,16.3965618 10.8687326,14.9198654 C10.8687326,14.1390491 11.0780927,13.4074064 11.4446591,12.7785811 C13.5434753,15.3549767 16.6816414,17.0492288 20.2191563,17.2280417 C20.146141,16.9158642 20.1096334,16.5917658 20.1096334,16.2572367 C20.1096334,13.9065924 22.0154807,12 24.3661251,12 C25.5909934,12 26.695908,12.5170673 27.473744,13.3440768 C28.444549,13.1533431 29.3535145,12.8001877 30.1782889,12.3106874 C29.8579158,13.3053341 29.1851323,14.1390491 28.3037338,14.6665471 C29.1657609,14.5637297 29.9883002,14.3357433 30.749,13.9967439 C30.1812691,14.8490853 29.4593121,15.5993543 28.6270871,16.1976324 Z" id="Path"></path>
                </svg>
             </li>
            <li>
                <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" onclick="socialDialogue.windowpop('https://www.linkedin.com/shareArticle?mini=true&url={{body.url}}&summary={{ or (stripHTMLandSpaces body.content) (stripHTMLandSpaces body.content)}}',700,500)">
                    <rect fill="transparent" x="0" y="0" width="40" height="40"></rect>
                    <g transform="translate(10.000000, 11.000000)">
                        <path d="M19.9590255,11.6464005 L19.9590255,18.9797087 L15.6811601,18.9797087 L15.6811601,12.1375413 C15.6811601,10.418733 15.062413,9.24571359 13.5139675,9.24571359 C12.3319258,9.24571359 11.6284919,10.0362427 11.3190255,10.8009466 C11.2061717,11.0743252 11.177123,11.4548325 11.177123,11.8375073 L11.177123,18.9797087 L6.89781903,18.9797087 C6.89781903,18.9797087 6.95545244,7.39132282 6.89781903,6.19067961 L11.1767053,6.19067961 L11.1767053,8.0034733 C11.1680278,8.01703155 11.1567517,8.03165049 11.1485847,8.04479369 L11.1767053,8.04479369 L11.1767053,8.0034733 C11.7451972,7.13330097 12.760464,5.89023058 15.0329466,5.89023058 C17.8483991,5.89018447 19.9590255,7.71810437 19.9590255,11.6464005 Z M2.42148492,0.0257330097 C0.957540603,0.0257330097 0,0.980021845 0,2.23494417 C0,3.46251942 0.929837587,4.44576942 2.36468677,4.44576942 L2.39327146,4.44576942 C3.88556845,4.44576942 4.81364269,3.46270388 4.81364269,2.23494417 C4.78552204,0.980021845 3.88556845,0.0257330097 2.42148492,0.0257330097 Z M0.254153132,18.9797087 L4.53183295,18.9797087 L4.53183295,6.19067961 L0.254153132,6.19067961 L0.254153132,18.9797087 Z" id="LinkedIn"></path>
                    </g>
                </svg>
            </li>
        </ul>
    </div>
</div>