<div class="subscription-form">
    <h3>Op de hoogte blijven?</h3>
    <p>Ontvang nieuwe berichten per mail.</p>
    <div class="newsletter-subscribe">
        <input type="text" placeholder="email@adres.nl"></input>
        <button class="circle">
            {{> icon-arrow}}
        </button>
        <span class="subscription-notification"></span>
    </div>
</div>