<div class='thread' id="faq-{{@index}}" data-thread-id='{{thread.[0].id}}'><span class="anchor" id='{{anchorify thread.[0].content}}'></span>{{#each thread as |comment|}}{{> comment threadID=../thread.[0].id}}{{/each}}</div>