<!DOCTYPE html>
<html lang="nl">

{{> head}}

<body id="page">

{{> google-tag-manager }}

{{> menu}}

<header>
    <div class="container-page">
        {{> beeldmerk }}
    </div>
</header>

<div class="container-page">

                <main id="main">
                    <div class="post-header">
                        <div class="post-header--title">
                            <h2 class="">
                                <span class="italic">{{body.page.title}}:</span>{{#if body.page.subtitle}} {{{body.page.subtitle}}}{{/if}}
                            </h2>
                        </div>
                        <div class="post-header--image">
                            {{> responsive-image image=body.page.main_image format='main'}}
                        </div>
                    </div>
                        <div class="post-intro">
                        {{{body.page.content}}}
                        </div>

                        {{> sections sections=body.page.sections}}


                         {{> comment-section}}


                        <section id="sharing">
                            <h2>Deel dit bericht</h2>
                            {{> social-buttons }}
                        </section>

                        {{> related-posts posts=body.related_posts}}

                        {{#ifLongerThan body.partners 0 }}

                            <section id="partners">
                                <h2>Partners</h2>
                                <div>
                                {{#each ../body.partners as |partner| }}
                                    {{> block-partner partner=partner }}
                                {{/each}}
                                </div>

                            </section>

                        {{/ifLongerThan }}



                </main>
            <aside>
            </aside>
</div>

</body>
{{> footer-scripts}}
</html>