html, body { width: 100%; margin: 0px; padding: 0px;  }

html { height: 100%;  }

body {
  position: relative;
  z-index: 2;
  min-height: 100vh;
  background: white; //linear-gradient(to left, $white 0%, $white 50%, $light-grey 100%);
  overflow-x: hidden;

  @media (min-width : $breakpoint-sm) {
    background: linear-gradient(to right, $white 0%, $white 50%, $light-grey 100%);
  }
}

body.fixed {
  position: fixed;
}

.scroll_disabled {
  height: 100%;
  overflow: hidden;
}