main {

  //transform: translateY(9rem);

  width: 100%;

  @media (min-width: $breakpoint-sm) {
    transform: translateY(0);
  }



  .icon-arrow {
    display: inline-block;
    height: .7rem;
    width: auto;
    fill : $magenta;
    transition: margin 250ms ease;

  }


}
