


.container-small{
  width: calc(100vw - 2rem);
  margin: 0 auto;
  @media (min-width: $breakpoint-sm) {
    width: calc(100vw - 8rem);
  }
  @media (min-width: $breakpoint-md) {
    width: calc(100vw - 24rem);
  }
  @media (min-width: $breakpoint-bax) {
    width: calc(100vw - 36rem);
  }
  @media (min-width: $breakpoint-lg) {
    width: calc(100vw - 48rem);
  }
  @media (min-width: $breakpoint-xl) {
    //width: calc( #{$breakpoint-xl} - 50rem);x
  }
}

.container-medium {
  width: calc(100vw - 2rem);
  margin: 0 auto;
  @media (min-width: $breakpoint-sm) {
    width: calc(100vw - 4rem);
  }
  @media (min-width: $breakpoint-md) {
    width: calc(100vw - 14rem);
    margin-left: 8rem; // links vast zetten
  }
  @media (min-width: $breakpoint-bax) {
    width: 1046px;  //  10rem  - x- 12
    margin: 0 auto;
  }
  @media (min-width: $breakpoint-lg) {
    width: 1220px;
  }
  @media (min-width: $breakpoint-xl) {
    //width: calc( #{$breakpoint-xl} - 13rem);
  }
}

.container-large{
  width: calc(100vw - 2rem);
  margin: 0 auto;
  @media (min-width: $breakpoint-sm) {
    width: calc(100vw - 4rem);
  }
  @media (min-width: $breakpoint-md) {
    width: calc(100vw - 8rem);
  }
  @media (min-width: $breakpoint-bax) {
    //
  }
  @media (min-width: $breakpoint-lg) {
    width: calc(100vw - 10rem);
  }
  @media (min-width: $breakpoint-xl) {
    //width: calc( $breakpoint-xl - 8rem);
  }
}


