aside {

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;


  @media (min-width : $breakpoint-md) {
    left: auto;
    width: calc(50% - 2rem);
    height: auto;
    background: none;
  }

  @media (min-width : $breakpoint-bax) {
    width: 500px;
  }
  @media (min-width : $breakpoint-lg) {
    width: 500px;
  }
}


.container-page {

  aside {

    @media (min-width : $breakpoint-bax) {
      display: none;
    }

  }


}

.container-homepage {

  //aside .background-helper {
  //  display: none;
  //}
}
