$transitionSpeed : 2.5s;

.beeldmerk {

  position: absolute;
  top: .5rem;
  left: .75rem;
  width: 2.5rem;
  height: 5.5rem;

  @media (min-width : $breakpoint-sm) {
    left: -6.5rem;
    top: 3rem;
    width: 5rem;
    height: 11rem;
  }

  @media (min-width : $breakpoint-md) {
    left: -6.5rem;
    top: 3rem;

  }

  @media (min-width : $breakpoint-bax) {
    left: -7.5rem;
  }

    #linearGradient-1 {
      stop {
        transition: all $transitionSpeed ease-in;

        &:nth-child(1) {
          stop-color: $magenta;
        }
        &:nth-child(2) {
          stop-color: $yellow;
        }
      }
    }

    #linearGradient-2 {
      stop {
        transition: all $transitionSpeed ease-in;

        &:nth-child(1) {
          stop-color: $yellow;
        }
        &:nth-child(2) {
          stop-color: $magenta;
        }
      }
    }
  }


  #U {
    transition: fill $transitionSpeed ease-in;
  }

  #wave_top {
    fill : $magenta;
    transition: fill $transitionSpeed ease-in;
  }

  #wave_middle {
    transition: fill $transitionSpeed ease-in;
  }

  #wave_bottom {
    fill : $yellow;
    transition: fill $transitionSpeed ease-in;
  }


.beeldmerk.equal-color {

  #linearGradient-1 {
    stop {
      &:nth-child(1) {
        stop-color: $magenta;
      }
      &:nth-child(2) {
        stop-color: $magenta;
      }
    }
  }

  #linearGradient-2 {
    stop {
      &:nth-child(1) {
        stop-color: $magenta;
      }
      &:nth-child(2) {
        stop-color: $magenta;
      }
    }
  }

  #wave_top {
    fill : $magenta;
  }


  #wave_bottom {
    fill : $magenta;
  }
}



.beeldmerk.reverse-color {

  #linearGradient-1 {
    stop {
      &:nth-child(1) {
        stop-color: $yellow;
      }
      &:nth-child(2) {
        stop-color: $magenta;
      }
    }
  }

  #linearGradient-2 {
    stop {
      &:nth-child(1) {
        stop-color: $magenta;
      }
      &:nth-child(2) {
        stop-color: $yellow;
      }
    }
  }

  #wave_top {
    fill : $yellow;
  }

  #wave_bottom {
    fill : $magenta;
  }
}

