.block.partner {

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border: none;
    cursor: pointer;
    color: black;
    height: auto;
  width: auto;

    > div  {

    }

    > div:nth-child(1) {

      width: 8rem;
      height: 8rem;
        background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
    }

    > a {

      width : calc(100% - 9rem);
      border: none;
      color: black;

      &:hover {

          .icon-arrow {
            margin-left : .5rem;
          }
      }
    }

    h3 {

        font-weight: normal;
        color: black; // $magenta;
        padding: 0;
        margin: 0;
        border: none;
    }

    p {

      @include compactText();
    }
}