// size needs to  be fixed px
// total height must remain equal

aside .block {

  > div.text h3 {

    position: relative;
    color: white;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.25;
    width: 75%;

    @media (min-width: $breakpoint-sm) {

      width: 66%;
    }

    @media (min-width: $breakpoint-md) {
      width: 245px;
      font-size: 1.4rem;
      line-height: 1.2;
    }
  }

  &:nth-child(1) {

    @media (min-width : $breakpoint-md) {
      width : 300px;
      height: 200px;

      > div.text-aside {
        top: auto;
        bottom: 1rem;
      }
    }
  }

  &:nth-child(2) {

    @media (min-width : $breakpoint-md) {

      width: 500px;
      height: 333px;

      > div.gradient {
        opacity: 0;
      }

      > div.text {
        opacity: 1;
      }

      > div.text-aside {
        opacity: 0;
      }
    }
  }

  &:nth-child(3) {

    @media (min-width : $breakpoint-md) {
      width : 300px;
      height: 200px;
    }

    h3 {
      @media (min-width: $breakpoint-md) {
        //font-size: 1.25rem;
        width: 70%;
      }
    }
  }

}

.block {

  position: relative;
  height: 217px;
  width : calc(100% - 2rem);
  margin-bottom: .75rem;
  border: none;
  //transition: all 100ms ease;
  background-blend-mode: multiply;
  background-size: cover;

  @media (min-width : $breakpoint-sm) {
    width : calc(100% + 4rem);
    margin-right: -4rem;
  }

  @media (min-width : $breakpoint-md) {
    width : 200px;
    height: 133px;
    margin-right: 0;
  }

  > div.gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;

    @media (min-width : $breakpoint-sm) {
      opacity: .5;
    }
  }

  > div.gradient-IE {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;


    @media all and (-ms-high-contrast:none) {

      background-image: url('/assets/img/ie-shadow.png');
      background-size: cover;
      display: block;
    }
  }

  > div.text {

    margin: 2rem 2rem 2rem 3rem;

    @media (min-width: $breakpoint-md) {
      opacity: 0;
      margin: 2rem;
    }

    .date {
      color: white;
      position: relative;
    }

    .underline {
      border-bottom: 2px solid white;
    }

    h3 {

      position: relative;
      color: white;
      font-weight: 400;

      font-size: 1.125rem;
      line-height: 1.25;
      width: 66%;

      @media (min-width: $breakpoint-sm) {
        width: 245px;
        font-size: 1.4rem;
        line-height: 1.2;
      }
    }

    .icon-arrow {
      display: inline-block;
      height: .9rem;
      margin-left: .25rem;
      width: auto;
      fill: white;
    }
  }

  > div.text-aside {

    position: absolute;
    left: -13rem;
    top: .5rem;
    max-width: 12rem;
    text-align: right;
    @include compactText();
    display: none;

    @media (min-width : $breakpoint-md) {
      display:block;
    }

    .underline {
      border-bottom: 1px solid $magenta;
    }

    .date {
      color: $magenta;
    }

    h3 {

      width: 100%;
      @include compactText();
      line-height: 1.35;

      @media (min-width: $breakpoint-md) {
        color: $magenta;
      }
    }

    .icon-arrow {
      fill: $magenta;
      height: .6rem;
      width: auto;
    }

  }



  &.twitter {
    background: $magenta;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;


    > div.text {

      width: 100%;
      margin: 2rem 6rem 2rem 3rem;

      @media (min-width: $breakpoint-sm) {
        width: 320px;
      }

      @media (min-width: $breakpoint-md) {
        margin: 2rem 6rem 2rem 2rem;
      }

      h3, .date {
        @include compactText();
      }


    }

    svg {

      fill : white;
      height: 3.5rem;
      width: auto;
      position: absolute;
      top: 0rem;
      left: 0rem;
      opacity: 0;

      @media (min-width: $breakpoint-md) {
        opacity: 1;
      }

    }

    //> div:first-of-type {
    //  width: 4rem;
    //  margin: 2rem 0 0 2rem;
    //
    //  svg {
    //
    //    fill : white;
    //    height: 3rem;
    //    width: auto;
    //  }
    //}


  }

  &.thread {

    background: $yellow;
    color: black;
    overflow : hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 200px;


    @media (max-width: $breakpoint-md) {
      margin-left: 0;
      width: calc(100% - 2rem);
    }

    > div.text {

      width: 280px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @include compactText();

      margin: 2rem 6rem 2rem 3rem;

      @media (min-width: $breakpoint-md) {
        width: 320px;
        margin: 2rem 6rem 2rem 2rem;
      }

      .date { display: block; color: black; }

      > div:nth-child(1) {

        margin-bottom: 1rem;
      }

      .icon-arrow {
        height: .6rem;
        fill: black;
      }
    }

    svg {

      opacity: 0;
      fill: #fff;
      height: 1.5rem;
      width: auto;
      position: absolute;
      top: 1rem;
      left: 1rem;

      @media (min-width: $breakpoint-md) {
        opacity: 1;
      }

    }
  }
}