.block.contact {

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;
    height: auto;

    div.flex-row {

      display: flex;
      flex-direction: column;
      align-items: center;
      @media all and (-ms-high-contrast:none) {
        overflow: hidden;
      }

      @media  (min-width: $breakpoint-sm) {
        flex-direction: row;
        align-items: center;
      }

      > div:nth-child(1) {

        display: flex;
        flex-direction: column;
        width: 50%;
        position: relative;
        margin: 1.5rem auto;

        @media  (min-width: $breakpoint-sm) {
          width: 7.5rem;
          margin: 0 auto;
        }

        > .img-container {

          width: 100%;
          height: auto;
          border-radius: 150%;
        }
      }

      > div:nth-child(2) {
        width: calc(100%);
        align-items: center;
        display: flex;
        flex-direction: column;

        @media  (min-width: $breakpoint-sm) {
          width: calc(100% - 9rem);
          align-items: flex-start;
        }
      }
    }

    div.flex-column  {
      display: flex;
      flex-direction: column;
    }


    h3 {

      font-weight: normal;
      color: $magenta;
      padding: 0;
      margin: 0;
      border: none;

    }

    p {
      margin: 1.5rem 0 0 0;
      hyphens: auto;
    }

  .contact_info {

    text-align: center;
    display: block;
    @include compactText();
    color: $magenta;

    @media  (min-width: $breakpoint-sm) {
      @include bodyText();
      text-align: left;
    }

    &.email {
      border-color: $magenta;
      display: inline-block;
      margin: 0 auto 5px auto;
      @media  (min-width: $breakpoint-sm) {
        margin: 0 0 5px 0;
      }
    }

  }
}