.thread.faq {

  .comment {

    .datetime, .author {
      display: none;
    }
  }

  .comment:nth-of-type(1) {

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .comment:not(:nth-of-type(1)) {

    padding: 0 1.5rem;
    height: 0;
    overflow: hidden;
  }

  .comment:last-of-type {
    margin-bottom: 0;
  }

  .thread-reply, .comment:last-of-type .thread-reply {
     display: none;
   }


  &.open {

    .comment:nth-of-type(1) {

      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .comment:not(:nth-of-type(1)) {

      padding: 1rem 1.5rem;
      height: auto;
    }
  }
}