#menu {

  position: fixed;
  z-index: 9;
  left: 0;
  width: 1.5rem;
  top: 0;
  bottom: 0;

  overflow: visible;
  background: #fff;
  transition: all .3s ease;

  @media (min-width : $breakpoint-sm) {
    width : 5rem;
    height: auto;
    left: auto;
    right: 0;
    display: block;
  }

  @media (min-width : $breakpoint-md) {

    //padding-top : 6.25rem;

  }

  @media (min-width : $breakpoint-bax) {
    width: calc((100vw - 1046px) / 2);
  }

  @media (min-width: $breakpoint-lg) {
    //width: calc((100vw - 1220px) / 2);
  }


  .beeldmerk-background {

    background: white;
    width: calc(4rem - 1px);
    height: 9rem;

    @media (min-width : $breakpoint-bax) {
      display: none;
    }
  }

  .background-helper {

    position: absolute;
    top: 0;
    bottom: 0rem;
    width: 5rem;
    right: -3rem;
    background: url("/assets/svg/golftegel_mob.svg");
    background-repeat: repeat-y;
    background-position: left top;
    //transform: scale(-.75,.75);

    @media (min-width : $breakpoint-sm) {

      background: url("/assets/svg/golftegel.svg");
      left: -4rem;
      right: auto;
      //transform: scale(1,1);
    }

    @media (min-width : $breakpoint-bax) {

      left: -3rem;
    }

  }

  .icon-hamburger {

    position: absolute;
    top: 7rem;
    left: 1rem;
    z-index: 99;
    width : 2rem;
    height : auto;
    //margin-top: 6.25rem;

    @media (min-width : $breakpoint-sm) {
      top: 2.25rem;
    }


    @media (min-width : $breakpoint-bax) {
      left: auto;
      right: 5rem;
      top: 8.5rem;
    }

    @media (min-width : $breakpoint-md) {


    }

    @media (min-width : $breakpoint-lg) {
      display: none;
    }

    rect {
      fill : transparent;
    }

    path {
      stroke : $magenta;
      fill : transparent;
    }

  }

  .woordmerk {

    display: none;


    @media (min-width : $breakpoint-md) {
      display: none;
    }
  }

  nav {
    position: relative;
    z-index: 99;
    height: calc(100% - 7rem);
    display: none;
    margin-left: 2rem;
    padding-top: 0rem;
    margin-top: -5.25rem;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0 0 2.25rem;
    width: calc(100% - 6.25rem);

    @media (min-width: $breakpoint-sm) {

      width: 66%;
      align-self: flex-end;
      margin-top: 12rem;
      height: calc(100% - 24rem);
      justify-content: flex-start;

    }

    @media (min-width: $breakpoint-md) {
      margin-left: 1.5rem;
      width: 16rem;
      padding: 0;
      margin-top: 0;
      height: calc(100% - 12rem);

    }

    @media (min-width: $breakpoint-bax) {
      margin-top: 12rem;
    }

    @media (min-width: $breakpoint-lg) {
      display: flex;
      margin-top: 0;
      height: calc(100% - 0rem);
      //height: calc(100%);
    }

    #search {
      position: relative;

      @media (min-width: $breakpoint-sm) {
        margin: 1.5rem 0 0 0;
      }
    }

    ul#website {
      margin: 0 0 8rem .75rem;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @media (min-width: $breakpoint-sm) {
        padding: 0;
        align-items: flex-start;
        margin: 0rem 0 3rem 0rem;

      }

      @media (min-width: $breakpoint-bax) {
        padding: 0;
        margin: 6.5rem 0 3rem 0.75rem;
      }

      @media (min-width: $breakpoint-md) {

      }

      li {

        position: relative;
        margin-bottom: .25rem;

        a {

          display: inline-block;
          color: $magenta;
          border-bottom: 1px solid $magenta;
          line-height: 1.66;
          transition: all 250ms ease;

          @media (min-width: $breakpoint-md) {

            line-height: 1.33;
          }

          &:hover {
            color: $yellow;
            border-color: $yellow;
          }
        }

      }

      //li:last-of-type {
      //
      //  position: relative;
      //  margin-top: 2rem;
      //}
    }

    ul#social_networks {

      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-left: .75rem;
      margin-top: auto;
      margin-bottom: 2rem;

      @media (min-width: $breakpoint-md) {
        justify-content: flex-start;
      }

      li {

        height: 2.5rem;
        width: 2.5rem;
        line-height: 2.5rem;
        //background: $magenta;
        //background: linear-gradient(to left, rgba(222,220,0,.99), rgba(230,0,126,.99));
        border-radius: 150%;
        margin-left: .25rem;

        //@media (min-width : $breakpoint-md) {
        //  background: linear-gradient(to top, rgba(222,220,0,.99), rgba(230,0,126,.99));
        //}

        svg {
          fill: $magenta;
          height: 2.5rem;
          width: auto;
        }

        &:nth-child(2) {
          //background: linear-gradient(to right, rgba(222,220,0,.99), rgba(230,0,126,.99));
        }
        &:nth-child(3) {
          //background: $magenta;

          //@media (min-width : $breakpoint-md) {
          //  background: linear-gradient(to bottom, rgba(222,220,0,.99), rgba(230,0,126,.99));
          //}
        }

      }

      a {
        border: none;
      }
    }

    #search {

    }

    svg#icon-search {
      position: absolute;
      top: 0rem;
      left: 1rem;

      height: 1.75rem;
      width: auto;
      margin-top: .55rem;
      fill: $magenta;
      cursor: pointer;
      transition: all 1000ms ease;
    }

    #search-bar {

      z-index: 2;
      width: calc(100% - 2rem);

      @media (min-width: $breakpoint-md) {
        width: calc(100% - 5rem);
      }
    }

    #search-bar:focus ~ span {

      background: $yellow;
      border-radius: 150%;
      width: 2rem;
      height: 2rem;

      svg#icon-search { // #search-bar.open,

        left: auto;
        right: 0.5rem;
      }
      //width: 8rem;
      //border-bottom: 1px solid $magenta;

    }
  }

  h3 {
    color: $magenta;
  }

  &.open {

    width: calc(100vw);

    @media (min-width: $breakpoint-md) {
      width: 17rem;
    }

    @media (min-width : $breakpoint-bax) {
      width: calc((100vw - 0rem - 1046px));
    }

    .woordmerk {

      display: block;

      @media (min-width : $breakpoint-md) {
        display: none;
      }
    }

    .icon-hamburger {

      @media (min-width : $breakpoint-sm) {
        left: auto;
        right: 3rem;
      }
    }

    nav {
      display: flex;
    }


  }
}

#page #menu {

  @media (min-width: $breakpoint-bax) {
    //width: calc(100vw - 10rem - 1046px);
    width: calc((100vw - 1046px) / 2);
  }

  @media (min-width: $breakpoint-lg) {
    width: calc((100vw - 1000px) / 2);
  }

  &.open {

    width: calc(100vw);

    @media (min-width: $breakpoint-md) {
      width: 17rem;
    }

    @media (min-width: $breakpoint-bax) {
      width: 20rem;
    }
  }
}