#pagination {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 3rem 0;
  padding: 0;
  @media (min-width: $breakpoint-sm) {
    justify-content: flex-start;
  }

  li {
    width: 2rem;
    height: 2rem;
    //border: 1px solid $black;
    background: $light-grey;
    color: $black;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
  }

  li.points {
    border-color: $white;
  }

  li.active {

    background: $yellow;
  }

  li:hover {

    background: $grey;

  }
}
