
.newsletter-settings-container, .popup-container {
  position: absolute;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 9999999;

  &.show  {
    display: block;
  }
}


.newsletter-settings, .popup {
  position: fixed;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  max-height: 90vh;
  overflow-y: scroll;
  z-index: 100;
  @media (max-width: $breakpoint-sm) {
    max-height: 80vh;
  }
}

.popup  {

  position: relative;
  height: 90vh;
  background: white;

  p {
    margin: 0;
  }

  table.zuidas-table {

      max-width: 600px;
      margin: 1rem 0;
  }
}

.newsletter-settings-overlay, .popup-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(0,0,0,0.4);
}

.newsletter-settings-header, .popup-header {
  background-color: $magenta;
  padding: 25px 15px;
  position: relative;
  color: white;

  > h1 {

    margin: 0 0 0px 10px;
    color: white;
    font-size: 2rem;
    font-weight: normal;

  }

  a {
    color: white;
    border-color: white;
  }

  .language-switch {

    position: absolute;
    bottom: 1rem;
    right: 3rem;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    display: none;

    > li {
      text-transform: uppercase;
      cursor: pointer;

      &.active {
        font-family: 'Hind 600', sans-serif;
        font-weight: normal;
      }

    }

    li:first-child:after {
      content : '|';
      margin: 0 .25rem;
    }
  }
}

.newsletter-settings-content, .popup-content {
  display: flex;
  flex-flow: row wrap;
  background-color: #fff;
  padding: 25px;
}

.popup-content {
  flex-flow: column wrap;

  > div {
    margin: 1rem 0;
  }
}

.newsletter-settings-content-column {
  flex: 1 auto;

  > p {
    margin-bottom: 0;
  }

  label span {
    display: inline-block;
    margin: 0 0 0 .25rem;
  }

  .multiselect {
    display: flex;
    flex-direction: column;
    border: 1px solid #b1b1b1;
    padding: 10px;
    margin-top: 15px;
    max-height: 35vh;
    overflow-y: auto;
    overflow-x: hidden;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      justify-content: flex-start;
    }
  }
}




.hidden {
  display: none !important;
}

.newsletter-settings-content-column .multiselect span {
  display: block;
}

div.multiselect > div:nth-child(2) {

  margin-top : 10px;
  @media (min-width: $breakpoint-md) {
    margin-top : 0px;
    padding: 0 0 0 60px;
  }
}

.newsletter-settings-footer {
  background-color: #fff;
  padding: 0 25px 25px 25px;

  button {
    margin-right: 10px;
  }
}

.noscroll {
  overflow: hidden;
}


