.post-intro {

  margin-top: 1rem;
  margin-left: 4.5rem;
  margin-right: 1rem;

  @media (min-width: $breakpoint-sm) {

    //margin-left: 6.5rem;
    margin-right: 2rem;
    margin-left: 0rem;
  }

  @media (min-width: $breakpoint-md) {

    margin-top: 4rem;
    margin-right: 6rem;
  }

  @media (min-width: $breakpoint-bax) {

    margin-right: 16rem;
  }

  p {
    margin-bottom: 1.5rem;

  }

  p:first-of-type {

     @include bodyTextBold();

  }
}