
.container-page {

  .post-header {

    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

    @media (min-width: $breakpoint-sm) {
      margin-right: -3rem;
    }

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      margin-right: -6rem;

    }

    @media (min-width: $breakpoint-bax) {

      margin-right: auto;
    }


    > div.post-header--title {

      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      padding: 0 0rem 0 4.5rem;
      width : calc(100% - 7.5rem);
      margin-top: 1.5rem;


      @media (min-width: $breakpoint-sm) {

        //width : 20rem;
        padding: 0 0rem 0 0rem;
      }

      @media (min-width: $breakpoint-md) {
        margin-top: 0;
        width : 18.5rem;
        padding: 0 0rem 0 0;
      }

      .woordmerk {
        position: absolute;
        top: 0;
        left: 0;
      }

      .italic {
        //font-style: italic;
      }

      h2 {

        margin-top: 1.5rem;
        font-size: 2rem;
        line-height: 1.2;
        color: $magenta;
        width: 100%;
        hyphens: manual;


        @media (min-width: $breakpoint-sm) {
          font-size: 2rem;
          line-height: 1.2;
        }
      }

      .date, .interviewee, .interviewee_organisation {
        color: $magenta;
        line-height: 1.25;
        margin: 5px 0;


        @media (min-width: $breakpoint-md) {
          margin-top: 0;
          //margin-bottom: 1.5rem;
        }
      }

      .date {
        margin-bottom: 1.5rem;
      }

      .interviewee {
        border-bottom: 1px solid $magenta;
        line-height: 1.33;
      }

      .interviewee_organisation {

      }
    }

    > div:nth-child(2) {

      width: calc(100%);
      height: auto;

      > div {
        border-bottom-left-radius: 5px;
      }



      @media (min-width: $breakpoint-md) {
        width: calc(100% - 20rem);
      }
    }

  }
}

 .post-intro--title {

   @media (min-width: $breakpoint-sm) {
     width: calc(100% - 60px);
   }

   h2 {
     @media (min-width: $breakpoint-sm){
       margin: 0;
     }
   }
   .date {
     display: block;
   }
 }