.related-posts {

  display: flex;
  flex-direction: column;
  margin-left: 2rem;


  @media (min-width: $breakpoint-sm) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
  }


  .block {

    width: 100%;
    height: 240px;
    margin-bottom: 1.5rem;

    @media (min-width: $breakpoint-sm) {

      height: 340px;
    }

    @media (min-width: $breakpoint-md) {

      width: calc(50% - .75rem);
    }


    .gradient {
      opacity: .4;
      transition: opacity 500ms ease;
    }

    > div.text {
      opacity: 1;
    }

    .text-aside {
      display: none;
    }

    &:hover {

      .gradient {
        opacity: 0;
      }
    }
  }

}