.snippet  {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  text-decoration: none;
  margin-bottom: 2rem;
  min-height: 5rem;
  border:none;
  @include compactText();

  @media (min-width: $breakpoint-sm) { // max 760{
    flex-direction: row;

  }

  a {
    color: black;
    border: none;
  }

  div.image-container {

    width : 100%;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    width: calc(100% + 3rem);
    margin-bottom: .75rem;
    margin-left: -4rem;


    @media (min-width: $breakpoint-sm) { // max 760{
      width: 5rem;
      margin-right: 1rem;
      margin-bottom: 0rem;
      margin-left: 0rem;
    }

    @media (min-width: $breakpoint-md) { // max 760{
      width: 12rem;
      margin-right: 1rem;
      margin-bottom: 0rem;
      margin-left: 0rem;
    }

    svg {
      margin-top: .5rem;
      margin-left: 2.5rem;
    }
  }

  div.card-text {

    cursor: pointer;
    width: calc(100%);
    padding-right: 0rem;

    @media (min-width: $breakpoint-sm) { // max 760{
      width : calc(100% - 7.5rem);
      padding-right: 2rem;
    }
    @media (min-width: $breakpoint-md) { // max 760{
      width : calc(100% - 13.5rem);
      padding-right: 0rem;
    }
  }

  .datetime {
    color: $magenta;
  }


  h3 {

    display: inline-block;
    margin-right: 1rem;
    @include compactText();
    cursor: pointer;
    color: $magenta;


    span.interviewee {
      //color: $magenta;
      border-bottom: 1px solid $magenta;
    }


  }

  a:not(.underlined_link) { text-decoration: none; border: none; }

  a:hover { background: none; }

  //.document-taglist {
  //
  //  padding: 0;
  //  margin: 0;
  //  list-style: none;
  //
  //  li {  display: inline-block; margin-right: .5rem; }
  //}

  &.comment-snippet {

    div.image-container svg {
      transform: scale(2);
      margin-top: 2.5rem;
    }

    .card-text .search-excerpt.smallerfont {
      line-height: 1.55;
    }

    .card-text p:last-child {
      margin-bottom: 0;
    }

    .tag-tab {
      cursor: none;
    }

    .article-link {
      display: inline-block;
      margin-top: .5rem;

      a { border-bottom: 1px solid black; }
    }

    .link-tab {
      display: inline-block;
      background: $light-grey;
      border: 1px solid $light-grey;
      margin: .5rem .5rem .2rem 0;
      -webkit-transition: background .25s cubic-bezier(.19,1,.22,1);
      transition: background .25s cubic-bezier(.19,1,.22,1);
      cursor: pointer;
      height: 2rem;
      padding: 0 1rem;
      text-decoration: none;
      line-height: 2.1rem;

      &:hover {
        background: $yellow;
        border: 1px solid $yellow;
      }
    }
  }
}


