
#sharing {


  margin-left: 4.5rem;

  @media(min-width: $breakpoint-sm) {

    margin-left: 0;
  }

}

#social-buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 4rem;
  @media(min-width: $breakpoint-sm) {
    //align-items: flex-end;
    //margin-bottom: 2rem;
    //margin-top: -6rem;
    //width: 640px;

  }
  @media(min-width: 1200px) {
    //margin-bottom: -4rem;
    //margin-top: 0;
    //width: calc(100% - 1rem);

  }
  @media (max-width: $breakpoint-lg) and (min-width: $breakpoint-md) {

  }
  @media(min-width: $breakpoint-lg) {

  }

}

#social-buttons {

    display: flex;
    justify-content: flex-start;

    margin-bottom: 3rem;
    margin-top: .5rem;

    @media (min-width: $breakpoint-md) {

      margin-top: 2.8rem;
    }



    ul {

      display: flex;
      flex-direction: row;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 50%;
        background: $light-grey;
        transition: all 250ms ease;

        margin-left: .5rem;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        //@media(min-width: 1200px) {
        //  background: white;
        //}
      }

      svg  {

        height: 2rem;
        width: 2rem;
        fill: black;
        transition: all 250ms ease;

        path {
          fill: black;
        }
      }

      //svg:hover {
      //
      //  fill: black;
      //  @media(min-width: 1200px) {
      //    fill: black;
      //  }
      //}

      li:hover {
        background: $yellow;

        //svg {
        //  fill: white;
        //
        //  path {
        //    fill: black;
        //  }
        //}
      }
    }
}
