
.subscription-form {

  position: relative;
  text-align: right;

  margin-left: .75rem;
  margin-bottom: 0rem;

  @media (min-width : $breakpoint-sm) {
    text-align: left;
    margin-bottom: 0rem;
  }





  > div {
    position: relative;
    margin: .5rem 0 0rem -.75rem;

    width: calc(100% - 2rem);

    @media (min-width : $breakpoint-md) {
      width: calc(100% - 5rem);
    }

    button {
      position: absolute;
      top: 0;
      right: -2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: .5;

      svg {
        fill : black;
        width: 1rem;
        height: auto;
      }
    }

    input[type='text'] {
      line-height: 1.33
    }

    .subscription-notification {
      @include compactText();
      margin: 1rem 0 0 0rem;
      display: block;
      background: #dedc00;
      padding: .33rem 1rem;
      width: 100%;
      border-radius: 5px;
      line-height: 1.33;
      opacity: 0;
      transition: opacity 250ms ease;


      &.visible {
        opacity: 1;
      }
    }
  }

  h3, p {
    @include compactText();
  }

  p {
    //line-height: 1.25;
    width: calc(100% - 2rem);
    display: none;

    @media (min-width : $breakpoint-md) {
      display: block;
    }
  }

  input {

    width: calc(100% - 3rem);
    padding-right: 3rem;
  }

  h3 {


    line-height: 1;
    display: inline;
    color: $magenta;
    border-bottom: 1px solid $magenta;

    @media (min-width: $breakpoint-md) {
      font-size: 1.125rem;
    }
  }
}
