.woordmerk {

  position: absolute;
  top: 2rem;
  left: 4.5rem;
  font-family: 'Akkurat';
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: $magenta;
  margin-bottom: 4rem;




  @media (min-width: $breakpoint-sm) {

    position : relative;
    top: 0rem;
    left: 0rem;
    font-size: 1.6rem;
    margin-bottom: 4rem;
    margin-top: 6.25rem;

  }

  > span {
    margin-left: 3px;
  }
}

#menu .woordmerk {

  @media (min-width: $breakpoint-sm) {
    position: absolute;
    top: 6.25rem;
    left: 8rem;
    font-size: 1.6rem;
    margin: 0;
  }

  @media (min-width: $breakpoint-md) {

    position : relative;
    top: 0rem;
    left: 0rem;

    margin-bottom: 4rem;
    margin-top: 6.25rem;

  }
}

