<!DOCTYPE html>
<html lang="nl">
{{> head}}

<body id="homepage">

{{> google-tag-manager }}

<header>
    <div class="container-homepage">
        {{> beeldmerk }}
    </div>
</header>

{{> menu}}

    <div class="container-homepage">

        <main>

            {{> woordmerk }}

            <section>
                <article>
                        <h2>{{ body.home.title }}</h2>
                        {{{body.home.content }}}
                </article>
            </section>

            <section id="contacts">
                <h2>Contact</h2>
                {{#each body.contacts as |contact| }}
                    {{> block-contact contact=contact format='short'}}
                {{/each}}
            </section>

            <section id="partners">
                <h2>Partners</h2>
                {{#each body.partners as |partner| }}
                    {{> block-partner partner=partner }}
                {{/each}}

            </section>

        </main>

        <aside>

            {{#each body.posts as |post| }}
                {{> block post=post }}

            {{/each}}

        </aside>

    </div>



{{> newsletter-settings }}
</body>
{{> footer-scripts}}
</html>
