<!DOCTYPE html>
<html>
<head>
    {{> head}}
</head>
<body id="nieuws">

    {{> menu}}

    <header>
        <div class="container-page">
            {{> beeldmerk }}
        </div>
    </header>

        <div id="archived-content" class="container-page">

            <main id="center-column">

                <div id="search-form-container">
                    <h2>Zoek</h2>
                    <div id="search-form">
                        <!--placeholder="uw zoekterm"-->
                        <input id="archive-search-box" type="text"><button>zoek</button>
                    </div>
                    <div id="result-count-container" style="display:none";><span></span> resultaten gevonden</div>
                    <!--<span class="visible-on-portrait underlined_link" onclick="search.openFilters()">Filter</span>-->
                </div>

                <div id="search-content-container">
                    {{#each archiveContent as |blog|}}
                        {{> blog-card-small blog=blog}}
                    {{/each}}
                </div>

                <ul id="pagination"></ul>
            </main>
            <aside>

                <span class="taxonomy">Type:</span>

                <ul id="content-filter">

                    <li class="type">
                        <div class="checkbox"><input id="post" type="checkbox" checked/><label for="post"></label></div>
                        <span class="smallerfont">Artikelen</span>
                    </li>
                    <li class="type">
                        <div class="checkbox"><input id="theme" type="checkbox" checked/><label for="theme"></label></div>
                        <span class="smallerfont">Pagina</span>
                    </li>
                    <li class="type">
                        <div class="checkbox"><input id="document" type="checkbox" checked/><label for="document"></label></div>
                        <span class="smallerfont">Documenten</span>
                    </li>
                    <li class="type">
                        <div class="checkbox"><input id="comment" type="checkbox" checked/><label for="comment"></label></div>
                        <span class="smallerfont">Reacties</span>
                    </li>
                </ul>

                <span class="taxonomy tags">Tags:</span>

                <div id="tag-container"></div>

            </aside>
        </div>



</body>
    {{> footer-scripts }}
</html>
