<!DOCTYPE html>
<html lang="nl">
{{> head}}

<body id="projectteam">

{{> google-tag-manager }}

<header>
    <div class="container-homepage">
        {{> beeldmerk }}
    </div>
</header>

{{> menu}}

    <div class="container-homepage">

        <main>

            {{> woordmerk }}

            <section>
                <article>
                        <h2>{{ body.page.title }}</h2>

                </article>
            </section>

            <section id="contacts">
                {{#each body.contacts as |contact| }}
                    {{> block-contact contact=contact }}
                {{/each}}
            </section>


        </main>


    </div>




</body>
{{> footer-scripts}}
</html>
