<!DOCTYPE html>
<html lang="nl">

{{> head}}

<body id="page">

{{> google-tag-manager }}

{{> menu}}

<header>
    <div class="container-page">
        {{> beeldmerk }}
    </div>
</header>

<div class="container-page">
    <main id="main">
        <div class="post-header">
            <div class="post-header--title">
                <!--{{> woordmerk }}-->
                <span class="date">{{formatDate body.date 'D MMMM YYYY'}}<span id="pageview-count"></span></span>

                {{#if body.interviewee.name }}
                <div class="interviewee">{{body.interviewee.name}}</div>
                <div class="interviewee_organisation">{{body.interviewee.organisation}}</div>
                {{/if}}
                <h2 class="">{{{body.title}}}</h2>
            </div>
            <div class="post-header--image">
                {{> responsive-image image=body.main_image format='main'}}
            </div>
        </div>

        <div class="post-intro">
            {{{body.content}}}
        </div>

        {{> sections sections=body.sections}}
        {{> blog-rating }}
        {{> comment-section}}


        <div class="container after_comments">

            <section id="newsletter">

                {{> subscription-form}}

            </section>

            <section id="sharing">

                {{> social-buttons }}
            </section>

        </div>


        {{> related-posts posts=body.related_posts}}

    </main>

    <aside>

    </aside>
</div>

</body>
{{> footer-scripts}}
</html>
