.section.documents {

  //background: $light-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 3rem 0 0rem 0;
  width: calc(100% - 4.5rem);
  padding: 0rem 0 0rem 4.5rem;

  @media (min-width : $breakpoint-sm) {
    padding: 3rem 0 0rem 0;
    margin: 2rem 0 3rem 0;
  }

  a {
    border: none;
  }

  h2 {

    margin-bottom: 2rem;
    color: $magenta;
    border-bottom: 1px solid $magenta;
    display: inline-block;
    align-self: flex-start;

  }

  ul {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      width: 100%;
      text-decoration: none;
      display: block;
      color: black;

      @media (min-width : $breakpoint-md) {
        width: calc(50% - 1rem);
      }

    }

    a:hover {

      background: transparent;
    }

    li {

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 2rem;

      > div:nth-of-type(1) {

        width: 2rem;
      }

      > div:nth-of-type(2) {

        width : calc(100% - 2rem - 1rem);
      }

      svg {

        margin-right: 1rem;
        width: 2rem;
        height: auto;
        transform: scale(1,1); //  rotate(-5deg);
        fill : black;

        g {
          //fill:  $green;
        }
      }

      h3 {
        width: calc(100% - 3rem);
        font-size: 1.25rem;
        line-height: 1.25;
        margin-top: -0.25rem;
        //margin-bottom: .25rem;
        @include bodyText();

        //color: black;
        //color: $teal;
      }

      span {

        //color: black;
        //width: calc(100% - 3rem);
        //display: block;
        //line-height: 1.25;
        //margin-left: 3rem;

      }

    }

  }
}