@mixin squareImage() {

  width: 100%;
  @media (min-width : $breakpoint-md) {
    width: calc(2 * ((100vw - 12rem - 1rem) / 5));
  }
  @media (min-width : $breakpoint-lg) {
    width: calc(2 * ((100vw - 24rem - 1rem) / 5));
  }
}

@mixin cameraImage() {
  width: 100%;
  @media (min-width : $breakpoint-md) {
    width: calc(3 * ((100vw - 12rem - 1rem) / 5));
  }
  @media (min-width : $breakpoint-lg) {
    width: calc(3 * ((100vw - 24rem - 1rem) / 5));
  }

}

@mixin cameraEqualSizes() {
  width: 100%;
  @media (min-width : $breakpoint-md) {
    width: calc(3 * ((100vw - 18rem - 1rem) / 5));
  }
  @media (min-width : $breakpoint-lg) {
    width: calc(3 * ((100vw - 24rem - 1rem) / 5));
  }

}

@mixin singleImage() {
  width: 100%;
  @media (min-width : $breakpoint-md) {
    width: calc(100vw - 16rem);
  }
  @media (min-width : $breakpoint-lg) {
    width: calc(100vw - 32rem);
  }
}

.section.images {
  display: flex;
  flex-direction: row;
  margin: 3rem auto 3rem;
  flex-wrap: wrap;

  @media (min-width: $breakpoint-sm) {
    margin-right: -3rem;
  }
  @media (min-width: $breakpoint-md) {
    margin-right: -5rem;
  }

  @media (min-width: $breakpoint-bax) {
    margin-right: auto;
  }


  > div {

    display: flex;
    flex-direction: column;
    width: 100%;

    > .image-item-overlay {

      display: block;
      //flex-direction: column;
      //align-items: flex-end;
      position: relative;
      //text-align: right;
      @include compactText();
      margin: .75rem .75rem 0 4.5rem;
      width: calc(100% - 6rem);

      @media (min-width: $breakpoint-sm) {
        margin: .75rem 4.5rem 0 0;
      }

      @media (min-width: $breakpoint-md) {
        margin: .75rem .75rem 0 0;
        width: calc(100%);
      }

      .text {
        @include bodyText();
      }

      .photographer {
        @include bodyText();
      }
    }

    &.center {

      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @media (min-width: $breakpoint-md) {
        width: calc(100% - 12rem);
      }

      @media (min-width: $breakpoint-bax) {
        margin-right: 16rem;
        width: calc(100% - 16rem);
      }

      .img-container {

        @media (min-width: $breakpoint-lg) {

        }
      }

      .image-item-overlay {


        .text {
          margin-top: .75rem;
        }

        @media (min-width: $breakpoint-md) {
          margin-right: 0;
        }
      }

    }

    &.right {

      display: flex;

      flex-direction: column;
      justify-content: space-between;

      @media (min-width: $breakpoint-md) {
        flex-direction: row-reverse;
      }

      .img-container {

        @media (min-width: $breakpoint-lg) {
          width: calc(100% - 20rem);
        }

      }

      > .image-item-overlay {

        @media (min-width: $breakpoint-bax) {
          width: calc(50% - 1.5rem);
          margin-right: 1.5rem;


        }

        //@media (min-width: $breakpoint-lg) {
        //  width: 18rem;
        //  //margin: 0;
        //  //text-align: left;
        //}
      }

    }

    &.duo.right, &.duo.center {

      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;

      @media (min-width: $breakpoint-sm) {
        flex-direction: row;
      }

      > div {

        width: 100%;

        @media (min-width: $breakpoint-sm) {
          width: calc(50% - .75rem);
        }

      }

      > .image-item-overlay {

        margin-bottom: 0rem;
        width: calc(100% - 10rem);

        @media (min-width: $breakpoint-sm) {
          margin-right: 0;
        }
      }

      > .image-item-overlay:last-child {

          @media (min-width: $breakpoint-sm) {
            margin-right: 6rem;
            width: calc(50% - 6.75rem);
            //align-items: flex-start;
          }

          @media (min-width: $breakpoint-md) {
            margin-right: 4.5rem;
            width: calc(50% - 5.5rem);
          }

          @media (min-width: $breakpoint-bax) {
            margin-right: 0rem;
            width: calc(50% - .75rem);
            //width: 100%;
          }
        }

        > .img-container:first-of-type {
          margin-bottom: 1rem;
          @media (min-width: $breakpoint-sm) {
            margin-bottom: 0rem;
          }
        }

      }
    }
  }

.section.images ~ .section.images {
  margin-top : 0;
}

.section.images ~ .section.quote {
  margin-top : -2rem;
}