.section.paragraph {

  .text {
      padding-left: 4.5rem;
      padding-right: 1rem;

    @media (min-width: $breakpoint-sm) {

      padding-left: 0;
      padding-right: 2rem;
    }

    @media (min-width: $breakpoint-md) {

      padding-left: 0rem;
      padding-right: 6rem;
    }

    @media (min-width: $breakpoint-bax) {

      padding-left: 0rem;
      padding-right: 16rem;
    }
  }

  p {
    margin-bottom: 1.5rem;
  }


  h2 {
    //@include condensed-header();
    @include bodyTextBold();
    font-size: 1.25rem;

  }

  h3 {

    color: $magenta;
    //@include bodyTextBold();
   // font-family: Gotham SSm A,Gotham SSm B;
   // @include condensed-header();
    //padding-bottom: .125rem;

  }


  h4{}


  ul {
    list-style: circle;
    margin-bottom: 3rem;
  }

  li {
  }
}