.section.planning {

  padding: 1rem 0;

 div {


   background-size: 100% 100%;

    //@media (min-width : $breakpoint-bax ) {

      width: calc(100% - 16rem);
      height: 140px;

    //}

    &.planning_lean {

      height: auto;

        img {
          width : 100%;
          height: auto;
        }

    }
  }

}

