
.section.quote {

  padding: 1.5rem 0;
  display: block;
  //flex-direction: column;
  //align-items: center;

  //svg {
  //  position: absolute;
  //  width: 3rem;
  //  height: auto;
  //  margin: 0 1rem;
  //}

  //svg:first-of-type {
  //  top: 3.65rem;
  //  left: -8rem;
  //  transform: scaleY(-1);
  //}

  //svg:last-of-type {
  //  transform: scale(-1);
  //  bottom: 6rem;
  //  right: -8.5rem;
  //}

  .quote__text {

    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.2;
    text-align: right;
    color: $magenta;

    padding-left: 5.5rem;
    padding-right: 1rem;

    @media (min-width: $breakpoint-sm) {

      padding-right: 2rem;
      font-size: 1.8rem;
      line-height: 1.2;
    }

    @media (min-width: $breakpoint-md) {
      padding-left: 0rem;
      padding-right: 6rem;
    }

    @media (min-width: $breakpoint-bax) {


      padding-left: 0rem;
      padding-right: 16rem;
    }

    p {
      margin-bottom: 0;
    }
  }

  .quote__text__name {

    display: block;
    margin-top: 1.25rem;
    text-align: right;
    // @include uppercase();

    padding-right: 1rem;

    @media (min-width: $breakpoint-sm) {
      padding-right: 2rem;
    }
    @media (min-width: $breakpoint-md) {
      padding-right: 6rem;
    }

    @media (min-width: $breakpoint-bax) {
      padding-right: 16rem;
    }
  }
}