
.section.streamer {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 3rem auto 3rem;

  > div {

    color: $magenta;
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 400;
    max-width: 700px;
    padding-left: 4.5rem;
    //border-left: 6px double black;

    @media (min-width: $breakpoint-sm) {

      padding-left: 0;
      padding-right: 2rem;
      font-size: 1.8rem;
      line-height: 1.2;
    }

    @media (min-width: $breakpoint-md) {

      padding-right: 0;
    }
  }

  &.right {

    justify-content: flex-end;

    > div {
      text-align: right;
      padding-left : 0;
      padding-right: 1.5rem;
      border-left: 0px double black;
      border-right: 6px double black;

    }
  }

}