
.section.video {

  margin-bottom: 2rem;

  @media (min-width: $breakpoint-sm) {
    padding-right: 3rem;
  }

  @media (min-width: $breakpoint-md) {
    padding-right: 6rem;
  }

  @media (min-width: $breakpoint-bax) {
    padding-right: 16rem;
  }

}

.video-wrapper {
  margin-top: 1.5rem;
}

.video-wrapper {

  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  width: 100%;
  overflow: hidden;

  iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


  .still-image {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: auto;
    width: 100%;
    opacity: 1;
    transition: opacity 250ms ease;
  }

  .still-image.play-state {

    display: none;

  }

  .play-knop {

    position: relative;
    width: 3.75rem;
    padding-left: .25rem;
    height: 4rem;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(222,220,0,.99), rgba(230,0,126,.99));
    opacity: 1;
    position: absolute;
    left: calc(50% - 2rem);
    top: calc(50% - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;

    svg {

      width: 1.5rem;
      height: auto;
      fill: white;

      //position: absolute;

    }
  }

}
