
.container-homepage {

  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  width: calc(100vw);
  margin: 0 auto;

  @media (min-width: $breakpoint-sm) {
    width: calc(100vw - 16rem);
  }
  @media (min-width: $breakpoint-md) {
    width: calc(100vw - 14rem);
    margin-left: 8rem; // links vast zetten
    flex-direction: row;
  }
  @media (min-width: $breakpoint-bax) {
    width: 1046px;  //  10rem  - x- 12
    margin: 0 auto;
  }
  @media (min-width: $breakpoint-lg) {
    width: 1046px;
  }
  @media (min-width: $breakpoint-xl) {
  }
}

#homepage main {

  width: 100%;

  @media (min-width : $breakpoint-sm) {
    width: calc(100% - 2rem);
  }

  @media (min-width : $breakpoint-md) {
  width: calc(50% - 2rem);
  }

  @media (min-width : $breakpoint-bax) {
    width: 500px;
        //transform: translateY(9rem);
  }
  @media (min-width : $breakpoint-lg) {
    width: 500px;
  }

  article {

    display: none;
    margin: 2rem 0 2rem 4.5rem;
    @include compactText();

    @media (min-width: $breakpoint-md) {
      display: flex;
      margin: 2rem 0;
    }

    a p {
      color: black;
      margin-bottom: 1.5rem;
    }

    h2, h3 {
      font-weight: normal;
      color: $magenta;
      @include compactText();
      padding: 0;
      margin: 0;
    }

    h3 {


    }

    &:hover {
      .icon-arrow {
        margin-left: .33rem;
      }
    }

    &:first-of-type {

      display: flex;
      flex-direction: column;
      margin: 7.75rem 1rem 2rem 4.5rem;

      @media (min-width: $breakpoint-sm) {
        margin: 2rem 0;
      }
    }
  }

}

#page section#contacts, #page section#partners, #homepage section#contacts, #homepage section#partners {

  display: none;

  @media (min-width : $breakpoint-md) {
    display: block;
  }
}



