.container-page {

  position: relative;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  justify-content: space-between;
  width: 100vw;
  margin: 0 auto 0 auto;

  @media (min-width: $breakpoint-sm) {
    width: calc(100vw - 16rem);
    margin-left: 8rem;
    flex-direction: column;
  }
  @media (min-width: $breakpoint-md) {
    width: calc(100vw - 14rem);
    margin-left: 8rem; // links vast zetten
    flex-direction: row;
  }
  @media (min-width: $breakpoint-bax) {
    width: 1046px;  //  10rem  - x- 12
    margin: 0 auto;
  }
  @media (min-width: $breakpoint-lg) {
    width: 1000px; // 1220px;
  }
  @media (min-width: $breakpoint-xl) {
    //width: calc( #{$breakpoint-xl} - 13rem);
  }

}

#page #partners {

  @media (max-width: $breakpoint-md) {
    display: none;
  }

  h2 {
      margin-bottom: 3rem;
  }

  > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 12rem;
    justify-content: space-between;

    @include compactText();

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
    }
  }



  .block.partner {

    @media (min-width: $breakpoint-md) {
      width: calc(50% - 1.5rem);
    }
  }
}
