#blog {

  article {

    @media (min-width: $breakpoint-sm) {
      margin: 4rem 0;
    }
  }

  aside {

    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-sm) {

      position: fixed;
      z-index: 9;
      top: 0rem;
      right: 2rem;
      height: 100%;
      justify-content: center;

      &.absolute {
        position: absolute;
      }
    }
  }
}

#related-posts {

  display: block;
  margin-top: 14rem;
  margin-bottom: 6rem;

  .container-large {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    .block {

      position: relative;
      width: calc((100% / 2) - (2rem));
      padding: 1rem;
    }
  }
}

.after_comments {

  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  margin-left: 0;


  @media(min-width : $breakpoint-md) {

    flex-direction: row;
    justify-content: space-between;

    > section {

      width: calc(50% - 1rem);


    }

  }

  #newsletter {

    margin-left: 4.5rem;
    margin-right: 2rem;

    @media (min-width : $breakpoint-sm) {

      margin-left: 0rem;
      margin-right: 16rem;

    }

    @media (min-width : $breakpoint-md) {

      margin-right: 0rem;

    }
  }


  .subscription-form {

    margin-left: 0;
    text-align: left;

    > div {
      margin: .5rem 0 2rem 0rem;
    }

    p {
      font-size : 1.125rem;
    }
  }
}