
#projectteam main {
  padding-top: 7rem;

  @media (min-width : $breakpoint-sm) {
    padding-top: 0rem;
    width: calc(100% - 3rem);
  }

  @media (min-width : $breakpoint-md) {
    width: calc(100% - 12rem);

  }

  article  {
    margin: 0 0 0 4.5rem;
    width: calc(100% - 6.5rem);

    @media (min-width : $breakpoint-sm) {
      margin: 0 2rem 0 0;
      width: 100%;
    }

    h2  {
      color: $magenta;
      border-bottom: 1px solid $magenta;
      display: inline-block;

      @media (min-width : $breakpoint-sm) {
        margin: 0 0 2rem 0;
      }
      @media (min-width : $breakpoint-md) {

      }
    }
  }
}

#projectteam section#contacts {


  position: relative;

  @media (min-width : $breakpoint-sm) {
    display: block;
  }

  @media (min-width : $breakpoint-md) {
    display: block;
  }
}




