#archived-content {

  flex-direction: row;

  @media (min-width : $breakpoint-sm) {
    flex-direction: row-reverse;
  }

  main {

    width : calc(100% - 6rem);
    margin-left: 4.5rem;

    @media (min-width : $breakpoint-sm) {
      width: 700px;
      margin: auto;
    }
  }

  aside {
    width: 300px;
    display: none;

    @media (min-width : $breakpoint-lg) {
      //display: block;
    }
  }

}

#search-form-container {

  margin: 4rem 0 0 0;

  h2 {
    color: $magenta;
    border-bottom: 1px solid $magenta;
    margin-bottom: 1rem;
    width: auto;
    display: inline-block;

  }

  #search-form {

    position: relative;
    margin-bottom: 3rem;
    width: calc(100% - 1rem);

    @media (min-width : $breakpoint-sm) {
      width: calc(100% - 3rem);
    }

    button {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  #result-count-container {
    margin-bottom: 1rem;
    @include compactText();

    @media (min-width : $breakpoint-sm) {
      margin-bottom: 3rem;
    }
  }
}