
$black : #000;
$white : #fff;
$light-grey : #e8ece9;
$lighter-grey : #F3F5F4;
$grey : #AFB1AF;

$magenta : #e6007e;
$yellow : #dedc00;

$gradient : linear-gradient(to right, $yellow 0%, $magenta 100%);

//// Needs latest Compass, add '@import "compass"' to your scss
////// Permalink - use to edit and share this gradient:
////// http://colorzilla.com/gradient-editor/#e6007e+0,dedc00+100
////background-color: #e6007e; // Old browsers
////@include filter-gradient(#e6007e, #dedc00, vertical); // IE6-9
////@include background-image(linear-gradient(top, #e6007e 0%,#dedc00 100%));

@mixin gradient-animation( $start, $end, $transTime ){
  background-size: 100%;
  background-image: linear-gradient($start, $end);
  position: relative;
  z-index: 100;
  &:before {
    background-image: linear-gradient($end, $start);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity $transTime;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}