@font-face {
  font-family: 'Akkurat';
  src: url(../fonts/Akkurat-Normal.eot);
  src: url(../fonts/Akkurat-Normal.woff) format('woff'),
  url(../fonts/Akkurat-Normal.ttf) format('truetype'),
  url(../fonts/Akkurat-Normal.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akkurat';
  src: url(../fonts/Akkurat-Bold.eot);
  src: url(../fonts/Akkurat-Bold.woff) format('woff'),
  url(../fonts/Akkurat-Bold.ttf) format('truetype'),
  url(../fonts/Akkurat-Bold.svg) format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Akkurat';
  src: url(../fonts/Akkurat-Normal-Italic.eot);
  src: url(../fonts/Akkurat-Normal-Italic.woff) format('woff'),
  url(../fonts/Akkurat-Normal-Italic.ttf) format('truetype'),
  url(../fonts/Akkurat-Normal-Bold.svg) format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Akkurat';
  src: url(../fonts/Akkurat-Bold-Italic.eot);
  src: url(../fonts/Akkurat-Bold-Italic.woff) format('woff'),
  url(../fonts/Akkurat-Bold-Italic.ttf) format('truetype'),
  url(../fonts/Akkurat-Bold-Italic.svg) format('svg');
  font-weight: 500;
  font-style: italic;
}