button {

  position: relative;
  padding: 0 1rem;
  height: 2.5rem;
  line-height: 2.5rem;
  cursor: pointer;
  background: $yellow; // linear-gradient(270deg, rgba(222,220,0,1) 0%, rgba(230,0,126,1)100%);
  border: none;
  width: auto;
  font-size: 1rem;
  z-index: 100;
  color: black;
  box-shadow: none;
  outline: none;
  border-radius: 20px;

  //&:before {
  //  background: linear-gradient(270deg, rgba(230,0,126,1) 0%, rgba(222,220,0,1) 100%, );
  //  content: '';
  //  display: block;
  //  height: 100%;
  //  position: absolute;
  //  top: 0; left: 0;
  //  opacity: 0;
  //  width: 100%;
  //  z-index: -100;
  //  transition: all 500ms ease;
  //}

  &:hover {

    &:before {
      opacity : 1;

    }

  }

  &.small {
    height: 1.5rem;
    line-height: 1.5rem;
  }

  &.circle {
    border-radius: 150%;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0;
  }
}

label {

  font-size: 1rem;
}

input[type=text], input[type=email], input[type=password], input[type=tel], input[type=url], input[type=time], input[type=date] {

  display: inline-block;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1rem;
  //border: 1px solid $magenta;
  width: calc(100% - 2rem); // has padding en border
  box-shadow: none !important;
  -webkit-appearance: none;
  @include bodyText();
  cursor: pointer;

  transition: all 250ms ease;
  height: 2.5rem;
  line-height: 2.5rem;
  border:none;
  outline: none;
  background: $lighter-grey;
  border-radius: 20px;


  &::placeholder {
    //font-style: italic;
    color: $grey;
    @include compactText();
  }

  &:focus::placeholder {
    display: none;
  }

  &:focus {
    //border-color: $yellow;
  }
  &::-moz-focus-inner { border: 0; padding: 0; }
  //&::-webkit-input-placeholder { color: $black !important; }
  //&:-moz-placeholder { color: $black !important; } /* Firefox 18- */
  //&::-moz-placeholder {  color: $black !important; } /* Firefox 19+ */
  //&:-ms-input-placeholder { color: $black !important; }

  &.small {

    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 .25rem;
    //@include small-sans();
  }
}

input[type=file] {

  display: block;
  height: 4rem;
  background: $light-grey;
  border: none !important;
  padding: 1rem;
}

textarea {

  outline: none;
  max-width: calc(100% - 2rem - 2px);
  width: calc(100% - 2rem - 2px);
  min-width: calc(100% - 2rem - 2px);
  //border: 1px solid $magenta;
  background: $lighter-grey;
  word-wrap: break-word;
  width: 100%;
  height: auto;
  padding: .75rem 1rem;
  transition: all 250ms ease;
  border-radius: 20px;
  -webkit-appearance: none;
  border: none;
  @include bodyText();

  &:focus {

    //background: transparent;
    //border-color: $light-grey;
    transition: height 1000ms ease-out;
  }

  &::placeholder {
    //font-style: italic;
    color: $grey;
  }

  &:focus::placeholder {
    display: none;
  }

}

select {
  width: 100%;
  height: 40px;
  border: 1px solid #000;
  border-radius: 0px;
  box-shadow: none;
  background: transparent;
  outline: none;
}



