.container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}


@media (max-width: 1200px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

.flex-row {

  flex-direction: column;
  width: 100%;

  @media (min-width: $breakpoint-sm) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}

.flex-column {

  @media (min-width: $breakpoint-sm) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

}

.flex-half {

  width : 50%;
}