
@mixin bodyText {

    font-family: "Akkurat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.33;

    @media (min-width : $breakpoint-sm) {
        font-size: 1.125rem;
        line-height: 1.6;
    }
}

@mixin bodyTextBold {

    @include bodyText();
    font-weight: 500;
}

@mixin compactText {

    font-family: "Akkurat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.45;
}

@mixin compactBold {

    font-family: "Akkurat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.45;
}


body {
    @include bodyText();
}

.cursor_pointer {
  cursor: pointer;
}

h2, h3, h4 {

    font-family: "Akkurat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.33;

    @media (min-width : $breakpoint-sm) {
        font-size: 1.125rem;
        line-height: 1.33;
    }
}

section {

    > h2 {
        font-weight: normal;
        line-height: 1;
        color: $magenta;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid $magenta;
        display: inline-block;
    }
}

h3 {

    @media (min-width : $breakpoint-sm) {
        margin: 0;
    }
}

p {

    margin-bottom: 1.25rem;
}

a {
    color: $magenta;
    border-bottom: 1px solid $magenta;
    text-decoration: none;
    cursor: pointer;

    &.no_border {
      border: none;
    }
}

a:hover {
    color: black;
    text-decoration: none;
    //background: black;
}

