<div class="snippet {{body.type}} {{explode body.categories}} {{explode body.tags}}">
    <div class="image-container">
        <a href="{{body.url}}">

            {{#if body.main_image }}

                {{> responsive-image format='camera' size='fourth' image=body.main_image }}

            {{/if}}

        </a>
    </div>
    <div class="card-text">

            <span class="datetime evensmallerfont">
                {{#ifEquals body.type 'post'}}
                    {{formatDate ../body.date 'D MMMM YYYY'}}
                    <!--<span class="hidden-on-phone"> - {{{../body.author.first_name}}}{{#if ../body.author.organisation}}, {{../body.author.organisation}}{{/if}}</span>-->
                {{/ifEquals}}

            </span>

        <a href="{{body.url}}">
            <h3>
                {{#if body.interviewee.name }}
                    <span class="interviewee">{{body.interviewee.name}}</span><span class="interviewee_organisation">, {{body.interviewee.organisation}}</span>:
                {{/if}}
                {{{body.title}}}
            </h3>
            <div class="search-excerpt">{{searchExcerpt body.content}}</div>
        </a>
    </div>
</div>
