<div class='thread' id="faq-{{@index}}" data-thread-id='{{thread.[0].id}}'>

    <span class="anchor" id='{{anchorify thread.[0].content}}'></span>

    {{#each thread as |comment|}}

        <div class='comment {{sluggify name}}' data-thread-id='{{threadID}}'>

            <span class='hidden-anchor' id='comment-id-{{id}}'></span>

            <div class='header'>
                <span class="author">{{name}}</span>
                <span class='datetime'>{{formatDate date 'comment'}}</span>
                <span class='rating-container'>
    <span class='rating-button' onclick="respond.rate(this,{{id}})">
    {{> icon-thumbs-up }}
        <span class='rating-value'>{{#ifMoreThan rating 0}}+{{../rating}}{{/ifMoreThan}}</span>
</span>
</span>
            </div>

            {{{content}}}

            <button class='thread-reply' onclick='respond.openThread(this)'>Reageer</button>

            {{#if author.thumbnail}}
                <div class='author-thumbnail-container'>
                    <img src='https://ucarecdn.com/{{author.thumbnail.external_id}}/-/scale_crop/200x200/center/{{author.thumbnail.filename}}' alt='Foto van {{author.name}}' title='Foto van {{author.name}}' />
                </div>
            {{/if}}
        </div>

    {{/each}}

</div>
