<div class='thread faq' id="faq-{{@index}}" data-thread-id='{{body.objectID}}'>

    <span class="anchor" id='{{anchorify body.comments.[0].content}}'></span>

    {{#each body.comments as |comment|}}

        <div class='comment {{sluggify comment.name}}' data-thread-id='{{thread.objectID}}' onclick="this.parentNode.classList.toggle('open')">

            <span class='hidden-anchor' id='comment-id-{{comment.id}}'></span>

            <div class='header'>
                <span class="author">{{comment.name}}</span>
                <span class='datetime'>{{formatDate comment.date 'comment'}}</span>
                <span class='rating-container'>
                    <span class='rating-button' onclick="respond.rate(this,{{comment.id}})">
                        {{> icon-thumbs-up }}
                         <span class='rating-value'>{{#ifMoreThan comment.rating 0}}+{{comment.rating}}{{/ifMoreThan}}</span>
                    </span>
                </span>
            </div>

            {{{comment.content}}}

            <button class='thread-reply' onclick='respond.openThread(this)'>Reageer</button>

        </div>

    {{/each}}

</div>

