#blog-rating {

  display: flex;
  //opacity: 0;
  flex-direction: column;
  align-items: flex-start;

  width: calc(100% - 4.5rem);
  margin-left: 4.5rem;
  transition: opacity 500ms ease;

  min-height: 12rem;

  @media (min-width: $breakpoint-sm) {
    margin-left: 0;
  }

  @media (min-width: $breakpoint-md) {
    width: 100%;

  }


  h2 {

    color: $magenta;
    border-bottom: 1px solid $magenta;
  }

    #appreciation-row {

      display: flex;
      flex-direction: row;
      align-items: center;
      height: 5rem;  // voor IE11

      > svg {

        width: 1.5rem;
        height: 1.75rem;
        margin-right: .25rem;

        polygon {

          fill: $grey;
          stroke: $grey;
          transition: all 250ms ease;
        }

        &:hover polygon {
          fill: $yellow;
          stroke: $yellow;
        }

        &.active polygon {
          fill: $magenta;
          stroke: $magenta;
        }
      }

      span.score {
        display: block;
        align-self: center;
        font-size: 1.25rem;
        margin-top: 4px;
      }
    }

  &.visible {
    opacity: 1;
  }
}