a.comment-card {

  display: block;
  position: relative;
  padding: 1rem 1.5rem;
  margin: 1rem 0;

  svg.comment-backdrop {

    fill: $magenta;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top:0;
    left: 0;
  }

  span.comment-card-text {

    display: inline-block;
    padding: 4rem 0 2rem 0;
  }


  .comment-card-extension {

    transform: rotate(90deg) scaleX(-1);

    fill: $magenta;
    position: absolute;
    right: 1rem;
    bottom: -53px;
    width: 5rem;
    height: 5rem;
  }

  .comment-card-author {

    position: absolute;
    right: 6.5rem;
    bottom: -4rem;
    text-align: right;

    span { display: block;}

    span.datetime {margin-top: -.5rem; }
  }
}

a.comment-card:hover {

  background: transparent;
}

