#comment-section {

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  //min-height: 30rem;
  padding: 0rem  0 .5rem 4.5rem;

  width: calc(100% - 4.5rem);

  @media (min-width: $breakpoint-sm) {
    width: 100%;
    padding-left: 0;
  }

  #respondcontainer {

      width: 100%;
  }

  svg {

    position: absolute;
    top: 6rem;
    left: 0;
    transform: scaleX(-1);
  }


  h2 {

    color : $magenta;
    border-bottom: 1px solid $magenta;
  }

  h3 {

    align-self: flex-start;
    margin-bottom: 0rem;
  }

  #search-form {

    display: flex;
    flex-direction: row;

    width: calc(100% - 2rem);
    margin-bottom: 1.5rem;

    @media (min-width: $breakpoint-sm) {
      //width: calc(100% - 17rem);
    }

    @media (min-width: $breakpoint-md) {
      width: calc(100% - 17rem);
    }

    input {
      width: calc(100% - 6rem);
    }

  }


}

.thread {

  position: relative;
  width: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  margin-left: 2rem;

  @media (min-width: $breakpoint-sm) {
    margin-left: 0rem;
  }


}

.comment-shape-container {

  display: none;
  //position: absolute;
  //right: -.6rem;
  //top: 1.45rem;
  //width: calc(.5rem + 1px);
  //height: 2rem;
  //overflow: hidden;
  //transform: scaleX(-1.25) scaleY(1.25);

}

.comment-shape {

  //position: absolute;
  //left: .25rem;
  //top: 0rem;
  //width: 1rem;
  //height: 1rem;
  //background: $white;
  //border: 1px solid $grey;
  //transform: rotate(45deg);
}

#commenting {

  width: calc(100% - 4.5rem);
  margin-left: 2.5rem;
  margin-bottom: 2rem;
  //padding-left: 9.5rem;

  @media (min-width: $breakpoint-sm) {
    width: 100%;
    margin-left: 0;
  }

}

