.comment {

  position: relative;
  width: calc(100%);
  align-self: flex-start;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background: $light-grey;
  @include compactText();

  @media (min-width: $breakpoint-sm) {
    width: calc(100% - 4rem);
    margin-right: 2rem;
  }

  @media (min-width: $breakpoint-bax) {
    width: calc(100% - 16rem);
  }

  .hidden-anchor {
    position : absolute;
    top: -5rem;
    margin-top: -5rem;
  }

  .header {
    margin-bottom: 1rem;
  }

  .datetime {

    display: block;

    @media (min-width: $breakpoint-md) {
      display: inline-block;
      //width: 100%;
      position: absolute;
      right: 1rem;
      top: 1rem;
      font-size: .85rem;
    }


  }

  .author {

    @include compactBold();
  }

  .thread-reply {

    display: none;
    position: absolute;
    bottom: -3.25rem;
    cursor: pointer;
  }

  .rating-container {

    display: none;
    cursor: pointer;
    position: absolute;
    right: -1rem;
    top: 2rem;

    @media (min-width: $breakpoint-md) {
      display: inline-block;
    }

      .rating-button {

        position: absolute;

        svg {

          width: 1.5rem;
          height: auto;
          transition: all 250ms ease;
          fill : $grey;

          &:hover {
            transform: rotate(10deg);
            fill : $yellow;
          }
        }

        span {

          position: relative;
        }
      }

    .rating-value {

        position: absolute;
        top : 0rem;
        left: 0;
        color: $grey;
        padding-left: .15rem;
    }

  }

  .author-thumbnail-container {

    position: absolute;
    top: 0rem;
    right: -6rem;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    overflow: hidden;

    img {

      width: 100%;
    }
  }

  &::after {

      content : '';
      width : 0;
      height : 0;
      position: absolute;
      left: 2rem;
      top: -1rem;
      border-right: 1em solid transparent;
      border-left: 1rem solid transparent;

      border-bottom: 1rem solid $light-grey;
  }
}

.comment:first-of-type {

  align-self: flex-start;
  margin-right: 0;
  //margin-left: 3rem;
  background: $yellow;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  .author-thumbnail-container {

    right: auto;
    left: -6rem;
  }

  &::after {

    left: -1rem;
    top: 2rem;
    border-top: 1em solid transparent;
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid $yellow;
    border-left: none;
  }
}

.comment:last-of-type {

  margin-bottom: 4rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  .thread-reply  {

    display: inline-block;
  }
}

#comments-wrapper .comment{


}
