#respondcontainer {
  margin-bottom: 4rem;
  width: calc(100% - 0rem);

  @media (min-width: $breakpoint-sm) {
    width: calc(100% - 3.5rem);
  }

  @media (min-width: $breakpoint-md) {
    width: calc(100% - 6rem);
  }

  @media (min-width: $breakpoint-bax) {
    width: calc(100% - 16rem);
  }
}

  .respondform {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;

    height: 7.5rem;
    overflow: hidden;

    padding-left: 2rem;
    width: calc(100% - 2rem);


    @media (min-width: $breakpoint-sm) {

      width : 100%;
      padding-left: 0rem;
    }

    @media (min-width: $breakpoint-md) {

      padding-left: 0rem;
      width: calc(100% - 12rem);
    }


    input {

      margin-top: 0;

    }




    .flex-column {
      position: relative;
      margin-bottom: 1rem;

      @media (min-width: $breakpoint-md) {
        width: calc(50% - 1rem);
        margin-bottom: 0rem;
      }

      &:nth-child(2) {
        margin-bottom: 0rem;
        @media (min-width: $breakpoint-md) {
          margin-left: 2rem;
        }
      }
    }

    .textarea-container {

      //margin: 1rem 0 .25rem 0;
      position: relative;
      width: calc(100% - 0rem);


    }

    .thread .respondform {
      width: calc(100% - 7rem);
    }

    textarea {
      min-height: 80px;
      margin: 1.5rem 0;
    }


    label {

      margin-top: .5rem;
      display: block;

    }

    button {

      margin: 1.5rem 0 2rem 0;

    }


    #warning {

      margin-top: 1rem;
    }

    //.comment-shape-container {
    //
    //  top: 1.2rem;
    //  // left: -.57rem;
    //  left: -0.56rem;
    //  right: auto;
    //  transform: scaleX(1.25) scaleY(1.25);
    //
    //  .comment-shape {
    //
    //    background: $light-grey;
    //  }
    //
    //}


    //.comment-shape {
    //
    //  border-color: $black;
    //}


  }

  //#closeform, #openform {
  //
  //  position: absolute;
  //  top: 0.75rem;
  //  right: 0.75rem;
  //  width: 1.5rem;
  //  height: 1.5rem;
  //  /*		background: $geel;*/
  //  padding: .5rem;
  //
  //  svg {
  //
  //    width: 100%;
  //    height:auto;
  //    stroke-width: 2px;
  //    stroke: $black;
  //  }
  //}

  //#closeform { display: none; }
  //
  //#openform svg { transform: rotate(45deg); }
  //


  #comment-template-new, #comment-template-reply {

    margin: 0;
    padding: 0;
    height: 0;
    opacity: 0;
    transition: opacity 1500ms ease;
  }

  #comment-template-new.visible, #comment-template-reply.visible {

    height: auto;
    opacity: 1;
    margin-bottom: 1rem;
    margin-right: 6rem;

  }

  #comment-template-reply.visible {

    margin-right: 6rem;
    padding: 1rem 1.5rem 0rem 1.5rem;
    flex-direction: column;

  }

  //.thread .respondform  {
  //
  //  padding-left: 12rem;
  //  @media (max-width: $breakpoint-sm) {
  //    padding-left: 2rem;
  //  }
  //
  //}
